@using MustardSeedMission.Models
@using MustardSeedMission.ViewModels

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DefaultLayoutPage.cshtml";
}
<script>
    (function ($) {
        $.extend({
            @*/**
         * 数字千分位格式化
         * @public
         * @param mixed mVal 数值
         * @param int iAccuracy 小数位精度(默认为2)
         * @return string
         */*@
            formatMoney: function (mVal, iAccuracy) {
                var fTmp = 0.00;//临时变量
                var iFra = 0;//小数部分
                var iInt = 0;//整数部分
                var aBuf = new Array(); //输出缓存
                var bPositive = true; //保存正负值标记(true:正数)
                @*/**
             * 输出定长字符串，不够补0
             * <li>闭包函数</li>
             * @param int iVal 值
             * @param int iLen 输出的长度
             */*@
                function funZero(iVal, iLen) {
                    var sTmp = iVal.toString();
                    var sBuf = new Array();
                    for (var i = 0, iLoop = iLen - sTmp.length; i < iLoop; i++)
                        sBuf.push('0');
                    sBuf.push(sTmp);
                    return sBuf.join('');
                };

                if (typeof (iAccuracy) === 'undefined')
                    iAccuracy = 2;
                bPositive = (mVal >= 0);//取出正负号
                fTmp = (isNaN(fTmp = parseFloat(mVal))) ? 0 : Math.abs(fTmp);//强制转换为绝对值数浮点
                //所有内容用正数规则处理
                iInt = parseInt(fTmp); //分离整数部分
                iFra = parseInt((fTmp - iInt) * Math.pow(10, iAccuracy) + 0.5); //分离小数部分(四舍五入)

                do {
                    aBuf.unshift(funZero(iInt % 1000, 3));
                } while ((iInt = parseInt(iInt / 1000)));
                aBuf[0] = parseInt(aBuf[0]).toString();//最高段区去掉前导0
                return ((bPositive) ? '' : '-') + aBuf.join(',') + '.' + ((0 === iFra) ? '00' : funZero(iFra, iAccuracy));
            },
            @*/**
         * 将千分位格式的数字字符串转换为浮点数
         * @public
         * @param string sVal 数值字符串
         * @return float
         */*@
            unformatMoney: function (sVal) {
                var fTmp = parseFloat(sVal.replace(/,/g, ''));
                return (isNaN(fTmp) ? 0 : fTmp);
            },
        });
    })(jQuery);
</script>
<script>
    $(document).ready(function() {
        $("#slOrderNo").change(function() {
            if ($("#slOrderNo").val() === "") {
                $("#divGrid table tbody").empty();
                CaluTotal();
                return;
            }
            $("#btnSearchHide").click();
        });

        $("#btnConfirm").click(function() {
            if ($("#slOrderNo").val() === "") {
                alert("請選擇回收單號");
                return false;
            }
            if ($("#divGrid table tbody tr").length === 0) {
                alert("無數據要確認");
                return false;
            }
            var input = $("#divGrid table tbody tr input[type='text']");
            var ex = /^\d+$/;
            var chk = "";
            input.each(function() {
                var val = $(this).val();
                if (val === "") {
                    chk = "1";
                    return;
                }
                if (!ex.test(val)) {
                    chk = "2";
                    return;
                }
            });
            if (chk === "1") {
                alert("值不能為空");
                return false;
            }
            if (chk === "2") {
                alert("值必須為非負整數");
                return false;
            }
            if ($("#slChecker").val() === "") {
                alert("清點人員不能為空");
                return false;
            }
            if ($("#txtChecktime").val() === "") {
                alert("清點日期不能為空");
                return false;
            }
            return true;
        });

        $("#btnExport").click(function() {
            if ($("#divGrid table tbody tr").length === 0) {
                alert("請先查詢數據");
                return false;
            }
            return true;
        });

        CaluTotal();
    });

    function CaluTotal() {
        if ($("#divGrid table tbody tr").length > 0) {
            $("#divGridSnd table").removeClass("hide");
            var trs = $("#divGrid table tbody tr");
            var total = 0;
            trs.each(function () {
                var val = $(this).find("td").eq(5).find("input[type='text']").val();
                total = parseFloat(total) + parseFloat(val===""?"0":val);
            });
            var totalFormat = $.formatMoney(total, 0);
            totalFormat = totalFormat.substr(0, totalFormat.indexOf('.'));
            $("#spanTotal").text("此單號總金額：" + totalFormat);
        } else {
            $("#divGridSnd table").addClass("hide");
            $("#spanTotal").text("");
        }
    }

    function txtCheckTotalBlur(obj) {
        if ($(obj).val() !== "") {
            var ex = /^\d+$/;
            if (!ex.test($(obj).val())) {
                alert("值必須為非負整數");
                $(obj).focus();
                $(obj).select();
                return;
            }
            CaluTotal();
        }
    }
</script>
<section class="content-header">
    <h1>核對作業</h1>
</section>
<section class="content">
    @Html.Raw(ViewBag.js)
    <form id="defaultform" class="form-horizontal" method="post" action="@Url.Action("Index", "Reback04")">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="btn-toolbar">
                    <button class="btn btn-primary hide" type="submit" name="action" value="btnSearch" id="btnSearchHide">
                        <i class="fa fa-check-circle" aria-hidden="true"></i> 查詢
                    </button>
                    <div class="btn-group">
                        <button class="btn btn-primary" type="submit" name="action" value="btnConfirm" id="btnConfirm">
                            <i class="fa fa-check-circle" aria-hidden="true"></i> 確認
                        </button>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-primary" type="submit" name="action" value="export" id="btnExport">
                            <i class="fa fa-file-excel-o" aria-hidden="true"></i> 匯出
                        </button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="slOrderNo" class="col-sm-5 col-md-3 col-lg-3 control-label">回收單單號：</label>
                    <div class="col-sm-8  col-md-5 col-lg-5">
                        <select id="slOrderNo" name="slOrderNo" class="form-control">
                            <option value="">==請選擇==</option>
                            @{
                                var allDonationHead = (IEnumerable<DonationHead>) ViewData["AllDonationHead"];
                                if (!string.IsNullOrEmpty(@ViewBag.DocEntry))
                                {
                                    foreach (var item in allDonationHead)
                                    {
                                        if (@item.DocEntry == @ViewBag.DocEntry)
                                        {
                                            <option value="@item.DocEntry" selected="selected">@item.DocEntry</option>
                                        }
                                        else
                                        {
                                            <option value="@item.DocEntry">@item.DocEntry</option>
                                        }
                                    }
                                }
                                else
                                {
                                    foreach (var item in allDonationHead)
                                    {
                                        <option value="@item.DocEntry">@item.DocEntry</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div id="divGrid">
                @{
                    var webGrid = new WebGrid(source: (IEnumerable<DonationListViewModel>) ViewData["DisplayData"], canPage: false, canSort: false, defaultSort: "Serialno", ajaxUpdateContainerId: "divGrid");
                }
                @webGrid.GetHtml(
                    tableStyle: "table table-bordered table-responsive",
                    headerStyle: "headerStyle",
                    alternatingRowStyle: "alternatingRow",
                    selectedRowStyle: "selectedRow",
                    mode: WebGridPagerModes.All, firstText: "第一頁", previousText: "上一頁", nextText: "下一頁", lastText: "最後一頁", numericLinksCount: 10,
                    columns: webGrid.Columns(
                        webGrid.Column(columnName: "DocEntry", header: "回收單號", format:
                            @<text>
                                <label class="form-control-static" style="font-weight: normal">@item.DocEntry</label>
                             </text>),
                        webGrid.Column(columnName: "WorkDay", header: "回收日期", format:
                            @<text>
                                <label class="form-control-static" style="font-weight: normal">
                                    @{
                                        if (@item.WorkDay != null)
                                        {
                                            @item.WorkDay.ToString("yyyy/MM/dd")
                                        }
                                    }
                                </label>
                             </text>),
                        webGrid.Column(columnName: "OperatorName", header: "回收人員", format:
                            @<text>
                                <label class="form-control-static" style="font-weight: normal">@item.OperatorName</label>
                             </text>),
                        webGrid.Column(columnName: "StoreCode", header: "店家代碼", format:
                            @<text>
                                <label class="form-control-static" style="font-weight: normal">@item.StoreCode</label>
                             </text>),
                        webGrid.Column(columnName: "StoreName", header: "店家名稱", format:
                            @<text>
                                <label class="form-control-static" style="font-weight: normal">@item.StoreName</label>
                             </text>),
                        webGrid.Column(columnName: "", header: "總金額", format:
                            @<text>
                                <input type="text" class="form-control" name="CheckTotal" value="@item.CheckTotal" style="width: 70px" onblur="txtCheckTotalBlur(this)" maxlength="9"/>
                                <input type="checkbox" id="chk" name="chk" checked="checked" class="hide" value="@item.Serialno-@item.StoreCode"/>
                             </text>),
                        webGrid.Column(columnName: "", header: "發票", format:
                            @<text>
                                <input type="text" class="form-control" name="CheckInvoice" value="@item.CheckInvoice" style="width: 70px" maxlength="9"/>
                             </text>),
                        webGrid.Column(columnName: "", header: "外鈔", format:
                            @<text>
                                <input type="text" class="form-control" name="Checkcurrency" value="@item.Checkcurrency" style="width: 70px" maxlength="9"/>
                             </text>)
                        )
                    )
            </div>
            <div id="divGridSnd">
                <table class="table table-bordered table-responsive" data-swhgajax="true" data-swhgcontainer="divGridSnd" data-swhgcallback="">
                    <thead>
                    <tr class="headerStyle">
                        <th scope="col">
                            清點人員
                        </th>
                        <th scope="col">
                            清點日期
                        </th>
                        <th scope="col">
                            登打人員
                        </th>
                        <th scope="col">
                            登打日期
                        </th>
                        <th scope="col">
                            回收袋標籤列印數量
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="tdUser">
                            <input type="text" class="form-control" id="slChecker" name="slChecker" maxlength="50"/>
                            @*<select class="form-control" id="slChecker" name="slChecker">
                                <option value="">==請選擇==</option>
                                @{
                                    var Users = (IEnumerable<Users>)ViewData["AllUser"];
                                    foreach (var item in Users)
                                    {
                                        <option value="@item.UserId">@item.UserName</option>
                                    }
                                }
                            </select>*@
                        </td>
                        <td>
                            @*<input type="text" class="form-control" id="txtChecktime" name="txtChecktime" style="width: 70px"/>*@
                            <input type="text" class="form_datetime form-control" id="txtChecktime" name="txtChecktime" readonly>
                        </td>
                        <td>
                            <label class="form-control-static" style="font-weight: normal">@ViewBag.Typer</label>
                        </td>
                        <td>
                            <label class="form-control-static" style="font-weight: normal">@ViewBag.TypeTime</label>
                        </td>
                        <td>
                            <label class="form-control-static" style="font-weight: normal">@ViewBag.PrintCount</label>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <span class="col-sm-12 col-md-10 col-lg-10 form-control-static" style="padding-left: 40px; font-weight: bolder" id="spanTotal">此單號總金額：</span>
            </div>
        </div>
    </form>
</section>












