@using MustardSeedMission.Models
<div class="modal fade" id="Cuscomplait02_Modal01" tabindex="-1" role="dialog" aria-labelledby="Lable_Cuscomplait02_Modal01">
    @using (Ajax.BeginForm("Index", "Cuscomplait02", new AjaxOptions { HttpMethod = "POST" }, new { id = "Cuscomplait02_Modal01_Form", @class = "form-horizontal" }))
    {
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header ">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="Lable_Cuscomplait02_Modal01">客訴單處理作業-修改</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="Cuscomplait02_Modal01_Link" class="col-sm-5 col-md-4 col-lg-4 col-md-offset-1 col-lg-offset-1 control-label">聯誼區：</label>
                        <div class="col-sm-7 col-md-6 col-lg-6">
                            <select class="form-control" id="Cuscomplait02_Modal01_Link" name="Cuscomplait02_Modal01_Link">
                                <option value="">==請選擇==</option>
                                @{
                                    var allRegion = (IEnumerable<Region>)ViewData["AllRegion"];
                                    foreach (var item in allRegion)
                                    {
                                        <option value="@item.Code">@item.Name</option>
                                    }
                                }
                            </select>
                        </div>
                        <label for="Cuscomplait02_Modal01_Type" class="col-sm-5 col-md-4 col-lg-4 col-md-offset-1 col-lg-offset-1 control-label">類別：</label>
                        <div class="col-sm-7 col-md-6 col-lg-6">
                            <select class="form-control" id="Cuscomplait02_Modal01_Type" name="Cuscomplait02_Modal01_Type">
                                <option value="">==請選擇==</option>
                                @{
                                    var allCategory = (IEnumerable<Category>)ViewData["AllCategory"];
                                    foreach (var item in allCategory)
                                    {
                                        <option value="@item.Code">@item.Code</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Cuscomplait02_Modal01_SerArea" class="col-sm-5 col-md-4 col-lg-4 col-md-offset-1 col-lg-offset-1 control-label">服務區：</label>
                        <div class="col-sm-7 col-md-6 col-lg-6">
                            <select class="form-control" id="Cuscomplait02_Modal01_SerArea" name="Cuscomplait02_Modal01_SerArea">
                                <option value="">==請選擇==</option>
                                @{
                                    var allZone = (IEnumerable<Zone>)ViewData["AllZone"];
                                    foreach (var item in allZone)
                                    {
                                        <option value="@item.Code">@item.Name</option>
                                    }
                                }
                            </select>
                        </div>
                        <label for="Cuscomplait02_Modal01_Event" class="col-sm-5 col-md-4 col-lg-4 col-md-offset-1 col-lg-offset-1 control-label">事由：</label>
                        <div class="col-sm-7 col-md-6 col-lg-6">
                            <input type="text" class="form-control" id="Cuscomplait02_Modal01_Event"  name="Cuscomplait02_Modal01_Event" maxlength="200"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Cuscomplait02_Modal01_slShopId" class="col-sm-5 col-md-4 col-lg-4 col-md-offset-1 col-lg-offset-1 control-label">店家代碼：</label>
                        <div class="col-sm-7 col-md-6 col-lg-6">
                            <select class="form-control" id="Cuscomplait02_Modal01_slShopId" name="Cuscomplait02_Modal01_slShopId">
                                <option value="">==請選擇==</option>
                                @{
                                    var allStore = (IEnumerable<Store>)ViewData["AllStore"];
                                    foreach (var item in allStore)
                                    {
                                        <option value="@item.Code">@item.Code</option>
                                    }
                                }
                            </select>
                        </div>
                        <label for="Cuscomplait02_Modal01_Reason" class="col-sm-5 col-md-4 col-lg-4 col-md-offset-1 col-lg-offset-1 control-label">原因：</label>
                        <div class="col-sm-7 col-md-6 col-lg-6">
                            <input type="text" class="form-control" id="Cuscomplait02_Modal01_Reason" name="Cuscomplait02_Modal01_Reason" maxlength="200"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Cuscomplait02_Modal01_ShopName" class="col-sm-5 col-md-4 col-lg-4 col-md-offset-1 col-lg-offset-1 control-label">店家名稱：</label>
                        <div class="col-sm-7 col-md-6 col-lg-6">
                            <input type="text" class="form-control" id="Cuscomplait02_Modal01_ShopName" name="Cuscomplait02_Modal01_ShopName" maxlength="50"/>
                        </div>
                        <label for="Cuscomplait02_Modal01_Remark" class="col-sm-5 col-md-4 col-lg-4 col-md-offset-1 col-lg-offset-1 control-label">備註：</label>
                        <div class="col-sm-7 col-md-6 col-lg-6">
                            <input type="text" class="form-control" id="Cuscomplait02_Modal01_Remark"  name="Cuscomplait02_Modal01_Remark" maxlength="200"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Cuscomplait02_Modal01_Address" class="col-sm-5 col-md-4 col-lg-4 col-md-offset-1 col-lg-offset-1 control-label">地址：</label>
                        <div class="col-sm-7 col-md-6 col-lg-6">
                            <input type="text" class="form-control" id="Cuscomplait02_Modal01_Address"  name="Cuscomplait02_Modal01_Address" maxlength="50"/>
                        </div>
                        <label for="Cuscomplait02_Modal01_Deal" class="col-sm-5 col-md-4 col-lg-4 col-md-offset-1 col-lg-offset-1 control-label">處理方法：</label>
                        <div class="col-sm-7 col-md-6 col-lg-6">
                            <input type="text" class="form-control" id="Cuscomplait02_Modal01_Deal" name="Cuscomplait02_Modal01_Deal" maxlength="10"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Cuscomplait02_Modal01_Tel" class="col-sm-5 col-md-4 col-lg-4 col-md-offset-1 col-lg-offset-1 control-label">電話：</label>
                        <div class="col-sm-7 col-md-6 col-lg-6">
                            <input type="text" class="form-control" id="Cuscomplait02_Modal01_Tel" name="Cuscomplait02_Modal01_Tel" maxlength="20"/>
                        </div>
                        <label for="Cuscomplait02_Modal01_Dealer" class="col-sm-5 col-md-4 col-lg-4 col-md-offset-1 col-lg-offset-1 control-label">處理人員：</label>
                        <div class="col-sm-7 col-md-6 col-lg-6">
                            <input type="text" class="form-control" id="Cuscomplait02_Modal01_Dealer" name="Cuscomplait02_Modal01_Dealer" maxlength="50"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Cuscomplait02_Modal01_Receiver" class="col-sm-5 col-md-4 col-lg-4 col-md-offset-1 col-lg-offset-1 control-label">接案人：</label>
                        <div class="col-sm-7 col-md-6 col-lg-6">
                            <input type="text" class="form-control" id="Cuscomplait02_Modal01_Receiver" name="Cuscomplait02_Modal01_Receiver" maxlength="50"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="Cuscomplait02_Modal01_btnConfirm" class="btn btn-primary" onclick="Cuscomplait02Modal01btnConfirmClick ()"><i class="fa fa-check-circle" aria-hidden="true" ></i> 確 定</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-undo" aria-hidden="true"></i> 取 消</button>
                    <input type="hidden" id="Cuscomplait02_Modal01_txtDocEntry" name="Cuscomplait02_Modal01_txtDocEntry"/>
                </div>
            </div>
        </div>
    }
</div>





