@using MustardSeedMission.Models
<div class="modal fade" id="Basic01_Modal01" tabindex="-1" role="dialog" aria-labelledby="Lable_Basic01_Modal01">
    @using (Ajax.BeginForm("Index", "Basic01", new AjaxOptions { HttpMethod = "POST" }, new { id = "Basic01_Modal01_Form", @class = "form-horizontal" }))
    {
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header ">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="Lable_Basic01_Modal01">人員基本資料維護作業-查詢</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="Basic01_Modal01_txtUid" class="col-sm-7 col-md-6 col-lg-6 control-label">員工帳號：</label>
                        <div class="col-sm-15 col-md-16 col-lg-16">
                            <input type="text" class="form-control" id="Basic01_Modal01_txtUid" name="Basic01_Modal01_txtUid" value="@ViewBag.Basic01_Modal01_Uid" maxlength="50"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Basic01_Modal01_txtName" class="col-sm-7 col-md-6 col-lg-6 control-label">員工姓名：</label>
                        <div class="col-sm-15 col-md-16 col-lg-16">
                            <input type="text" class="form-control" id="Basic01_Modal01_txtName" name="Basic01_Modal01_txtName" value="@ViewBag.Basic01_Modal01_Name" maxlength="50"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Basic01_Modal01_Group" class="col-sm-7 col-md-6 col-lg-6 control-label">員工群組：</label>
                        <div class="col-sm-15 col-md-16 col-lg-16">
                            <select class="form-control" id="Basic01_Modal01_Group" name="Basic01_Modal01_Group">
                                <option value="">==請選擇==</option>
                                @{
                                    var groups = (IEnumerable<Groups>) ViewData["AllGroup"];
                                    if (!string.IsNullOrEmpty(@ViewBag.Basic01_Modal01_Group))
                                    {
                                        foreach (var group in groups)
                                        {
                                            if (@group.GroupId == @ViewBag.Basic01_Modal01_Group)
                                            {
                                                <option value="@group.GroupId" selected="selected">@group.GroupId</option>
                                            }
                                            else
                                            {
                                                <option value="@group.GroupId">@group.GroupId</option>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        foreach (var group in groups)
                                        {
                                             <option value="@group.GroupId">@group.GroupId</option>
                                         }
                                     }
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" value="Basic01_Modal01_btnConfirm" name="action" id="Basic01_Modal01_btnConfirm" class="btn btn-primary"><i class="fa fa-check-circle" aria-hidden="true"></i> 確 定</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-undo" aria-hidden="true"></i> 取 消</button>
                </div>
            </div>
        </div>
    }
</div>
