<script type="text/javascript">
    $(document).ready(function () {
        $('#from-BOM').bootstrapValidator({
            fields: {
                MajorComponentNo: {
                    validators: {
                        notEmpty: {
                            message: '主件品號不能為空！'
                        },
                        callback: {
                            message: '輸入的主件品號已存在，請重新輸入!',
                            callback: function (value, validator) {
                                var res = true;
                                if (value != "")
                                {
                                    $.ajax({
                                        url: '@Url.Action("MajorComponentNo", "Main")',
                                        data: JSON.stringify({ "MajorComponentNo": value }),
                                        type: 'POST',
                                        async:false,
                                        contentType: 'application/json; charset=utf-8',
                                        success: function (data) {
                                            if (data == false) {
                                                res = false;
                                            }
                                        }
                                    })
                                }
                                return res;
                            }
                        }
                    }
                }
            }
        });

        $("#id_sureConfirmDate").datetimepicker({
            format: 'yyyy/mm/dd',
            autoclose: 1,
            forceParse: 1,
            startView: 2,
            minView: 2,
            todayBtn: 1,
            todayHighlight: 1
        });

    });

    $(function () {
        $("#btnMajorComponentNo").click(function () {
            $.ajax({
                url: '@Url.Action("SearchProduct", "Main", new { Area = "CONI02" })',
                type: "POST",
                datatype: 'JSON',
                data: JSON.stringify({ "ProductNo": "", "Col": "", "Condition": "", "conditionValue": "", Page: 1 }),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $("#divProductGrid table tbody").empty();
                    var Maintain = eval(data);
                    for (var i = 0; i < Maintain.length; i++) {
                        $("#divProductGrid table tbody").append("<tr>" +
                                "<td class='actioncolumn'><a class='btn btn-link' data-dismiss='modal' onclick='SelectProduct(this)'>選擇</a>" +
                                "<td class='ProductNoType'>" + Maintain[i].ProductNo + "</td>" +
                                "<td class='ProductNameType'>" + Maintain[i].ProductName + "</td>" +
                                "<td class='SpecificationType'>" + Maintain[i].Specification + "</td>" +
                                "<td class='UnitType'>" + Maintain[i].Unit + "</td>" +
                                "<td class='ProductTypeId1NameType'>" + Maintain[i].ProductTypeId1Name + "</td>" +
                                "<td class='VendorNameType'>" + Maintain[i].VendorName + "</td>" +
                                "</tr>");

                    }
                }
            });
            $("#txtProductNo").val("");
            $("#txtProductName").val("");
            $("#ProductPage").val("1");
            $(".record-selector-product-modal").modal();
        });

        $("#btnSearchProduct").click(function () {
            $.ajax({
                url: '@Url.Action("SearchProduct", "Main", new { Area = "CONI02" })',
                type: "POST",
                datatype: 'JSON',
                data: JSON.stringify({ "ProductNo": $("#txtProductNo").val(), "Col": $("#addProduct_Col").val(), "Condition": $("#addProduct_Condition").val(), "conditionValue": $("#addProduct_conditionValue").val(), Page: 1 }),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $("#divProductGrid table tbody").empty();
                    var Maintain = eval(data);
                    for (var i = 0; i < Maintain.length; i++) {
                        $("#divProductGrid table tbody").append("<tr>" +
                                "<td class='actioncolumn'><a class='btn btn-link' data-dismiss='modal' onclick='SelectProduct(this)'>選擇</a>" +
                                "<td class='ProductNoType'>" + Maintain[i].ProductNo + "</td>" +
                                "<td class='ProductNameType'>" + Maintain[i].ProductName + "</td>" +
                                "<td class='SpecificationType'>" + Maintain[i].Specification + "</td>" +
                                "<td class='UnitType'>" + Maintain[i].Unit + "</td>" +
                                "<td class='ProductTypeId1NameType'>" + Maintain[i].ProductTypeId1Name + "</td>" +
                                "<td class='VendorNameType'>" + Maintain[i].VendorName + "</td>" +
                                "</tr>");
                    }
                }
            });
            $("#ProductPage").val("1");
        });

        $("#divProductGrid").scroll(function () {
            var Page = document.getElementById("ProductPage").value;;
            if (Page != 0) {
                var scrollTop = $(this).scrollTop();
                //var scrollHeight = $(document).height();
                //var windowHeight = $(this).height();
                if (scrollTop + 500 >= (870 - 370) * (Page - 1)) {
                    //此处是滚动条到底部时候触发的事件，在这里写要加载的数据，或者是拉动滚动条的操作
                    Page = parseInt(Page) + 1;
                    $.ajax({
                        url: '@Url.Action("SearchProduct", "Main", new { Area = "CONI02" })',
                        type: "POST",
                        datatype: 'JSON',
                        data: JSON.stringify({ "ProductNo": $("#txtProductNo").val(), "Col": $("#addProduct_Col").val(), "Condition": $("#addProduct_Condition").val(), "conditionValue": $("#addProduct_conditionValue").val(), Page: Page }),
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            var Maintain = eval(data);
                            for (var i = 0; i < Maintain.length; i++) {
                                $("#divProductGrid table tbody").append("<tr>" +
                                    "<td class='actioncolumn'><a class='btn btn-link' data-dismiss='modal' onclick='SelectProduct(this)'>選擇</a>" +
                                    "<td class='ProductNoType'>" + Maintain[i].ProductNo + "</td>" +
                                    "<td class='ProductNameType'>" + Maintain[i].ProductName + "</td>" +
                                    "<td class='SpecificationType'>" + Maintain[i].Specification + "</td>" +
                                    "<td class='UnitType'>" + Maintain[i].Unit + "</td>" +
                                    "<td class='ProductTypeId1NameType'>" + Maintain[i].ProductTypeId1Name + "</td>" +
                                    "<td class='VendorNameType'>" + Maintain[i].VendorName + "</td>" +
                                    "</tr>");
                            }
                        }
                    });
                    $("#ProductPage").val(Page);
                }
            }

        });

        $('#id_MajorComponentNo').blur(function () {
            if (document.getElementById("id_MajorComponentNo").readOnly == true) {
                return;
            }
            if ($("#id_MajorComponentNo").val().trim() != "") {
                $.ajax({
                    url: '@Url.Action("SearchProductInfo", "Main", new { Area = "PSMI03" })',
                    data: JSON.stringify({ "ProductNo": $("#id_MajorComponentNo").val().trim() }),
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        $("#id_MajorComponentNo").val(data.ProductNo);        //品號
                        $("#id_MajorComponentName").val(data.ProductName);     //品名
                        $("#id_Specification").val(data.Specification);        //規格
                        $("#id_Unit").val(data.Unit);     //單位
                    },
                    error: function () {
                        $("#msg_information").html("品號不存在！");
                        $('.msg-modal-lg').modal();
                        $("#id_ProductNo").val("");        //品號
                        $("#id_ProductName").val("");     //品名
                        $("#id_Specification").val("");        //規格
                        $("#id_Unit").val("");     //單位
                    }
                })
            } else {
                $("#id_ProductNo").val("");        //品號
                $("#id_ProductName").val("");     //品名
                $("#id_Specification").val("");        //規格
                $("#id_Unit").val("");     //單位
            }
        });


        $("#btnComponentNo").click(function () {
            $.ajax({
                url: '@Url.Action("SearchProduct", "Main", new { Area = "CONI02" })',
                type: "POST",
                datatype: 'JSON',
                data: JSON.stringify({ "ProductNo": "", "ProductName": "", Page: 1 }),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $("#divProduct_dGrid table tbody").empty();
                    var Maintain = eval(data);
                    for (var i = 0; i < Maintain.length; i++) {
                        $("#divProduct_dGrid table tbody").append("<tr>" +
                                "<td class='actioncolumn'><a class='btn btn-link' data-dismiss='modal' onclick='SelectComponentNo(this)'>選擇</a>" +
                                "<td class='ProductNoType'>" + Maintain[i].ProductNo + "</td>" +
                                "<td class='ProductNameType'>" + Maintain[i].ProductName + "</td>" +
                                "<td class='SpecificationType'>" + Maintain[i].Specification + "</td>" +
                                "<td class='UnitType'>" + Maintain[i].Unit + "</td>" +
                                "<td class='ProductTypeId1NameType'>" + Maintain[i].ProductTypeId1Name + "</td>" +
                                "<td class='VendorNameType'>" + Maintain[i].VendorName + "</td>" +
                                "</tr>");

                    }
                }
            });
            $("#txtProductNo_d").val("");
            $("#txtProductName_d").val("");
            $("#Product_dPage").val("1");
            $(".BOM_D-modal").modal("hide");
            $(".record-selector-product_d-modal").modal();
        });

        $("#btnSearchProduct_d").click(function () {
            $.ajax({
                url: '@Url.Action("SearchProduct", "Main", new { Area = "CONI02" })',
                type: "POST",
                datatype: 'JSON',
                data: JSON.stringify({ "ProductNo": $("#txtProductNo_d").val(), "ProductName": $("#txtProductName_d").val(), Page: 1 }),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $("#divProduct_dGrid table tbody").empty();
                    var Maintain = eval(data);
                    for (var i = 0; i < Maintain.length; i++) {
                        $("#divProduct_dGrid table tbody").append("<tr>" +
                                "<td class='actioncolumn'><a class='btn btn-link' data-dismiss='modal' onclick='SelectComponentNo(this)'>選擇</a>" +
                                "<td class='ProductNoType'>" + Maintain[i].ProductNo + "</td>" +
                                "<td class='ProductNameType'>" + Maintain[i].ProductName + "</td>" +
                                "<td class='SpecificationType'>" + Maintain[i].Specification + "</td>" +
                                "<td class='UnitType'>" + Maintain[i].Unit + "</td>" +
                                "<td class='ProductTypeId1NameType'>" + Maintain[i].ProductTypeId1Name + "</td>" +
                                "<td class='VendorNameType'>" + Maintain[i].VendorName + "</td>" +
                                "</tr>");
                    }
                }
            });
            $("#Product_dPage").val("1");
        });

        $("#divProduct_dGrid").scroll(function () {
            var Page = document.getElementById("Product_dPage").value;;
            if (Page != 0) {
                var scrollTop = $(this).scrollTop();
                //var scrollHeight = $(document).height();
                //var windowHeight = $(this).height();
                if (scrollTop + 500 >= (870 - 370) * (Page - 1)) {
                    //此处是滚动条到底部时候触发的事件，在这里写要加载的数据，或者是拉动滚动条的操作
                    Page = parseInt(Page) + 1;
                    $.ajax({
                        url: '@Url.Action("SearchProduct", "Main", new { Area = "CONI02" })',
                        type: "POST",
                        datatype: 'JSON',
                        data: JSON.stringify({ "ProductNo": $("#txtProductNo_d").val(), "ProductName": $("#txtProductName_d").val(), Page: Page }),
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            var Maintain = eval(data);
                            for (var i = 0; i < Maintain.length; i++) {
                                $("#divProduct_dGrid table tbody").append("<tr>" +
                                    "<td class='actioncolumn'><a class='btn btn-link' data-dismiss='modal' onclick='SelectComponentNo(this)'>選擇</a>" +
                                    "<td class='ProductNoType'>" + Maintain[i].ProductNo + "</td>" +
                                    "<td class='ProductNameType'>" + Maintain[i].ProductName + "</td>" +
                                    "<td class='SpecificationType'>" + Maintain[i].Specification + "</td>" +
                                    "<td class='UnitType'>" + Maintain[i].Unit + "</td>" +
                                    "<td class='ProductTypeId1NameType'>" + Maintain[i].ProductTypeId1Name + "</td>" +
                                    "<td class='VendorNameType'>" + Maintain[i].VendorName + "</td>" +
                                    "</tr>");
                            }
                        }
                    });
                    $("#Product_dPage").val(Page);
                }
            }

        });

        $('#id_BOM_DComponentNo').blur(function () {
            if (document.getElementById("id_BOM_DComponentNo").readOnly == true) {
                return;
            }
            if ($("#id_BOM_DComponentNo").val().trim() != "") {
                $.ajax({
                    url: '@Url.Action("SearchProductInfo", "Main", new { Area = "PSMI03" })',
                    data: JSON.stringify({ "ProductNo": $("#id_BOM_DComponentNo").val().trim() }),
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        $("#id_BOM_DComponentNo").val(data.ProductNo);        //品號
                        $("#id_BOM_DProductName").val(data.ProductName);     //品名
                        $("#id_BOM_DSpecification").val(data.Specification);        //規格
                        $("#id_BOM_DUnit").val(data.Unit);     //單位
                    },
                    error: function () {
                        $("#msg_information").html("品號不存在！");
                        $('.msg-modal-lg').modal();
                        $("#id_BOM_DComponentNo").val("");        //品號
                        $("#id_BOM_DProductName").val("");     //品名
                        $("#id_BOM_DSpecification").val("");        //規格
                        $("#id_BOM_DUnit").val("");     //單位
                    }
                })
            } else {
                $("#id_BOM_DComponentNo").val("");        //品號
                $("#id_BOM_DProductName").val("");     //品名
                $("#id_BOM_DSpecification").val("");        //規格
                $("#id_BOM_DUnit").val("");     //單位
            }
        });

        $("#btnExitComponentNo").click(function () {
            $.ajax({
                url: '@Url.Action("SearchProduct", "Main", new { Area = "CONI02" })',
                type: "POST",
                datatype: 'JSON',
                data: JSON.stringify({ "ProductNo": "", "ProductName": "", Page: 1 }),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $("#divProduct_d_ExitGrid table tbody").empty();
                    var Maintain = eval(data);
                    for (var i = 0; i < Maintain.length; i++) {
                        $("#divProduct_d_ExitGrid table tbody").append("<tr>" +
                                "<td class='actioncolumn'><a class='btn btn-link' data-dismiss='modal' onclick='SelectComponentNoExit(this)'>選擇</a>" +
                                "<td class='ProductNoType'>" + Maintain[i].ProductNo + "</td>" +
                                "<td class='ProductNameType'>" + Maintain[i].ProductName + "</td>" +
                                "<td class='SpecificationType'>" + Maintain[i].Specification + "</td>" +
                                "<td class='UnitType'>" + Maintain[i].Unit + "</td>" +
                                "<td class='ProductTypeId1NameType'>" + Maintain[i].ProductTypeId1Name + "</td>" +
                                "<td class='VendorNameType'>" + Maintain[i].VendorName + "</td>" +
                                "</tr>");

                    }
                }
            });
            $("#txtProductNo_d_Exit").val("");
            $("#txtProductName_d_Exit").val("");
            $("#Product_d_ExitPage").val("1");
            $(".BOM_DExit-modal").modal("hide");
            $(".record-selector-product_d_Exit-modal").modal();
        });

        $("#btnSearchProduct_d_Exit").click(function () {
            $.ajax({
                url: '@Url.Action("SearchProduct", "Main", new { Area = "CONI02" })',
                type: "POST",
                datatype: 'JSON',
                data: JSON.stringify({ "ProductNo": $("#txtProductNo_d_Exit").val(), "ProductName": $("#txtProductName_d_Exit").val(), Page: 1 }),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $("#divProduct_d_ExitGrid table tbody").empty();
                    var Maintain = eval(data);
                    for (var i = 0; i < Maintain.length; i++) {
                        $("#divProduct_d_ExitGrid table tbody").append("<tr>" +
                                "<td class='actioncolumn'><a class='btn btn-link' data-dismiss='modal' onclick='SelectComponentNoExit(this)'>選擇</a>" +
                                "<td class='ProductNoType'>" + Maintain[i].ProductNo + "</td>" +
                                "<td class='ProductNameType'>" + Maintain[i].ProductName + "</td>" +
                                "<td class='SpecificationType'>" + Maintain[i].Specification + "</td>" +
                                "<td class='UnitType'>" + Maintain[i].Unit + "</td>" +
                                "<td class='ProductTypeId1NameType'>" + Maintain[i].ProductTypeId1Name + "</td>" +
                                "<td class='VendorNameType'>" + Maintain[i].VendorName + "</td>" +
                                "</tr>");
                    }
                }
            });
            $("#Product_d_ExitPage").val("1");
        });

        $("#divProduct_d_ExitGrid").scroll(function () {
            var Page = document.getElementById("Product_d_ExitPage").value;;
            if (Page != 0) {
                var scrollTop = $(this).scrollTop();
                //var scrollHeight = $(document).height();
                //var windowHeight = $(this).height();
                if (scrollTop + 500 >= (870 - 370) * (Page - 1)) {
                    //此处是滚动条到底部时候触发的事件，在这里写要加载的数据，或者是拉动滚动条的操作
                    Page = parseInt(Page) + 1;
                    $.ajax({
                        url: '@Url.Action("SearchProduct", "Main", new { Area = "CONI02" })',
                        type: "POST",
                        datatype: 'JSON',
                        data: JSON.stringify({ "ProductNo": $("#txtProductNo_d_Exit").val(), "ProductName": $("#txtProductName_d_Exit").val(), Page: Page }),
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            var Maintain = eval(data);
                            for (var i = 0; i < Maintain.length; i++) {
                                $("#divProduct_d_ExitGrid table tbody").append("<tr>" +
                                    "<td class='actioncolumn'><a class='btn btn-link' data-dismiss='modal' onclick='SelectComponentNoExit(this)'>選擇</a>" +
                                    "<td class='ProductNoType'>" + Maintain[i].ProductNo + "</td>" +
                                    "<td class='ProductNameType'>" + Maintain[i].ProductName + "</td>" +
                                    "<td class='SpecificationType'>" + Maintain[i].Specification + "</td>" +
                                    "<td class='UnitType'>" + Maintain[i].Unit + "</td>" +
                                    "<td class='ProductTypeId1NameType'>" + Maintain[i].ProductTypeId1Name + "</td>" +
                                    "<td class='VendorNameType'>" + Maintain[i].VendorName + "</td>" +
                                    "</tr>");
                            }
                        }
                    });
                    $("#Product_d_ExitPage").val(Page);
                }
            }

        });

        $('#id_BOM_DExitComponentNo').blur(function () {
            if (document.getElementById("id_BOM_DExitComponentNo").readOnly == true) {
                return;
            }
            if ($("#id_BOM_DExitComponentNo").val().trim() != "") {
                $.ajax({
                    url: '@Url.Action("SearchProductInfo", "Main", new { Area = "PSMI03" })',
                    data: JSON.stringify({ "ProductNo": $("#id_BOM_DExitComponentNo").val().trim() }),
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        $("#id_BOM_DExitComponentNo").val(data.ProductNo);        //品號
                        $("#id_BOM_DExitProductName").val(data.ProductName);     //品名
                        $("#id_BOM_DExitSpecification").val(data.Specification);        //規格
                        $("#id_BOM_DExitUnit").val(data.Unit);     //單位
                    },
                    error: function () {
                        $("#msg_information").html("品號不存在！");
                        $('.msg-modal-lg').modal();
                        $("#id_BOM_DExitComponentNo").val("");        //品號
                        $("#id_BOM_DExitProductName").val("");     //品名
                        $("#id_BOM_DExitSpecification").val("");        //規格
                        $("#id_BOM_DExitUnit").val("");     //單位
                    }
                })
            } else {
                $("#id_BOM_DExitComponentNo").val("");        //品號
                $("#id_BOM_DExitProductName").val("");     //品名
                $("#id_BOM_DExitSpecification").val("");        //規格
                $("#id_BOM_DExitUnit").val("");     //單位
            }
        });

        $("#btnBOM_D").click(function () {
            $("#id_BOM_DComponentNo").val("");
            $("#id_BOM_DProductName").val("");
            $("#id_BOM_DSpecification").val("");
            $("#id_BOM_DUnit").val("");
            $("#id_BOM_DQTY").val("0");
            $("#id_BOM_DRemark").val("");
            $('.BOM_D-modal').modal();
        });

        $("#btnSure").click(function () {
            var myDate = new Date();
            var year=myDate.getFullYear();
            var month=myDate.getMonth()+1;
            var date=myDate.getDate();
            $("#id_sureConfirmDate").val(year + "/" + month + "/" + date);
            $(".sure-modal").modal();
        });
    });


    function SelectComponentNo(id) {
        $("#id_BOM_DComponentNo").val($(id).closest('tr').find(".ProductNoType").html());        //品號
        $("#id_BOM_DProductName").val($(id).closest('tr').find(".ProductNameType").html());     //品名
        $("#id_BOM_DSpecification").val($(id).closest('tr').find(".SpecificationType").html());        //規格
        $("#id_BOM_DUnit").val($(id).closest('tr').find(".UnitType").html());     //單位
        $('.BOM_D-modal').modal();

    }

    function SelectComponentNoExit(id) {
        $("#id_BOM_DExitComponentNo").val($(id).closest('tr').find(".ProductNoType").html());        //品號
        $("#id_BOM_DExitProductName").val($(id).closest('tr').find(".ProductNameType").html());     //品名
        $("#id_BOM_DExitSpecification").val($(id).closest('tr').find(".SpecificationType").html());        //規格
        $("#id_BOM_DExitUnit").val($(id).closest('tr').find(".UnitType").html());     //單位
        $('.BOM_DExit-modal').modal();
    }

    function SelectProduct(id) {
        $("#id_MajorComponentNo").val($(id).closest('tr').find(".ProductNoType").html());        //品號
        $("#id_MajorComponentName").val($(id).closest('tr').find(".ProductNameType").html());     //品名
        $("#id_Specification").val($(id).closest('tr').find(".SpecificationType").html());        //規格
        $("#id_Unit").val($(id).closest('tr').find(".UnitType").html());     //單位

        $.ajax({
            url: '@Url.Action("MajorComponentNo", "Main")',
            data: JSON.stringify({ "MajorComponentNo": document.getElementById("id_MajorComponentNo").value }),
            type: 'POST',
            async: false,
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data == false) {
                    $("#msg_information").html("輸入的主件品號已存在，請重新輸入！");
                    $('.msg-modal-lg').modal();
                    return;
                }
            }
        })
    }

    function btnAdd() {
        if (document.getElementById("id_MajorComponentNo").value == "") {
            $("#msg_information").html("主件品號不能為空！");
            $('.msg-modal-lg').modal();
            return;
        }

        var ajaxTrue = true;

        $.ajax({
            url: '@Url.Action("MajorComponentNo", "Main")',
            data: JSON.stringify({ "MajorComponentNo": document.getElementById("id_MajorComponentNo").value }),
            type: 'POST',
            async: false,
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data == false) {
                    $("#msg_information").html("輸入的主件品號已存在，請重新輸入！");
                    $('.msg-modal-lg').modal();
                    ajaxTrue = false;
                    return;
                }
            }
        })

        if (ajaxTrue == true)
        {
            $.ajax({
                url: '@Url.Action("Add", "Main")',
                data: $('#from-BOM').serialize(),
                type: 'POST',
                contentType: 'application/x-www-form-urlencoded',
                success: function (data) {
                    var strData = data.split('-');
                    if (strData[0] == "NO") {
                        $("#msg_information").html(strData[1]);
                        $('.msg-modal-lg').modal();
                    } else {
                        window.location.href = '@Url.Action("Index", "Main")';
                    }

                }
            })
        }

    };

    function btnAddAgain() {
        if (document.getElementById("id_MajorComponentNo").value == "") {
            $("#msg_information").html("主件品號不能為空！");
            $('.msg-modal-lg').modal();
            return;
        }

        var ajaxTrue = true;

        $.ajax({
            url: '@Url.Action("MajorComponentNo", "Main")',
            data: JSON.stringify({ "MajorComponentNo": document.getElementById("id_MajorComponentNo").value }),
            type: 'POST',
            async: false,
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data == false) {
                    $("#msg_information").html("輸入的主件品號已存在，請重新輸入！");
                    $('.msg-modal-lg').modal();
                    ajaxTrue = false;
                    return;
                }
            }
        })

        if (ajaxTrue == true) {
            $.ajax({
                url: '@Url.Action("Add", "Main")',
                data: $('#from-BOM').serialize(),
                type: 'POST',
                contentType: 'application/x-www-form-urlencoded',
                success: function (data) {
                    var strData = data.split('-');
                    if (strData[0] == "NO") {
                        $("#msg_information").html(strData[1]);
                        $('.msg-modal-lg').modal();
                    } else {
                        window.location.href = '@Url.Action("CUR", "Main")';
                    }

                }
            })
        }
    };

    function btnExit() {
        $.ajax({
            url: '@Url.Action("Exit", "Main")',
            data: $('#from-BOM').serialize(),
            type: 'POST',
            contentType: 'application/x-www-form-urlencoded',
            success: function (data) {
                var strData = data.split('-');
                if (strData[0] == "NO") {
                    $("#msg_information").html(strData[1]);
                    $('.msg-modal-lg').modal();
                } else {
                    window.location.href = '@Url.Action("Index", "Main")';
                }

            }
        })
    };

    function btnExitAgain() {
        $.ajax({
            url: '@Url.Action("Exit", "Main")',
            data: $('#from-BOM').serialize(),
            type: 'POST',
            contentType: 'application/x-www-form-urlencoded',
            success: function (data) {
                var strData = data.split('-');
                if (strData[0] == "NO") {
                    $("#msg_information").html(strData[1]);
                    $('.msg-modal-lg').modal();
                } else {
                    window.location.href = '@Url.Action("CUR", "Main")';
                }

            }
        })
    };

    function check() {
        if ($("#id_BOM_DComponentNo").val() == '') {
            $("#msg_information").html("元件品號不能為空！");
            $('.msg-modal-lg').modal();
            return;
        }

        var stritemid = addZero(document.getElementById("divBOM_DGrid").getElementsByTagName('tr').length.toString(),4);

        $("#divBOM_DGrid table tbody").append("<tr>" +
            "<td class='actioncolumn'><a class='btn btn-link' data-dismiss='modal' onclick='BOM_DExit(this)'>編輯</a>|<a class='btn btn-link' data-dismiss='modal' onclick='RemoveProcess(this)'>刪除</a>" +
            "<td class='ItemId'>" + stritemid + "<input type='hidden' class='strCItemId' name='strCItemId' value='" + stritemid + "'></td>" +
            "<td class='ComponentNo'>" + $("#id_BOM_DComponentNo").val() + "<input type='hidden' class='strCComponentNo' name='strCComponentNo' value='" + $("#id_BOM_DComponentNo").val() + "'></td>" +
            "<td class='ProductName'>" + $("#id_BOM_DProductName").val() + "<input type='hidden' class='strCProductName' name='strCProductName' value='" + $("#id_BOM_DProductName").val() + "'></td>" +
            "<td class='Specification'>" + $("#id_BOM_DSpecification").val() + "<input type='hidden' class='strCSpecification' name='strCSpecification' value='" + $("#id_BOM_DSpecification").val() + "'></td>" +
            "<td class='Unit'>" + $("#id_BOM_DUnit").val() + "<input type='hidden' class='strCUnit' name='strCUnit' value='" + $("#id_BOM_DUnit").val() + "'></td>" +
            "<td class='QTY'>" + $("#id_BOM_DQTY").val() + "<input type='hidden' class='strCQTY' name='strCQTY' value='" + $("#id_BOM_DQTY").val() + "'></td>" +
            "<td class='Remark'>" + $("#id_BOM_DRemark").val() + "<input type='hidden' class='strCRemark' name='strCRemark' value='" + $("#id_BOM_DRemark").val() + "'></td>" +
            "</tr>");

        $(".BOM_D-modal").modal("hide");
    };

    function RemoveProcess(id) {
        $(id).parents('tr:first').remove();
        var table = document.getElementById("divBOM_DGrid");
        var trs = table.getElementsByTagName('tr');
        var stritem = "";
        for (var i = 1; i < trs.length; i++) {
            stritem = addZero((i).toString(), 4);
            trs[i].cells[1].innerHTML = stritem + "<input type='hidden' class='strCItemId' name='strCItemId' value='" + stritem + "'>";

        }
    };

    function BOM_DExit(id) {
        $("#id_BOM_DExitItemNo").val($(id).closest('tr').find(".strCItemId").val());
        $("#id_BOM_DExitComponentNo").val($(id).closest('tr').find(".strCComponentNo").val());
        $("#id_BOM_DExitProductName").val($(id).closest('tr').find(".strCProductName").val());
        $("#id_BOM_DExitSpecification").val($(id).closest('tr').find(".strCSpecification").val());
        $("#id_BOM_DExitUnit").val($(id).closest('tr').find(".strCUnit").val());
        $("#id_BOM_DExitQTY").val($(id).closest('tr').find(".strCQTY").val());
        $("#id_BOM_DExitRemark").val($(id).closest('tr').find(".strCRemark").val());
        $('.BOM_DExit-modal').modal();
    };

    function checkExit() {
        if ($("#id_BOM_DExitComponentNo").val() == '') {
            $("#msg_information").html("元件品號不能為空！");
            $('.msg-modal-lg').modal();
            return;
        }

        var table = document.getElementById("divBOM_DGrid");
        var trs = table.getElementsByTagName('tr');
        for (var i = 0; i < trs.length; i++) {
            if ($(trs[i]).closest('tr').find(".strCItemId").val() == $("#id_BOM_DExitItemNo").val()) {
                trs[i].innerHTML = "<td class='actioncolumn'><a class='btn btn-link' data-dismiss='modal' onclick='BOM_DExit(this)'>編輯</a>|<a class='btn btn-link' data-dismiss='modal' onclick='RemoveProcess(this)'>刪除</a>" +
            "<td class='ItemId'>" + $("#id_BOM_DExitItemNo").val() + "<input type='hidden' class='strCItemId' name='strCItemId' value='" + $("#id_BOM_DExitItemNo").val() + "'></td>" +
            "<td class='ComponentNo'>" + $("#id_BOM_DExitComponentNo").val() + "<input type='hidden' class='strCComponentNo' name='strCComponentNo' value='" + $("#id_BOM_DExitComponentNo").val() + "'></td>" +
            "<td class='ProductName'>" + $("#id_BOM_DExitProductName").val() + "<input type='hidden' class='strCProductName' name='strCProductName' value='" + $("#id_BOM_DExitProductName").val() + "'></td>" +
            "<td class='Specification'>" + $("#id_BOM_DExitSpecification").val() + "<input type='hidden' class='strCSpecification' name='strCSpecification' value='" + $("#id_BOM_DExitSpecification").val() + "'></td>" +
            "<td class='Unit'>" + $("#id_BOM_DExitUnit").val() + "<input type='hidden' class='strCUnit' name='strCUnit' value='" + $("#id_BOM_DExitUnit").val() + "'></td>" +
            "<td class='QTY'>" + $("#id_BOM_DExitQTY").val() + "<input type='hidden' class='strCQTY' name='strCQTY' value='" + $("#id_BOM_DExitQTY").val() + "'></td>" +
            "<td class='Remark'>" + $("#id_BOM_DExitRemark").val() + "<input type='hidden' class='strCRemark' name='strCRemark' value='" + $("#id_BOM_DExitRemark").val() + "'></td>";
            }

        }
        $(".BOM_DExit-modal").modal("hide");
    };
</script>
<section class="content-header">
    <h1>BOM表用量維護</h1>
</section>
<section class="content">
    <div class="panel panel-default">
        <div class="panel-heading"><i class="fa fa-pencil fa-fw"></i> Application</div>
        <div class="panel-body">
            <form id="from-BOM" method="post">
                <div class="row">
                    <div class="form-group">
                            <label for="id_MajorComponentNo" class="col-md-3 col-lg-3 control-label">主件品號</label>
                            <div class="col-md-5 col-lg-5">
                                @if (@ViewBag.Type == "Edit" || @ViewBag.Type == "Details")
                                {
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="id_MajorComponentNo" name="MajorComponentNo" value="@ViewBag.MajorComponentNo" maxlength="40" readonly />
                                        <span class="input-group-addon" id="btnMajorComponentNo" style="cursor:pointer;"><span class="fa fa-hand-pointer-o"></span></span>
                                    </div>
                                }
                                else
                                {
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="id_MajorComponentNo" name="MajorComponentNo" value="@ViewBag.MajorComponentNo" maxlength="40" tabindex="2"/>
                                        <span class="input-group-addon" id="btnMajorComponentNo" style="cursor:pointer;"><span class="fa fa-hand-pointer-o"></span></span>
                                    </div>
                                }
                            </div>

                            <label for="id_CreateDate" class="col-md-3 col-lg-3 control-label">建立日期</label>
                            <div class="col-md-5 col-lg-5">
                                <input type="text" class="form-control" id="id_CreateDate" name="CreateDate" value="@ViewBag.CreateDate" maxlength="8" readonly />
                            </div>
                        </div>
                </div>
                <div class="row">
                    <div class="form-group">
                            <label for="id_MajorComponentName" class="col-md-3 col-lg-3 control-label">品名</label>
                            <div class="col-md-5 col-lg-5">
                                <input type="text" class="form-control" id="id_MajorComponentName" name="MajorComponentName" value="@ViewBag.MajorComponentName" maxlength="120" readonly />
                            </div>
                            <label for="id_ModiDate" class="col-md-3 col-lg-3 control-label">修改日期</label>
                            <div class="col-md-5 col-lg-5">
                                <input type="text" class="form-control" id="id_ModiDate" name="ModiDate" value="@ViewBag.ModiDate" maxlength="8" readonly />
                            </div>
                        </div>
                </div>
                <div class="row">
                    <div class="form-group">
                            <label for="id_Specification" class="col-md-3 col-lg-3 control-label">規格</label>
                            <div class="col-md-5 col-lg-5">
                                <input type="text" class="form-control" id="id_Specification" name="Specification" value="@ViewBag.Specification" maxlength="120" readonly />
                            </div>
                            <label for="id_ConfirmDate" class="col-md-3 col-lg-3 control-label">確認日期</label>
                            <div class="col-md-5 col-lg-5">
                                <input type="text" class="form-control" id="id_ConfirmDate" name="ConfirmDate" value="@ViewBag.ConfirmDate" maxlength="8" readonly />
                            </div>
                        </div>
                </div>
                <div class="row">
                    <div class="form-group">
                            <label for="id_Unit" class="col-md-3 col-lg-3 control-label">單位</label>
                            <div class="col-md-5 col-lg-5">
                                <input type="text" class="form-control" id="id_Unit" name="Unit" value="@ViewBag.Unit" maxlength="10" readonly />
                            </div>
                            <label for="id_StandardQTY" class="col-md-3 col-lg-3 control-label">標準批量</label>
                            <div class="col-md-5 col-lg-5">
                                @if (@ViewBag.Type == "Details")
                                {
                                    <input type="text" class="form-control" id="id_StandardQTY" name="StandardQTY" value="@ViewBag.StandardQTY" onblur="if(isNaN(this.value))this.value=''" maxlength="12" readonly />
                                }
                                else
                                {
                                    <input type="text" class="form-control" id="id_StandardQTY" name="StandardQTY" value="@ViewBag.StandardQTY" maxlength="12" onblur="if(isNaN(this.value))this.value=''" tabindex="3" />
                                }
                            </div>
                            <label for="id_Confirmor" class="col-md-3 col-lg-3 control-label">確認人員</label>
                            <div class="col-md-5 col-lg-5">
                                <input type="text" class="form-control" id="id_Confirmor" name="Confirmor" value="@ViewBag.Confirmor" maxlength="50" readonly />
                            </div>
                        </div>
                </div>
                <div class="row">
                    <div class="form-group">
                            <label for="id_Remark" class="col-md-3 col-lg-3 control-label">備註</label>
                            <div class="col-md-21 col-lg-21">
                                @if (@ViewBag.Type == "Details")
                                {
                                    <textarea class="form-control" id="id_Remark" name="Remark" cols="40" rows="5" maxlength="255" readonly>@ViewBag.Remark</textarea>
                                }
                                else
                                {
                                    <textarea class="form-control" id="id_Remark" name="Remark" cols="40" rows="5" maxlength="255" tabindex="4">@ViewBag.Remark</textarea>
                                }
                            </div>
                        </div>
                </div>

                <div class="form-group">
                    <h5>元件資料</h5>
                    <div class="text-right">
                        @if (@ViewBag.Type == "Details")
                        {
                            <button type="button" class="btn btn-primary" id="btnBOM_D" name="action" value="btnBOM_D" aria-label="Left Align" disabled>
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 新增
                            </button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-primary" id="btnBOM_D" name="action" value="btnBOM_D" aria-label="Left Align" tabindex="5">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 新增
                            </button>
                        }

                    </div>
                    <hr />
                    <div id="divBOM_DGrid" style="height: 200px;overflow-y: auto;">
                        @{
                            var webGrid = new WebGrid(source: (IEnumerable<BusinessLayer.Models.BOM_D>)ViewData["BOM_D"], canPage: false, canSort: false, ajaxUpdateContainerId: "divBOM_DGrid");
                        }
                        @webGrid.GetHtml(

                                tableStyle: "table table-striped table-hover",
                                columns: webGrid.Columns(
                                    webGrid.Column(columnName: "", header: "動作", style: "actioncolumn",
                                        format:
                                        @<text>
                                            @if (@ViewBag.Type == "Details")
                                            {
                                                <a class='btn btn-link'>編輯</a><a class='btn btn-link'>刪除</a>
                                            }
                                            else
                                            {
                                                <a class='btn btn-link' data-dismiss='modal' onclick='BOM_DExit(this)'>編輯</a>
                                                <a class='btn btn-link' data-dismiss='modal' onclick='RemoveProcess(this)'>刪除</a>
                                            }
                                        </text>),
                                        webGrid.Column(columnName: "ItemId", header: "項次", style: "ItemId",
                                        format:
                                        @<text>
                                            @item.ItemId
                                            <input type="hidden" class="strCItemId" name="strCItemId" value='@item.ItemId' maxlength="4" tabindex="12">
                                        </text>),
                                        webGrid.Column(columnName: "ComponentNo", header: "元件品號", style: "ComponentNo",
                                        format:
                                        @<text>
                                            @item.ComponentNo
                                            <input type="hidden" class="strCComponentNo" name="strCComponentNo" value='@item.ComponentNo' maxlength="60" tabindex="13">
                                        </text>),
                                        webGrid.Column(columnName: "ProductName", header: "品名", style: "ProductName",
                                        format:
                                        @<text>
                                            @item.ProductName
                                            <input type="hidden" class="strCProductName" name="strCProductName" value='@item.ProductName' maxlength="120" tabindex="14">
                                        </text>),
                                        webGrid.Column(columnName: "Specification", header: "規格", style: "Specification",
                                        format:
                                        @<text>
                                            @item.Specification
                                            <input type="hidden" class="strCSpecification" name="strCSpecification" value='@item.Specification' maxlength="120" tabindex="15">
                                        </text>),
                                        webGrid.Column(columnName: "Unit", header: "單位", style: "Unit",
                                        format:
                                        @<text>
                                            @item.Unit
                                            <input type="hidden" class="strCUnit" name="strCUnit" value='@item.Unit' maxlength="10" tabindex="16">
                                        </text>),
                                        webGrid.Column(columnName: "QTY", header: "組成用量", style: "QTY",
                                        format:
                                        @<text>
                                            @item.QTY
                                            <input type="hidden" class="strCQTY" name="strCQTY" value='@item.QTY' maxlength="12" tabindex="17">
                                        </text>),
                                        webGrid.Column(columnName: "Remark", header: "備註", style: "Remark",
                                        format:
                                        @<text>
                                            @item.Remark
                                            <input type="hidden" class="strCRemark" name="strCRemark" value='@item.Remark' maxlength="255" tabindex="18">
                                        </text>)
    )
)

                    </div>

                </div>
                <p style="color: red;">@ViewBag.Msg</p>
                <div class="text-right">
                    @if (@ViewBag.Type == "Edit")
                    {
                        <button type="button" class="btn btn-primary" name="action" value="Edit" onclick="btnExit()" tabindex="8">存檔</button>
                        <button type="button" class="btn btn-primary" name="action" value="EditAgain" onclick="btnExitAgain()" tabindex="9">存檔並新增</button>
                        <a class="btn btn-primary" href="@Url.Action("Index", "Main", null)">取消</a>
                    }
                    else if (@ViewBag.Type == "Details")
                    {

                        if (@ViewBag.Confirmed == "Y")
                        {
                            <a class="btn btn-primary" href="@Url.Action("Confirmed", "Main", new { MajorComponentNo = @ViewBag.MajorComponentNo,Confirmed='N'})">取消確認</a>
                        }
                        else
                        {
                            <a class="btn btn-primary" href="@Url.Action("Edit", "Main", new { MajorComponentNo = @ViewBag.MajorComponentNo})">編輯</a>
                            <button type="button" class="btn btn-primary" id="btnSure" name="action" value="btnSure" aria-label="Left Align" tabindex="11">確認</button>
                        }

                        <a class="btn btn-primary" onclick="deleteInfo('@Url.Action("Delete", "Main", new { MajorComponentNo = @ViewBag.MajorComponentNo })', '主件 @ViewBag.MajorComponentName 的BOM表用量')">刪除</a>
                        <a class="btn btn-primary" href="@Url.Action("Index", "Main", null)">返回列表</a>
                    }
                    else
                    {
                        <button type="button" class="btn btn-primary" name="action" value="Save" onclick="btnAdd()" tabindex="10">存檔</button>
                        <button type=button class="btn btn-primary" name="action" value="SaveAgain" onclick="btnAddAgain()" tabindex="19">存檔並新增</button>
                        <a class="btn btn-primary" href="@Url.Action("Index", "Main", null)">取消</a>
                    }

                </div>
                 @RenderPage("~/Areas/BOMI01/Views/Shared/sure-modal.cshtml")
            </form>
        </div>
    </div>
</section>
@RenderPage("../../../../Views/Shared/RecordSelector/delete-dialog.cshtml")
@RenderPage("../../../../Views/Shared/RecordSelector/record_selector_product.cshtml")
@RenderPage("../../../../Views/Shared/RecordSelector/record_selector_product_d.cshtml")
@RenderPage("../../../../Views/Shared/RecordSelector/record_selector_product_d_Exit.cshtml")
@RenderPage("../../../../Views/Shared/RecordSelector/msg-dialog.cshtml")
@RenderPage("~/Areas/BOMI01/Views/Shared/BOM_D-modal.cshtml")
@RenderPage("~/Areas/BOMI01/Views/Shared/BOM_DExit-modal.cshtml")

