<script type="text/javascript">
    $(document).ready(function () {
        $('#from-OrderCategory').bootstrapValidator({
            fields: {
                ordertype: {
                    validators: {
                        notEmpty: {
                            message: '單別不能為空！'
                        },
                        callback: {
                            message: '單號已存在!',
                            callback: function (value, validator) {
                                var res = true;
                                if (value != "") {
                                    $.ajax({
                                        url: '@Url.Action("OrderType", "Main", new { Area = "SUPI03"})',
                                        data: JSON.stringify({ "OrderType": value }),
                                        type: 'POST',
                                        async: false,
                                        contentType: 'application/json; charset=utf-8',
                                        success: function (data) {
                                            if (data == false) {
                                                res = false;
                                            }
                                        }
                                    })
                                }
                                return res;
                            }
                        }
                    }
                },
                serialnrcodelength: {
                    validators: {
                        regexp: {
                            regexp: /^[0-9][0-9]*/,
                            message: '流水碼只能包含数字'
                        },
                        callback: {
                            message: '碼長不能超過12碼',
                            callback: function (value, validator) {
                                var res = true;
                                $("#isserianolength").text("");
                                if ($('#selectcodemode').val() == "1") {
                                    $("#id_codestyle").val("yyyymmdd");
                                    document.getElementById("id_serianolength").readOnly = "";
                                }
                                if ($('#selectcodemode').val() == "2") {
                                    $("#id_codestyle").val("yyyymm");
                                    document.getElementById("id_serianolength").readOnly = "";
                                }
                                if ($('#selectcodemode').val() == "3") {
                                    $("#id_codestyle").val("");
                                    document.getElementById("id_serianolength").readOnly = "";
                                }
                                if ($('#selectcodemode').val() == "4") {
                                    $("#id_codestyle").val("");
                                    document.getElementById("id_serianolength").readOnly = "readonly";
                                }
                                if (parseInt(value) + $("#id_codestyle").val().length > 12) {
                                    res = false;
                                }
                                return res;
                            }
                        }
                    }
                }
            }
        });
    });

    function updateFname(idname) {
        $('#id_orderfname').val(document.getElementById(idname).value);
    }

    function updatecode() {
        if ($('#selectcodemode').val() == "1") {
            $("#id_codestyle").val("yyyymmdd");
            document.getElementById("id_serianolength").readOnly = "";
        }
        if ($('#selectcodemode').val() == "2") {
            $("#id_codestyle").val("yyyymm");
            document.getElementById("id_serianolength").readOnly = "";
        }
        if ($('#selectcodemode').val() == "3") {
            $("#id_codestyle").val("");
            document.getElementById("id_serianolength").readOnly = "";
        }
        if ($('#selectcodemode').val() == "4") {
            $("#id_codestyle").val("");
            document.getElementById("id_serianolength").readOnly = "readonly";
        }
        $("#id_serianolength").val("");
    }

    function updatecodelength(idname) {
        $("#isserianolength").text("");
        if ($('#selectcodemode').val() == "1") {
            $("#id_codestyle").val("yyyymmdd");
            document.getElementById("id_serianolength").readOnly = "";
        }
        if ($('#selectcodemode').val() == "2") {
            $("#id_codestyle").val("yyyymm");
            document.getElementById("id_serianolength").readOnly = "";
        }
        if ($('#selectcodemode').val() == "3") {
            $("#id_codestyle").val("");
            document.getElementById("id_serianolength").readOnly = "";
        }
        if ($('#selectcodemode').val() == "4") {
            $("#id_codestyle").val("");
            document.getElementById("id_serianolength").readOnly = "readonly";
        }

        if (parseInt(document.getElementById(idname).value) + $("#id_codestyle").val().length <= 12) {
            $("#id_codestyle").val($("#id_codestyle").val() + "999999999999".substring(0, parseInt(document.getElementById(idname).value)));
        }

    }

    function btnSave() {
        if ($('#ordertype').val() == "") {
            $("#msg_information").html("單別不能為空！");
            $('.msg-modal-lg').modal();
            return;
        }
        $.ajax({
            url: '@Url.Action("OrderType", "Main", new { Area = "SUPI03" })',
            data: JSON.stringify({ "OrderType": $("#ordertype").val() }),
            type: 'POST',
            async: false,
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data == false) {
                    $("#msg_information").html("單別已存在！");
                    $('.msg-modal-lg').modal();
                    return;
                }
            }
        })

        if ($("#id_serianolength").val() != "") {
            if (isNaN($("#id_serianolength").val())) {
                $("#msg_information").html("流水碼請輸入數字！");
                $('.msg-modal-lg').modal();
                return;
            }
        }

        if ($('#selectcodemode').val() == "1") {
            if (parseInt($("#id_serianolength").val()) + 8 > 12) {
                $("#msg_information").html("碼長不能超過12碼！");
                $('.msg-modal-lg').modal();
                return;
            }
        }
        if ($('#selectcodemode').val() == "2") {
            if (parseInt($("#id_serianolength").val()) + 6 > 12) {
                $("#msg_information").html("碼長不能超過12碼！");
                $('.msg-modal-lg').modal();
                return;
            }
        }
        if ($('#selectcodemode').val() == "3") {
            if (parseInt($("#id_serianolength").val()) > 12) {
                $("#msg_information").html("碼長不能超過12碼！");
                $('.msg-modal-lg').modal();
                return;
            }
        }
        if ($('#selectcodemode').val() == "4") {
            if (parseInt($("#id_serianolength").val()) > 12) {
                $("#msg_information").html("碼長不能超過12碼！");
                $('.msg-modal-lg').modal();
                return;
            }
        }

        $.ajax({
            url: '@Url.Action("Add", "Main")',
            data: $('#from-OrderCategory').serialize(),
            type: 'POST',
            contentType: 'application/x-www-form-urlencoded',
            success: function (data) {
                var strData = data.split('-');
                if (strData[0] == "NO") {
                    $("#msg_information").html(strData[1]);
                    $('.msg-modal-lg').modal();
                } else {
                    window.location.href = '@Url.Action("Index", "Main")';
                }
            }
        })
    }

    function btnSaveAgain() {
        if ($('#ordertype').val() == "") {
            $("#msg_information").html("單別不能為空！");
            $('.msg-modal-lg').modal();
            return;
        }
        $.ajax({
            url: '@Url.Action("OrderType", "Main", new { Area = "SUPI03" })',
            data: JSON.stringify({ "OrderType": $("#ordertype").val() }),
            type: 'POST',
            async: false,
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data == false) {
                    $("#msg_information").html("單別已存在！");
                    $('.msg-modal-lg').modal();
                    return;
                }
            }
        })

        if ($("#id_serianolength").val() != "") {
            if (isNaN($("#id_serianolength").val())) {
                $("#msg_information").html("流水碼請輸入數字！");
                $('.msg-modal-lg').modal();
                return;
            }
        }

        if ($('#selectcodemode').val() == "1") {
            if (parseInt($("#id_serianolength").val()) + 8 > 12) {
                $("#msg_information").html("碼長不能超過12碼！");
                $('.msg-modal-lg').modal();
                return;
            }
        }
        if ($('#selectcodemode').val() == "2") {
            if (parseInt($("#id_serianolength").val()) + 6 > 12) {
                $("#msg_information").html("碼長不能超過12碼！");
                $('.msg-modal-lg').modal();
                return;
            }
        }
        if ($('#selectcodemode').val() == "3") {
            if (parseInt($("#id_serianolength").val()) > 12) {
                $("#msg_information").html("碼長不能超過12碼！");
                $('.msg-modal-lg').modal();
                return;
            }
        }
        if ($('#selectcodemode').val() == "4") {
            if (parseInt($("#id_serianolength").val()) > 12) {
                $("#msg_information").html("碼長不能超過12碼！");
                $('.msg-modal-lg').modal();
                return;
            }
        }

        $.ajax({
            url: '@Url.Action("Add", "Main")',
            data: $('#from-OrderCategory').serialize(),
            type: 'POST',
            contentType: 'application/x-www-form-urlencoded',
            success: function (data) {
                var strData = data.split('-');
                if (strData[0] == "NO") {
                    $("#msg_information").html(strData[1]);
                    $('.msg-modal-lg').modal();
                } else {
                    window.location.href = '@Url.Action("CUR", "Main")';
                }
            }
        })
    }

    function btnUpdate() {

        if ($("#id_serianolength").val() != "") {
            if (isNaN($("#id_serianolength").val())) {
                $("#msg_information").html("流水碼請輸入數字！");
                $('.msg-modal-lg').modal();
                return;
            }
        }

        if ($('#selectcodemode').val() == "1") {
            if (parseInt($("#id_serianolength").val()) + 8 > 12) {
                $("#msg_information").html("碼長不能超過12碼！");
                $('.msg-modal-lg').modal();
                return;
            }
        }
        if ($('#selectcodemode').val() == "2") {
            if (parseInt($("#id_serianolength").val()) + 6 > 12) {
                $("#msg_information").html("碼長不能超過12碼！");
                $('.msg-modal-lg').modal();
                return;
            }
        }
        if ($('#selectcodemode').val() == "3") {
            if (parseInt($("#id_serianolength").val()) > 12) {
                $("#msg_information").html("碼長不能超過12碼！");
                $('.msg-modal-lg').modal();
                return;
            }
        }
        if ($('#selectcodemode').val() == "4") {
            if (parseInt($("#id_serianolength").val()) > 12) {
                $("#msg_information").html("碼長不能超過12碼！");
                $('.msg-modal-lg').modal();
                return;
            }
        }

        $.ajax({
            url: '@Url.Action("Update", "Main")',
            data: $('#from-OrderCategory').serialize(),
            type: 'POST',
            contentType: 'application/x-www-form-urlencoded',
            success: function (data) {
                var strData = data.split('-');
                if (strData[0] == "NO") {
                    $("#msg_information").html(strData[1]);
                    $('.msg-modal-lg').modal();
                } else {
                    window.location.href = '@Url.Action("Index", "Main")';
                }
            }
        })
    }

    function btnUpdateAgain() {

        if ($("#id_serianolength").val() != "") {
            if (isNaN($("#id_serianolength").val())) {
                $("#msg_information").html("流水碼請輸入數字！");
                $('.msg-modal-lg').modal();
                return;
            }
        }

        if ($('#selectcodemode').val() == "1") {
            if (parseInt($("#id_serianolength").val()) + 8 > 12) {
                $("#msg_information").html("碼長不能超過12碼！");
                $('.msg-modal-lg').modal();
                return;
            }
        }
        if ($('#selectcodemode').val() == "2") {
            if (parseInt($("#id_serianolength").val()) + 6 > 12) {
                $("#msg_information").html("碼長不能超過12碼！");
                $('.msg-modal-lg').modal();
                return;
            }
        }
        if ($('#selectcodemode').val() == "3") {
            if (parseInt($("#id_serianolength").val()) > 12) {
                $("#msg_information").html("碼長不能超過12碼！");
                $('.msg-modal-lg').modal();
                return;
            }
        }
        if ($('#selectcodemode').val() == "4") {
            if (parseInt($("#id_serianolength").val()) > 12) {
                $("#msg_information").html("碼長不能超過12碼！");
                $('.msg-modal-lg').modal();
                return;
            }
        }

        $.ajax({
            url: '@Url.Action("Update", "Main")',
            data: $('#from-OrderCategory').serialize(),
            type: 'POST',
            contentType: 'application/x-www-form-urlencoded',
            success: function (data) {
                var strData = data.split('-');
                if (strData[0] == "NO") {
                    $("#msg_information").html(strData[1]);
                    $('.msg-modal-lg').modal();
                } else {
                    window.location.href = '@Url.Action("CUR", "Main")';
                }
            }
        })
    }

    function DeleteOrder() {
        $("#choose_msg_information").html("是否確定刪除" + $('#ordertype').val() + "單據性質？");
        $('.choose-msg-modal-lg').modal();
        $(".btnChoose").on("click", function () {
            if ($(this).attr("value") == "True") {
                $.ajax({
                    url: '@Url.Action("Delete", "Main",new { Area = "SERI02" })',
                    data: JSON.stringify({ "OrderType": $('#ordertype').val(), "OrderCategory": $('#ordercategoryId').val() }),
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        var strData = data.split('-');
                        if (strData[0] == "OK") {
                            window.location.href = '@Url.Action("Index", "Main")';
                        } else {
                            $("#msg_information").html(strData[1]);
                            $('.msg-modal-lg').modal();
                        }
                    }
                })
            }
        })

    }
</script>
<section class="content-header">
    <h1>單據性質設定作業</h1>
</section>
<section class="content">
    <div class="panel panel-default">
        <div class="panel-heading"><i class="fa fa-pencil fa-fw"></i> Application</div>
        <div class="panel-body">
            <form id="from-OrderCategory" method="post">
                <div class="row">
                    <div class="form-group">
                        <label for="ordertype" class="control-label col-md-3 col-lg-3">單別</label>
                        <div class="col-md-21 col-lg-21">
                            @if (ViewBag.Type == "Edit" || ViewBag.Type == "Details")
                            {
                                <input type="text" class="form-control" id="ordertype" name="ordertype" value="@ViewBag.OrderType" maxlength="5" readonly />
                            }
                            else
                            {
                                <input type="text" class="form-control" id="ordertype" name="ordertype" value="@ViewBag.OrderType" maxlength="5" tabindex="1"/>
                            }

                            <span style='color:red' id="isordertype"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="ordername" class="control-label col-md-3 col-lg-3">單據名稱</label>
                        <div class="col-md-21 col-lg-21">
                            @if (ViewBag.Type == "Details")
                            {
                                <input type="text" class="form-control" id="ordername" name="ordersname" value="@ViewBag.OrderSName" maxlength="40" onchange="updateFname(this.id)" readonly />
                            }
                            else
                            {
                                <input type="text" class="form-control" id="ordername" name="ordersname" value="@ViewBag.OrderSName" maxlength="40" onchange="updateFname(this.id)" tabindex="2"/>
                            }

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="orderfname" class="control-label col-md-3 col-lg-3">單據全名</label>
                        <div class="col-md-21 col-lg-21">
                            @if (ViewBag.Type == "Details")
                            {
                                <input type="text" class="form-control" id="id_orderfname" name="orderfname" value="@ViewBag.OrderFName" maxlength="80" readonly />
                            }
                            else
                            {
                                <input type="text" class="form-control" id="id_orderfname" name="orderfname" value="@ViewBag.OrderFName" maxlength="80" tabindex="3"/>
                            }

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="id_ordercategory" class="control-label col-md-3 col-lg-3">單據性質</label>
                        <div class="col-md-21 col-lg-21">
                            
                                @if (@ViewBag.Type == "Edit" || @ViewBag.Type == "Details")
                                {
                                    <select class="form-control" name="ordercategoryId" id="ordercategoryId" disabled>
                                        @if (ViewBag.OrderCategoryID == "D1")
                                        {
                                            <option value="D1" selected>D1.保固計劃</option>
                                        }
                                        @if (ViewBag.OrderCategoryID == "D2")
                                        {
                                            <option value="D2" selected>D2.定期保養</option>
                                        }

                                        @if (ViewBag.OrderCategoryID == "D3")
                                        {
                                            <option value="D3" selected>D3.定保派工</option>
                                        }
                                    </select>
                                }
                                else
                                {
                                    <select class="form-control" name="ordercategoryId" id="ordercategoryId" tabindex="4">
                                        @if (ViewBag.OrderCategoryID == "D1")
                                        {
                                        <option value="D1" selected>D1.保固計劃</option>
                                        }
                                        else
                                        {
                                        <option value="D1">D1.保固計劃</option>
                                        }
                                        @if (ViewBag.OrderCategoryID == "D2")
                                        {
                                        <option value="D2" selected>D2.定期保養</option>
                                        }
                                        else
                                        {
                                        <option value="D2">D2.定期保養</option>
                                        }
                                        @if (ViewBag.OrderCategoryID == "D3")
                                        {
                                        <option value="D3" selected>D3.定保派工</option>
                                        }
                                        else
                                        {
                                        <option value="D3">D3.定保派工</option>
                                        }
                                    </select>
                                }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="id_codemode" class="control-label col-md-3 col-lg-3">編碼方式</label>
                        <div class="col-md-21 col-lg-21">
                                @if (@ViewBag.Type == "Edit" || @ViewBag.Type == "Details")
                                {
                                    <select class="form-control" name="codemode" onchange="updatecode()" id="selectcodemode" disabled>
                                        @if (ViewBag.CodeMode == "1")
                                        {
                                            <option value="1" selected>1.日編</option>
                                        }
                                        @if (ViewBag.CodeMode == "2")
                                        {
                                            <option value="2" selected>2.月編</option>
                                        }
                                        @if (ViewBag.CodeMode == "3")
                                        {
                                            <option value="3" selected>3.流水號</option>
                                        }
                                        @if (ViewBag.CodeMode == "4")
                                        {
                                            <option value="4" selected>4.手動</option>
                                        }
                                    </select>
                                }
                                else
                                {
                                    <select class="form-control" name="codemode" onchange="updatecode()" id="selectcodemode" tabindex="5">
                                        @if (ViewBag.CodeMode == "1")
                                        {
                                        <option value="1" selected>1.日編</option>
                                        }
                                        else
                                        {
                                        <option value="1">1.日編</option>
                                        }
                                        @if (ViewBag.CodeMode == "2")
                                        {
                                        <option value="2" selected>2.月編</option>
                                        }
                                        else
                                        {
                                        <option value="2">2.月編</option>
                                        }
                                        @if (ViewBag.CodeMode == "3")
                                        {
                                        <option value="3" selected>3.流水號</option>
                                        }
                                        else
                                        {
                                        <option value="3">3.流水號</option>
                                        }
                                        @if (ViewBag.CodeMode == "4")
                                        {
                                        <option value="4" selected>4.手動</option>
                                        }
                                        else
                                        {
                                        <option value="4">4.手動</option>
                                        }
                                    </select>
                                }
                            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="id_serianolength" class="control-label col-md-3 col-lg-3">流水碼</label>
                        <div class="col-md-21 col-lg-21">
                            @if (ViewBag.Type == "Details")
                            {
                                <input type="text" class="form-control" id="id_serianolength" name="serialnrcodelength" value="@ViewBag.SerialNrCodeLength" maxlength="2" onchange="updatecodelength(this.id)" readonly />
                            }
                            else
                            {
                                <input type="text" class="form-control" id="id_serianolength" name="serialnrcodelength" value="@ViewBag.SerialNrCodeLength" maxlength="2" onchange="updatecodelength(this.id)" tabindex="6"/>
                            }
                            <span style='color:red' id="isserianolength"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="id_codestyle" class="control-label col-md-3 col-lg-3">編碼格式</label>
                        <div class="col-md-21 col-lg-21">
                            <input type="text" class="form-control" id="id_codestyle" name="id_codestyle" disabled value="@ViewBag.Codestyle" maxlength="255" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="id_autoconfirm" class="control-label col-md-3 col-lg-3">自動確認</label>
                        <div class="col-md-21 col-lg-21">
                            @*@if (ViewBag.Type == "Details")
            {
                <input type="text" class="form-control" id="id_autoconfirm" name="autoconfirm" value="@ViewBag.AutoConfirm" maxlength="1" placeholder="Y/N" readonly/>
            }
            else
            {
                <input type="text" class="form-control" id="id_autoconfirm" name="autoconfirm" value="@ViewBag.AutoConfirm" maxlength="1" placeholder="Y/N" />
            }*@
                            @if (ViewBag.Type == "Details")
                            {
                                if (ViewBag.AutoConfirm == "Y")
                                {
                                    <input type="checkbox" id="id_autoconfirm" name="autoconfirm" checked disabled />
                                }
                                else
                                {
                                    <input type="checkbox" id="id_autoconfirm" name="autoconfirm" disabled />
                                }

                            }
                            else
                            {
                                if (ViewBag.AutoConfirm == "Y")
                                {
                                    <input type="checkbox" id="id_autoconfirm" name="autoconfirm" checked tabindex="7"/>
                                }
                                else
                                {
                                    <input type="checkbox" id="id_autoconfirm" name="autoconfirm" tabindex="7"/>
                                }

                            }

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="id_checkexdoder" class="control-label col-md-3 col-lg-3">核對來源單據</label>
                        <div class="col-md-21 col-lg-21">
                            @*@if (ViewBag.Type == "Details")
            {
                <input type="text" class="form-control" id="id_checkexdoder" name="checkexdoder" value="@ViewBag.CheckExOrder" maxlength="1" placeholder="Y/N" readonly/>
            }else
            {
                <input type="text" class="form-control" id="id_checkexdoder" name="checkexdoder" value="@ViewBag.CheckExOrder" maxlength="1" placeholder="Y/N" />
            }*@
                            @if (ViewBag.Type == "Details")
                            {
                                if (ViewBag.CheckExOrder == "Y")
                                {
                                    <input type="checkbox" id="id_checkexdoder" name="checkexdoder" checked disabled />
                                }
                                else
                                {
                                    <input type="checkbox" id="id_checkexdoder" name="checkexdoder" disabled />
                                }

                            }
                            else
                            {
                                if (ViewBag.CheckExOrder == "Y")
                                {
                                    <input type="checkbox" id="id_checkexdoder" name="checkexdoder" checked tabindex="8"/>
                                }
                                else
                                {
                                    <input type="checkbox" id="id_checkexdoder" name="checkexdoder" tabindex="8"/>
                                }

                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="id_remark" class="control-label col-md-3 col-lg-3">備註</label>
                        <div class="col-md-21 col-lg-21">
                            @if (ViewBag.Type == "Details")
                            {
                                <textarea id="id_remark" class="form-control" name="remark" rows="4" cols="40" maxlength="255" readonly>@ViewBag.Remark</textarea>
                            }
                            else
                            {
                                <textarea id="id_remark" class="form-control" name="remark" rows="4" cols="40" maxlength="255" tabindex="9">@ViewBag.Remark</textarea>
                            }

                        </div>
                    </div>
                </div>
                <p style="color: red;">@ViewBag.Msg</p>
                <div class="text-right">
                    @if (@ViewBag.Type == "Edit")
                    {
                        <button type="button" class="btn btn-primary" name="action" value="Edit" onclick="btnUpdate()" tabindex="10">存檔</button>
                        <button type="button" class="btn btn-primary" name="action" value="EditAgain" onclick="btnUpdateAgain()" tabindex="11">存檔並新增</button>
                        if (@ViewBag.cur == "0")
                        {
                            <a class="btn btn-primary" href="@Url.Action("Index", "Main", null)" tabindex="12">取消</a>
                        }
                        else
                        {
                            <a class="btn btn-primary" href="@Url.Action("Details", "Main", new { OrderType = @ViewBag.OrderType})" tabindex="12">取消</a>
                        }
                    }
                    else if (@ViewBag.Type == "Details")
                    {
                        <a class="btn btn-primary" href="@Url.Action("Edit", "Main", new { OrderType = @ViewBag.OrderType })">編輯</a>
                        <a class="btn btn-primary" href="@Url.Action("Show", "Main", new { OrderType = @ViewBag.OrderType })">複製並新增</a>
                        <button type="button" class="btn btn-primary" onclick="DeleteOrder()">刪除</button>
                        <a class="btn btn-primary" href="@Url.Action("Index", "Main", null)">回列表</a>
                    }
                    else
                    {
                        <button type="button" class="btn btn-primary" name="action" value="Save" onclick="btnSave()" tabindex="10">存檔</button>
                        <button type="button" class="btn btn-primary" name="action" value="SaveAgain" onclick="btnSaveAgain()" tabindex="11">存檔並新增</button>
                        <a class="btn btn-primary" href="@Url.Action("Index", "Main", null)" tabindex="12">取消</a>
                    }
                </div>
            </form>
        </div>
    </div>
</section>
<input type="hidden" title="module" value="PMAI01" />
@RenderPage("../../../../Views/Shared/RecordSelector/delete-dialog.cshtml")
@RenderPage("../../../../Views/Shared/RecordSelector/msg-dialog.cshtml")
@RenderPage("../../../../Views/Shared/RecordSelector/choose-msg-dialog.cshtml")
