<script type="text/javascript">
    function DeleteOrder(id) {
        var OrderType = $(id).closest('tr').find(".orderType").html();
        var OrderCategory = $(id).closest('tr').find(".orderCategory").html();
        $("#choose_msg_information").html("是否確定刪除" + OrderType + "單據性質？");
        $('.choose-msg-modal-lg').modal();
        $(".btnChoose").on("click", function () {
            if ($(this).attr("value") == "True") {
                if (OrderType.trim().length == 0)
                {
                    return;
                }
                $.ajax({
                    url: '@Url.Action("Delete", "Main",new { Area = "SERI02" })',
                    data: JSON.stringify({ "OrderType": OrderType, "OrderCategory": OrderCategory }),
                    type: 'POST',
                    async: false,
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        var strData = data.split('-');
                        if (strData[0] == "OK") {
                            $(id).parents('tr:first').remove();
                        } else {
                            OrderType = "";
                            OrderCategory = "";
                            $("#msg_information").html(strData[1]);
                            $('.msg-modal-lg').modal();
                        }
                    }
                })
            }
        })
    }
</script>
<section class="content-header">
    <h1>單據性質設定作業</h1>
</section>
<section class="content">
    @using (Ajax.BeginForm("Index", "Main", FormMethod.Post, new AjaxOptions { UpdateTargetId = "DivGrid" }))
    {
        <div class="toolbar-container">
            <a class="btn btn-primary" href="@Url.Action("CUR", "Main", null)" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 新增</a>
        </div>
        <div class="basic-search-container form-horizontal">
            <div class="form-group">
                <div class="col-sm-24">
                    <label for="id_ordertype" class="control-label">單別</label>
                    <select class="form-control" style="width: 100px;display:inline;" name="selCond">
                        @if (ViewBag.selCond == "=")
                        {
                            <option value="=" selected>=</option>
                        }
                        else
                        {
                            <option value="=">=</option>
                        }
                        @if (ViewBag.selCond == ">")
                        {
                            <option value=">" selected>></option>
                        }
                        else
                        {
                            <option value=">">></option>
                        }
                        @if (ViewBag.selCond == ">=")
                        {
                            <option value=">=" selected>>=</option>
                        }
                        else
                        {
                            <option value=">=">>=</option>
                        }
                        @if (ViewBag.selCond == "<")
                        {
                            <option value="<" selected><</option>
                        }
                        else
                        {
                            <option value="<"><</option>
                        }
                        @if (ViewBag.selCond == "<=")
                        {
                            <option value="<=" selected><=</option>
                        }
                        else
                        {
                            <option value="<="><=</option>
                        }
                        @if (ViewBag.selCond == "<>")
                        {
                            <option value="<>" selected><></option>
                        }
                        else
                        {
                            <option value="<>"><></option>
                        }
                        @if (ViewBag.selCond == "like%")
                        {
                            <option value="like%" selected>like%</option>
                        }
                        else
                        {
                            <option value="like%">like%</option>
                        }
                        @if (ViewBag.selCond == "%like")
                        {
                            <option value="%like" selected>%like</option>
                        }
                        else
                        {
                            <option value="%like">%like</option>
                        }
                        @if (ViewBag.selCond == "%like%")
                        {
                            <option value="%like%" selected>%like%</option>
                        }
                        else
                        {
                            <option value="%like%">%like%</option>
                        }
                    </select>
                    <input type="text" class="form-control" id="id_ordertype" name="ordertype" style="width: 200px;display:inline;" value="@ViewBag.ordertype" />
                    <button type="submit" class="btn btn-default" id="btnSearch" name="action" value="btnSearch" aria-label="Left Align" style="display: inline-block;">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-link" aria-label="Left Align" data-toggle="modal" data-target=".advanced-search-modal" style="display: inline-block;">
                        進階查詢
                    </button>
                </div>
            </div>
        </div>

        var grid = new WebGrid(source: (IEnumerable<BusinessLayer.Models.OrderCategory>)ViewData["OrderCategory"], canPage: false, canSort: false, ajaxUpdateContainerId: "divGrid");


        @grid.GetHtml(
                         tableStyle: "table table-striped table-hover rms-table pmai01-table",
                    columns: grid.Columns(
                         grid.Column(header: "動作", style: "column-two-actions", format: @<text>
                            <a href="@Url.Action("Edit", "Main", new { OrderType = @item.OrderType,cur='0' })">編輯</a>
                            <a onclick="DeleteOrder(this)" href="#">刪除</a>
                    </text>, canSort: false),
        grid.Column(columnName: "OrderType", header: "單別", style: "orderType"),
        grid.Column(columnName: "OrderSName", header: "單據名稱", style: "ordersName", format:@<text><a href="@Url.Action("Details", "Main", new { OrderType = @item.OrderType})">@item.OrderSName</a> </text>),
        grid.Column(columnName: "OrderCategoryID", header: "單據性質", style: "orderCategory"),
            grid.Column(columnName: "Remark", header: "備註", style: "remark")
            )
        )

    <p style="color: red;">@ViewBag.Msg</p>
        
}
</section>
<input type="hidden" title="module" value="PMAI01" />
@RenderPage("../../../../Views/Shared/RecordSelector/delete-dialog.cshtml")
@RenderPage("../../../../Views/Shared/RecordSelector/msg-dialog.cshtml")
@RenderPage("../../../../Views/Shared/RecordSelector/choose-msg-dialog.cshtml")
@RenderPage("~/Areas/SUPI03/Views/Shared/advanced-search-modal.cshtml")
