<script type="text/javascript">
    $(document).ready(function () {

        $("#id_OrderDate").datetimepicker({
            format: 'yyyy/mm/dd',
            autoclose: 1,
            forceParse: 1,
            startView: 2,
            minView: 2,
            todayBtn: 1,
            todayHighlight: 1
        });

        $('#CompletionType').blur(function () {
            if (document.getElementById("CompletionType").readOnly == true) {
                return;
            }
            if ($("#CompletionType").val().trim() != "") {
                $.ajax({
                    url: '@Url.Action("GetOrderTypeName", "Main", new { Area = "CONI01" })',
                    data: JSON.stringify({ "OrderType": $("#CompletionType").val().trim(), "OrderCategory": "B5" }),
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        var serverData = data.split('-');
                        if (serverData[0] == "NO") {
                            $("#msg_information").html(serverData[1]);
                            $('.msg-modal-lg').modal();
                            $('#ordersname').text("");
                            $('#CompletionNo').val("");
                        } else {
                            $('#ordersname').text(serverData[1]);
                            $.ajax({
                                url: '@Url.Action("GetOrderTypeNo", "Main",new { Area = "SUPI05"})',
                                data: JSON.stringify({ "OrderType": $("#CompletionType").val().trim() }),
                                type: 'POST',
                                contentType: 'application/json; charset=utf-8',
                                success: function (data) {
                                    var strData = data.split('-');
                                    if (strData[0] == "YES") {
                                        $('#CompletionNo').val(strData[1]);
                                    } else {
                                        $('#CompletionNo').val(strData[1]);
                                    }
                                }
                            })
                        }
                    }
                })
            } else {
                $('#ordersname').text("");
                $('#CompletionNo').val("");
            }
        });

        $("#btnCompletionType").click(function () {
            $.ajax({
                url: '@Url.Action("SearchOrderType", "Main", new { Area = "CONI01" })',
                type: "POST",
                datatype: 'JSON',
                data: JSON.stringify({ "Col": ",OrderCategory", "Condition": ",=", "conditionValue": ",B5", Page: 1 }),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $("#divOrderCategoryGrid table tbody").empty();
                    var Maintain = eval(data);
                    for (var i = 0; i < Maintain.length; i++) {
                        $("#divOrderCategoryGrid table tbody").append("<tr>" +
                            "<td class='actioncolumn'><a class='btn btn-link' data-dismiss='modal' onclick='SelectOrderType(this)'>選擇</a>" +
                            "<td class='OrderTypeType'>" + Maintain[i].OrderType + "</td>" +
                            "<td class='OrderSNameType'>" + Maintain[i].OrderSName + "</td>" +
                            "<td><input type='hidden' class='OrderCategoryType' name='version' value='" + Maintain[i].OrderCategoryID + "'>" + "</td>" +
                            "<td><input type='hidden' class='OrderFNameType' name='version' value='" + Maintain[i].OrderFName + "'>" + "</td>" +
                            "<td><input type='hidden' class='CodeModeType' name='version' value='" + Maintain[i].CodeMode + "'>" + "</td>" +
                            "<td><input type='hidden' class='SerialNrCodeLengthType' name='version' value='" + Maintain[i].SerialNrCodeLength + "'>" + "</td>" +
                            "<td><input type='hidden' class='AutoConfirmType' name='version' value='" + Maintain[i].AutoConfirm + "'>" + "</td>" +
                            "<td><input type='hidden' class='CheckExOrderType' name='version' value='" + Maintain[i].CheckExOrder + "'>" + "</td>" +
                            "<td><input type='hidden' class='RemarkType' name='version' value='" + Maintain[i].Remark + "'>" + "</td>" +
                            "<td><input type='hidden' class='DaysAfterCreateType' name='version' value='" + Maintain[i].DaysAfterCreate + "'>" + "</td>" +
                            "</tr>");
                    }
                }
            });
            $("#txtOrderType").val("");
            $("#txtOrderSName").val("");
            $("#OrderCategoryPage").val("1");
            $(".record-selector-orderCategory-modal").modal();

        });

        $("#btnOrderTypeInfo").click(function () {
            $.ajax({
                url: '@Url.Action("SearchOrderType", "Main", new { Area = "CONI01" })',
                type: "POST",
                datatype: 'JSON',
                data: JSON.stringify({ "OrderType": $("#txtOrderType").val(), "OrderSName": $("#txtOrderSName").val(), "OrderCategory": "B5", Page: 1 }),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $("#divOrderCategoryGrid table tbody").empty();
                    var Maintain = eval(data);
                    for (var i = 0; i < Maintain.length; i++) {
                        i$("#divOrderCategoryGrid table tbody").append("<tr>" +
                            "<td class='actioncolumn'><a class='btn btn-link' data-dismiss='modal' onclick='SelectOrderType(this)'>選擇</a>" +
                            "<td class='OrderTypeType'>" + Maintain[i].OrderType + "</td>" +
                            "<td class='OrderSNameType'>" + Maintain[i].OrderSName + "</td>" +
                            "<td><input type='hidden' class='OrderCategoryType' name='version' value='" + Maintain[i].OrderCategoryID + "'>" + "</td>" +
                            "<td><input type='hidden' class='OrderFNameType' name='version' value='" + Maintain[i].OrderFName + "'>" + "</td>" +
                            "<td><input type='hidden' class='CodeModeType' name='version' value='" + Maintain[i].CodeMode + "'>" + "</td>" +
                            "<td><input type='hidden' class='SerialNrCodeLengthType' name='version' value='" + Maintain[i].SerialNrCodeLength + "'>" + "</td>" +
                            "<td><input type='hidden' class='AutoConfirmType' name='version' value='" + Maintain[i].AutoConfirm + "'>" + "</td>" +
                            "<td><input type='hidden' class='CheckExOrderType' name='version' value='" + Maintain[i].CheckExOrder + "'>" + "</td>" +
                            "<td><input type='hidden' class='RemarkType' name='version' value='" + Maintain[i].Remark + "'>" + "</td>" +
                            "<td><input type='hidden' class='DaysAfterCreateType' name='version' value='" + Maintain[i].DaysAfterCreate + "'>" + "</td>" +
                            "</tr>");
                    }
                }
            });
            $("#OrderCategoryPage").val("1");
        });

        $("#divOrderCategoryGrid").scroll(function () {
            var Page = document.getElementById("OrderCategoryPage").value;;
            if (Page != 0) {
                var scrollTop = $(this).scrollTop();
                //var scrollHeight = $(document).height();
                //var windowHeight = $(this).height();
                if (scrollTop + 500 >= (870 - 370) * (Page - 1)) {
                    //此处是滚动条到底部时候触发的事件，在这里写要加载的数据，或者是拉动滚动条的操作
                    Page = parseInt(Page) + 1;
                    $.ajax({
                        url: '@Url.Action("SearchOrderType", "Main", new { Area = "CONI01" })',
                        type: "POST",
                        datatype: 'JSON',
                        data: JSON.stringify({ "OrderType": $("#txtOrderType").val(), "OrderSName": $("#txtOrderSName").val(), "OrderCategory": "B5", Page: Page }),
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            var Maintain = eval(data);
                            for (var i = 0; i < Maintain.length; i++) {
                                $("#divOrderCategoryGrid table tbody").append("<tr>" +
                                "<td class='actioncolumn'><a class='btn btn-link' data-dismiss='modal' onclick='SelectOrderType(this)'>選擇</a>" +
                                "<td class='OrderTypeType'>" + Maintain[i].OrderType + "</td>" +
                                "<td class='OrderSNameType'>" + Maintain[i].OrderSName + "</td>" +
                                "<td><input type='hidden' class='OrderCategoryType' name='version' value='" + Maintain[i].OrderCategoryID + "'>" + "</td>" +
                                "<td><input type='hidden' class='OrderFNameType' name='version' value='" + Maintain[i].OrderFName + "'>" + "</td>" +
                                "<td><input type='hidden' class='CodeModeType' name='version' value='" + Maintain[i].CodeMode + "'>" + "</td>" +
                                "<td><input type='hidden' class='SerialNrCodeLengthType' name='version' value='" + Maintain[i].SerialNrCodeLength + "'>" + "</td>" +
                                "<td><input type='hidden' class='AutoConfirmType' name='version' value='" + Maintain[i].AutoConfirm + "'>" + "</td>" +
                                "<td><input type='hidden' class='CheckExOrderType' name='version' value='" + Maintain[i].CheckExOrder + "'>" + "</td>" +
                                "<td><input type='hidden' class='RemarkType' name='version' value='" + Maintain[i].Remark + "'>" + "</td>" +
                                "<td><input type='hidden' class='DaysAfterCreateType' name='version' value='" + Maintain[i].DaysAfterCreate + "'>" + "</td>" +
                                "</tr>");
                            }
                        }
                    });
                    $("#OrderCategoryPage").val(Page);
                }
            }

        });

        $('#CustomerId').blur(function () {
            if (document.getElementById("CustomerId").readOnly == true) {
                return;
            }
            if ($("#CustomerId").val().trim() != "") {
                $.ajax({
                    url: '@Url.Action("SearchCustomerInfo", "Main", new { Area = "CONI02" })',
                    data: JSON.stringify({ "CustomerId": $("#CustomerId").val().trim() }),
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {

                        $('#CustomerId').val(data.CustomerId);
                        $('#CustomerName').html(data.CustomerName);
                        $('#CustomerType').val(data.CustomerType);
                        $('#TaxRate').val(data.TaxRate);
                        //$('#AddressSName').val(data.AddressSName);
                        //$('#Address').val(data.Address);
                        $('#Contact').val(data.Contact);
                        $('#TelNo').val(data.TelNo);
                        $('#FaxNo').val(data.FaxNo);
                        $('#Sales').val(data.Sales);
                        $('#SalesName').html(data.SalesName);
                        $('#AddressSName').val("");
                        $('#Address').val("");
                    },
                    error: function () {
                        $("#msg_information").html("客戶不存在！");
                        $('.msg-modal-lg').modal();
                        $('#CustomerId').val("");
                        $('#CustomerName').html("");
                        $('#CustomerType').val("");
                        $('#TaxRate').val("");
                        $('#AddressSName').val("");
                        $('#Address').val("");
                        $('#Contact').val("");
                        $('#TelNo').val("");
                        $('#FaxNo').val("");
                        $('#Sales').val("");
                        $('#SalesName').html("");
                        return;
                    }
                })
            } else {
                $('#CustomerId').val("");
                $('#CustomerName').html("");
                $('#CustomerType').val("");
                $('#TaxRate').val("");
                $('#AddressSName').val("");
                $('#Address').val("");
                $('#Contact').val("");
                $('#TelNo').val("");
                $('#FaxNo').val("");
                $('#Sales').val("");
                $('#SalesName').html("");
            }
        });

        $("#btnCustomerId").click(function () {
            $.ajax({
                url: '@Url.Action("SearchCustomer", "Main", new { Area = "CONI02" })',
                type: "POST",
                datatype: 'JSON',
                data: JSON.stringify({ "CustomerId": "", "Col": "", "Condition": "", "conditionValue": "", Page: 1 }),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $("#divCustGrid table tbody").empty();
                    var Maintain = eval(data);
                    for (var i = 0; i < Maintain.length; i++) {
                        $("#divCustGrid table tbody").append("<tr>" +
                                "<td class='actioncolumn'><a class='btn btn-link' data-dismiss='modal' onclick='SelectCustomer(this)'>選擇</a>" +
                                "<td class='CustomerIdType'>" + Maintain[i].CustomerId + "</td>" +
                                "<td class='CustomerNameType'>" + Maintain[i].CustomerName + "</td>" +
                                "<td class='CustomerTypeType'>" + Maintain[i].CustomerType + "</td>" +
                                "<td class='ContactType'>" + Maintain[i].Contact + "</td>" +
                                "<td class='TelNoType'>" + Maintain[i].TelNo + "</td>" +
                                "<td class='SalesType'>" + Maintain[i].SalesName + "</td><td><input type='hidden' class='SalesIDType' name='sales' value='"
                                + Maintain[i].Sales + "'>" + "</td>" +
                                "<td><input type='hidden' class='CurrencyIdType' name='version' value='" + Maintain[i].CurrencyId + "'>" + "</td>" +
                                "<td><input type='hidden' class='TaxRateType' name='version' value='" + Maintain[i].TaxRate + "'>" + "</td>" +
                                "<td><input type='hidden' class='FaxNoType' name='version' value='" + Maintain[i].FaxNo + "'>" + "</td>" +
                                "<td><input type='hidden' class='EmailType' name='version' value='" + Maintain[i].Email + "'>" + "</td>" +
                                "<td><input type='hidden' class='AddressSNameType' name='version' value='" + Maintain[i].AddressSName + "'>" + "</td>" +
                                "<td><input type='hidden' class='AddressType' name='version' value='" + Maintain[i].Address + "'>" + "</td>" +
                                "<td><input type='hidden' class='RemarkType' name='version' value='" + Maintain[i].Remark + "'>" + "</td>" +
                                "<td><input type='hidden' class='CustomerFNameType' name='version' value='" + Maintain[i].CustomerFName + "'>" + "</td>" +
                                "</tr>");

                    }
                }
            });
            $("#txtCustomerId").val("");
            $("#txtCustomerName").val("");
            $("#CustPage").val("1");
            $(".record-selector-customer-modal").modal();
        });

        $("#btncustomerInfo").click(function () {
            $.ajax({
                url: '@Url.Action("SearchCustomer", "Main", new { Area = "CONI02" })',
                type: "POST",
                datatype: 'JSON',
                data: JSON.stringify({ "CustomerId": $("#txtCustomerId").val(), "Col": $("#addCustomer_Col").val(), "Condition": $("#addCustomer_Condition").val(), "conditionValue": $("#addCustomer_conditionValue").val(), Page: 1 }),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $("#divCustGrid table tbody").empty();
                    var Maintain = eval(data);
                    for (var i = 0; i < Maintain.length; i++) {
                        $("#divCustGrid table tbody").append("<tr>" +
                                "<td class='actioncolumn'><a class='btn btn-link' data-dismiss='modal' onclick='SelectCustomer(this)'>選擇</a>" +
                                "<td class='CustomerIdType'>" + Maintain[i].CustomerId + "</td>" +
                                "<td class='CustomerNameType'>" + Maintain[i].CustomerName + "</td>" +
                                "<td class='CustomerTypeType'>" + Maintain[i].CustomerType + "</td>" +
                                "<td class='ContactType'>" + Maintain[i].Contact + "</td>" +
                                "<td class='TelNoType'>" + Maintain[i].TelNo + "</td>" +
                                "<td class='SalesType'>" + Maintain[i].SalesName + "</td><td><input type='hidden' class='SalesIDType' name='sales' value='"
                                + Maintain[i].Sales + "'>" + "</td>" +
                                "<td><input type='hidden' class='CurrencyIdType' name='version' value='" + Maintain[i].CurrencyId + "'>" + "</td>" +
                                "<td><input type='hidden' class='TaxRateType' name='version' value='" + Maintain[i].TaxRate + "'>" + "</td>" +
                                "<td><input type='hidden' class='FaxNoType' name='version' value='" + Maintain[i].FaxNo + "'>" + "</td>" +
                                "<td><input type='hidden' class='EmailType' name='version' value='" + Maintain[i].Email + "'>" + "</td>" +
                                "<td><input type='hidden' class='AddressSNameType' name='version' value='" + Maintain[i].AddressSName + "'>" + "</td>" +
                                "<td><input type='hidden' class='AddressType' name='version' value='" + Maintain[i].Address + "'>" + "</td>" +
                                "<td><input type='hidden' class='RemarkType' name='version' value='" + Maintain[i].Remark + "'>" + "</td>" +
                                "<td><input type='hidden' class='CustomerFNameType' name='version' value='" + Maintain[i].CustomerFName + "'>" + "</td>" +
                                "</tr>");
                    }
                }
            });
            $("#CustPage").val("1");
        });

        $("#divCustGrid").scroll(function () {
            var Page = document.getElementById("CustPage").value;;
            if (Page != 0) {
                var scrollTop = $(this).scrollTop();
                //var scrollHeight = $(document).height();
                //var windowHeight = $(this).height();
                if (scrollTop + 500 >= (870 - 370) * (Page - 1)) {
                    //此处是滚动条到底部时候触发的事件，在这里写要加载的数据，或者是拉动滚动条的操作
                    Page = parseInt(Page) + 1;
                    $.ajax({
                        url: '@Url.Action("SearchCustomer", "Main", new { Area = "CONI02" })',
                        type: "POST",
                        datatype: 'JSON',
                        data: JSON.stringify({ "CustomerId": $("#txtCustomerId").val(), "Col": $("#addCustomer_Col").val(), "Condition": $("#addCustomer_Condition").val(), "conditionValue": $("#addCustomer_conditionValue").val(), Page: Page }),
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            var Maintain = eval(data);
                            for (var i = 0; i < Maintain.length; i++) {
                                $("#divCustGrid table tbody").append("<tr>" +
                                "<td class='actioncolumn'><a class='btn btn-link' data-dismiss='modal' onclick='SelectCustomer(this)'>選擇</a>" +
                                "<td class='CustomerIdType'>" + Maintain[i].CustomerId + "</td>" +
                                "<td class='CustomerNameType'>" + Maintain[i].CustomerName + "</td>" +
                                "<td class='CustomerTypeType'>" + Maintain[i].CustomerType + "</td>" +
                                "<td class='ContactType'>" + Maintain[i].Contact + "</td>" +
                                "<td class='TelNoType'>" + Maintain[i].TelNo + "</td>" +
                                "<td class='SalesType'>" + Maintain[i].SalesName + "</td><td><input type='hidden' class='SalesIDType' name='sales' value='"
                                + Maintain[i].Sales + "'>" + "</td>" +
                                "<td><input type='hidden' class='CurrencyIdType' name='version' value='" + Maintain[i].CurrencyId + "'>" + "</td>" +
                                "<td><input type='hidden' class='TaxRateType' name='version' value='" + Maintain[i].TaxRate + "'>" + "</td>" +
                                "<td><input type='hidden' class='FaxNoType' name='version' value='" + Maintain[i].FaxNo + "'>" + "</td>" +
                                "<td><input type='hidden' class='EmailType' name='version' value='" + Maintain[i].Email + "'>" + "</td>" +
                                "<td><input type='hidden' class='AddressSNameType' name='version' value='" + Maintain[i].AddressSName + "'>" + "</td>" +
                                "<td><input type='hidden' class='AddressType' name='version' value='" + Maintain[i].Address + "'>" + "</td>" +
                                "<td><input type='hidden' class='RemarkType' name='version' value='" + Maintain[i].Remark + "'>" + "</td>" +
                                "<td><input type='hidden' class='CustomerFNameType' name='version' value='" + Maintain[i].CustomerFName + "'>" + "</td>" +
                                "</tr>");
                            }
                        }
                    });
                    $("#CustPage").val(Page);
                }
            }

        });

        $('#AddressSName').blur(function () {
            if (document.getElementById("AddressSName").readOnly == true) {
                return;
            }
            if ($("#AddressSName").val().trim() != "") {
                if ($("#CustomerId").val().trim() == "") {
                    $("#msg_information").html("請先選擇客戶！");
                    $('.msg-modal-lg').modal();
                    return;
                }
                $.ajax({
                    url: '@Url.Action("SearchAddressInfo", "Main", new { Area = "CONI02" })',
                    data: JSON.stringify({ "CustomerId": $("#CustomerId").val().trim(), "AddressSName": $("#AddressSName").val().trim() }),
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        $('#AddressSName').val(data.AddressSName);
                        $('#Address').val(data.Address);
                        $('#Contact').val(data.Contact);
                        $('#TelNo').val(data.TelNo);
                        $('#FaxNo').val(data.FaxNo);
                    },
                    error: function () {
                        $("#msg_information").html("地址不存在！");
                        $('.msg-modal-lg').modal();
                        $('#AddressSName').val("");
                        $('#Address').val("");
                        $('#Contact').val("");
                        $('#TelNo').val("");
                        $('#FaxNo').val("");
                        return;
                    }
                })
            } else {
                $('#AddressSName').val("");
                $('#Address').val("");
                $('#Contact').val("");
                $('#TelNo').val("");
                $('#FaxNo').val("");
            }
        });

        $("#btnAddressSName").click(function () {
            if ($("#CustomerId").val().trim() == "") {
                $("#msg_information").html("請先選擇客戶！");
                $('.msg-modal-lg').modal();
                return;
            }
            $.ajax({
                url: '@Url.Action("SearchCustomerAddress", "Main", new { Area = "CONI02" })',
                type: "POST",
                datatype: 'JSON',
                data: JSON.stringify({ "Col": ",CustomerId", "Condition": ",=", "conditionValue": "," + $("#CustomerId").val().trim(), Page: 1 }),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $("#divCustomerAddressGrid table tbody").empty();
                    var Maintain = eval(data);
                    for (var i = 0; i < Maintain.length; i++) {
                        $("#divCustomerAddressGrid table tbody").append("<tr>" +
                                "<td class='actioncolumn'><a class='btn btn-link' data-dismiss='modal' onclick='SelectAddress(this)'>選擇</a>" +
                                "<td class='AddressIdType'>" + Maintain[i].AddressId + "</td>" +
                                "<td class='Address1Type'>" + Maintain[i].AddressSName + "</td>" +
                                "<td class='Address2Type'>" + Maintain[i].Address + "</td>" +
                                "<td class='ContactType'>" + Maintain[i].Contact + "</td>" +
                                "<td class='TelNoType'>" + Maintain[i].TelNo + "</td>" +
                                "<td class='FaxNoType'>" + Maintain[i].FaxNo + "</td>" +
                                "<td class='RemarkType'>" + Maintain[i].Remark + "</td>" +
                                "</tr>");

                    }
                }
            });
            $("#txtAddressId").val("");
            $("#txtAddress1").val("");
            $("#CustomerAddressPage").val("1");
            $(".record-selector-customeraddress-modal").modal();
        });

        $("#btnAddressInfo").click(function () {
            $.ajax({
                url: '@Url.Action("SearchCustomerAddress", "Main", new { Area = "SUPI05" })',
                type: "POST",
                datatype: 'JSON',
                data: JSON.stringify({ "CustomerId": $("#CustomerId").val(), "Col": $("#addAddress_Col").val(), "Condition": $("#addAddress_Condition").val(), "conditionValue": $("#addAddress_conditionValue").val(), Page: 1 }),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $("#divCustomerAddressGrid table tbody").empty();
                    var Maintain = eval(data);
                    for (var i = 0; i < Maintain.length; i++) {
                        $("#divCustomerAddressGrid table tbody").append("<tr>" +
                                "<td class='actioncolumn'><a class='btn btn-link' data-dismiss='modal' onclick='SelectAddress(this)'>選擇</a>" +
                                "<td class='AddressIdType'>" + Maintain[i].AddressId + "</td>" +
                                "<td class='Address1Type'>" + Maintain[i].AddressSName + "</td>" +
                                "<td class='Address2Type'>" + Maintain[i].Address + "</td>" +
                                "<td class='ContactType'>" + Maintain[i].Contact + "</td>" +
                                "<td class='TelNoType'>" + Maintain[i].TelNo + "</td>" +
                                "<td class='FaxNoType'>" + Maintain[i].FaxNo + "</td>" +
                                "<td class='RemarkType'>" + Maintain[i].Remark + "</td>" +
                                "</tr>");
                    }
                }
            });
            $("#CustomerAddressPage").val("1");
        });

        $("#divCustomerAddressGrid").scroll(function () {
            var Page = document.getElementById("CustomerAddressPage").value;;
            if (Page != 0) {
                var scrollTop = $(this).scrollTop();
                //var scrollHeight = $(document).height();
                //var windowHeight = $(this).height();
                if (scrollTop + 500 >= (870 - 370) * (Page - 1)) {
                    //此处是滚动条到底部时候触发的事件，在这里写要加载的数据，或者是拉动滚动条的操作
                    Page = parseInt(Page) + 1;
                    $.ajax({
                        url: '@Url.Action("SearchCustomerAddress", "Main",new { Area = "SUPI05" })',
                        type: "POST",
                        datatype: 'JSON',
                        data: JSON.stringify({ "CustomerId": $("#CustomerId").val(), "Col": $("#addAddress_Col").val(), "Condition": $("#addAddress_Condition").val(), "conditionValue": $("#addAddress_conditionValue").val(), Page: Page }),
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            var Maintain = eval(data);
                            for (var i = 0; i < Maintain.length; i++) {
                                $("#divCustomerAddressGrid table tbody").append("<tr>" +
                                    "<td class='actioncolumn'><a class='btn btn-link' data-dismiss='modal' onclick='SelectAddress(this)'>選擇</a>" +
                                    "<td class='AddressIdType'>" + Maintain[i].AddressId + "</td>" +
                                    "<td class='Address1Type'>" + Maintain[i].AddressSName + "</td>" +
                                    "<td class='Address2Type'>" + Maintain[i].Address + "</td>" +
                                    "<td class='ContactType'>" + Maintain[i].Contact + "</td>" +
                                    "<td class='TelNoType'>" + Maintain[i].TelNo + "</td>" +
                                    "<td class='FaxNoType'>" + Maintain[i].FaxNo + "</td>" +
                                    "<td class='RemarkType'>" + Maintain[i].Remark + "</td>" +
                                    "</tr>");
                            }
                        }
                    });
                    $("#CustomerAddressPage").val(Page);
                }
            }

        });

        $('#Contact').blur(function () {
            if (document.getElementById("Contact").readOnly == true) {
                return;
            }
            if ($("#Contact").val().trim() != "") {
                if ($("#CustomerId").val().trim() == "") {
                    $("#msg_information").html("請先選擇客戶！");
                    $('.msg-modal-lg').modal();
                    return;
                }
                $.ajax({
                    url: '@Url.Action("SearchContactInfo", "Main", new { Area = "CONI02" })',
                    data: JSON.stringify({ "CustomerId": $("#CustomerId").val().trim(), "Contact": $("#Contact").val().trim() }),
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        $('#Contact').val(data.Contact);
                        $('#TelNo').val(data.TelNo);
                        $('#FaxNo').val(data.FaxNo);
                    },
                    error: function () {
                        $("#msg_information").html("聯絡人不存在！");
                        $('.msg-modal-lg').modal();
                        $('#Contact').val("");
                        $('#TelNo').val("");
                        $('#FaxNo').val("");
                        return;
                    }
                })
            } else {
                $('#Contact').val("");
                $('#TelNo').val("");
                $('#FaxNo').val("");
            }
        });

        $("#btnContact").click(function () {
            if ($("#CustomerId").val().trim() == "") {
                $("#msg_information").html("請先選擇客戶！");
                $('.msg-modal-lg').modal();
                return;
            }
            $.ajax({
                url: '@Url.Action("SearchCustomerContact", "Main", new { Area = "CONI02" })',
                type: "POST",
                datatype: 'JSON',
                data: JSON.stringify({ "Col": ",CustomerId", "Condition": ",=", "conditionValue": "," + $("#id_CustomerId").val(), Page: 1 }),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $("#divContacttGrid table tbody").empty();
                    var Maintain = eval(data);
                    for (var i = 0; i < Maintain.length; i++) {
                        $("#divContacttGrid table tbody").append("<tr>" +
                                "<td class='actioncolumn'><a class='btn btn-link' data-dismiss='modal' onclick='SelectContact(this)'>選擇</a>" +
                                "<td class='ContactIdType'>" + Maintain[i].ContactId + "</td>" +
                                "<td class='ContactType'>" + Maintain[i].Contact + "</td>" +
                                "<td class='DepartmentType'>" + Maintain[i].Department + "</td>" +
                                "<td class='OccupationType'>" + Maintain[i].Occupation + "</td>" +
                                "<td class='TelNoType'>" + Maintain[i].TelNo + "</td>" +
                                "<td class='FaxNoType'>" + Maintain[i].FaxNo + "</td>" +
                                "<td class='EmailType'>" + Maintain[i].Email + "</td>" +
                                "<td class='RemarkType'>" + Maintain[i].Remark + "</td>" +
                                "</tr>");

                    }
                }
            });
            $("#id_txtCondition").val("");
            $("#ContactPage").val("1");
            $(".record-selector-contact-modal").modal();
        });

        $("#btnSearchContact").click(function () {
            $.ajax({
                url: '@Url.Action("SearchCustomerContact", "Main", new { Area = "CONI02" })',
                type: "POST",
                datatype: 'JSON',
                data: JSON.stringify({ "CustomerId": $("#CustomerId").val(), "ContactId": $("#id_txtCondition").val(), Page: 1 }),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $("#divContacttGrid table tbody").empty();
                    var Maintain = eval(data);
                    for (var i = 0; i < Maintain.length; i++) {
                        $("#divContacttGrid table tbody").append("<tr>" +
                                "<td class='actioncolumn'><a class='btn btn-link' data-dismiss='modal' onclick='SelectContact(this)'>選擇</a>" +
                                "<td class='ContactIdType'>" + Maintain[i].ContactId + "</td>" +
                                "<td class='ContactType'>" + Maintain[i].Contact + "</td>" +
                                "<td class='DepartmentType'>" + Maintain[i].Department + "</td>" +
                                "<td class='OccupationType'>" + Maintain[i].Occupation + "</td>" +
                                "<td class='TelNoType'>" + Maintain[i].TelNo + "</td>" +
                                "<td class='FaxNoType'>" + Maintain[i].FaxNo + "</td>" +
                                "<td class='EmailType'>" + Maintain[i].Email + "</td>" +
                                "<td class='RemarkType'>" + Maintain[i].Remark + "</td>" +
                                "</tr>");
                    }
                }
            });
            $("#ContactPage").val("1");
        });

        $("#divContacttGrid").scroll(function () {
            var Page = document.getElementById("ContactPage").value;;
            if (Page != 0) {
                var scrollTop = $(this).scrollTop();
                //var scrollHeight = $(document).height();
                //var windowHeight = $(this).height();
                if (scrollTop + 500 >= (870 - 370) * (Page - 1)) {
                    //此处是滚动条到底部时候触发的事件，在这里写要加载的数据，或者是拉动滚动条的操作
                    Page = parseInt(Page) + 1;
                    $.ajax({
                        url: '@Url.Action("SearchCustomerContact", "Main", new { Area = "CONI02" })',
                        type: "POST",
                        datatype: 'JSON',
                        data: JSON.stringify({ "CustomerId": $("#CustomerId").val(), "ContactId": $("#id_txtCondition").val(), Page: Page }),
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            var Maintain = eval(data);
                            for (var i = 0; i < Maintain.length; i++) {
                                $("#divContacttGrid table tbody").append("<tr>" +
                                    "<td class='actioncolumn'><a class='btn btn-link' data-dismiss='modal' onclick='SelectContact(this)'>選擇</a>" +
                                    "<td class='ContactIdType'>" + Maintain[i].ContactId + "</td>" +
                                    "<td class='ContactType'>" + Maintain[i].Contact + "</td>" +
                                    "<td class='DepartmentType'>" + Maintain[i].Department + "</td>" +
                                    "<td class='OccupationType'>" + Maintain[i].Occupation + "</td>" +
                                    "<td class='TelNoType'>" + Maintain[i].TelNo + "</td>" +
                                    "<td class='FaxNoType'>" + Maintain[i].FaxNo + "</td>" +
                                    "<td class='EmailType'>" + Maintain[i].Email + "</td>" +
                                    "<td class='RemarkType'>" + Maintain[i].Remark + "</td>" +
                                    "</tr>");
                            }
                        }
                    });
                    $("#ContactPage").val(Page);
                }
            }
        });

        $("#btnCopyOrder").click(function () {
            $.ajax({
                url: '@Url.Action("SearchRGA", "Main", new { Area = "SERI07" })',
                type: "POST",
                datatype: 'JSON',
                data: JSON.stringify({ "Col": ",Closed", "Condition": ",=", "conditionValue": ",N", Page: 1 }),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $("#divRGAGrid table tbody").empty();
                    var Maintain = eval(data);
                    for (var i = 0; i < Maintain.length; i++) {
                        $("#divRGAGrid table tbody").append("<tr>" +
                                "<td class='actioncolumn'><a class='btn btn-link' data-dismiss='modal' onclick='SelectRGA(this)'>選擇</a>" +
                                "<td class='RGATypeType'>" + Maintain[i].RGAType + "</td>" +
                                "<td class='OrderSNameType'>" + Maintain[i].OrderSName + "</td>" +
                                "<td class='RGANoType'>" + Maintain[i].RGANo + "</td>" +
                                "<td class='OrderDateType'>" + Maintain[i].OrderDate + "</td>" +
                                "<td class='CustomerIdType'>" + Maintain[i].CustomerId + "</td>" +
                                "<td class='CustomerNameType'>" + Maintain[i].CustomerName + "</td>" +
                                "<td class='CustomerTypeType'>" + Maintain[i].CustomerType + "</td>" +
                                "<td class='AddressSNameType'>" + Maintain[i].AddressSName + "</td>" +
                                "<td class='ProductNoType'>" + Maintain[i].ProductNo + "</td>" +
                                "<td class='ProductNameType'>" + Maintain[i].ProductName + "</td>" +
                                "<td class='SerialNoType'>" + Maintain[i].SerialNo + "</td>" +
                                "<td class='StatusCodeType'>" + Maintain[i].StatusCode + "</td>" +
                                "<td class='ReturnedType'>" + Maintain[i].Returned + "</td>" +
                                "<td class='RepairmanNameType'>" + Maintain[i].RepairmanName + "</td>" +
                                "<td class='RemarkType'>" + Maintain[i].Remark + "</td>" +
                                "<td class='PCompletionDateType'>" + Maintain[i].PCompletionDate + "</td>" +
                                "</tr>");
                    }
                }
            });
            $("#RGAPage").val("1");
            $(".record_selector_RGA-modal").modal();

        });

        $("#btnSearchRGA").click(function () {
            $.ajax({
                url: '@Url.Action("RGAType", "Main", new { Area = "SERI07" })',
                type: "POST",
                datatype: 'JSON',
                data: JSON.stringify({ "Col": ",Closed," + $("#addRGACol").val(), "Condition": ",=," + $("#addRGACondition").val(), "conditionValue": ",N," + $("#addRGAconditionValue").val(), Page: 1 }),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $("#divRGAGrid table tbody").empty();
                    var Maintain = eval(data);
                    for (var i = 0; i < Maintain.length; i++) {
                        $("#divRGAGrid table tbody").append("<tr>" +
                                "<td class='actioncolumn'><a class='btn btn-link' data-dismiss='modal' onclick='SelectRGA(this)'>選擇</a>" +
                                "<td class='RGATypeType'>" + Maintain[i].RGAType + "</td>" +
                                "<td class='OrderSNameType'>" + Maintain[i].OrderSName + "</td>" +
                                "<td class='RGANoType'>" + Maintain[i].RGANo + "</td>" +
                                "<td class='OrderDateType'>" + Maintain[i].OrderDate + "</td>" +
                                "<td class='CustomerIdType'>" + Maintain[i].CustomerId + "</td>" +
                                "<td class='CustomerNameType'>" + Maintain[i].CustomerName + "</td>" +
                                "<td class='CustomerTypeType'>" + Maintain[i].CustomerType + "</td>" +
                                "<td class='AddressSNameType'>" + Maintain[i].AddressSName + "</td>" +
                                "<td class='ProductNoType'>" + Maintain[i].ProductNo + "</td>" +
                                "<td class='ProductNameType'>" + Maintain[i].ProductName + "</td>" +
                                "<td class='SerialNoType'>" + Maintain[i].SerialNo + "</td>" +
                                "<td class='StatusCodeType'>" + Maintain[i].StatusCode + "</td>" +
                                "<td class='ReturnedType'>" + Maintain[i].Returned + "</td>" +
                                "<td class='RepairmanNameType'>" + Maintain[i].RepairmanName + "</td>" +
                                "<td class='RemarkType'>" + Maintain[i].Remark + "</td>" +
                                "<td class='PCompletionDateType'>" + Maintain[i].PCompletionDate + "</td>" +
                                "</tr>");
                    }
                }
            });
            $("#RGAPage").val("1");
        });

        $("#divRGAGrid").scroll(function () {
            var Page = document.getElementById("RGAPage").value;;
            if (Page != 0) {
                var scrollTop = $(this).scrollTop();
                //var scrollHeight = $(document).height();
                //var windowHeight = $(this).height();
                if (scrollTop + 500 >= (870 - 370) * (Page - 1)) {
                    //此处是滚动条到底部时候触发的事件，在这里写要加载的数据，或者是拉动滚动条的操作
                    Page = parseInt(Page) + 1;
                    $.ajax({
                        url: '@Url.Action("RGAType", "Main", new { Area = "SERI07" })',
                        type: "POST",
                        datatype: 'JSON',
                        data: JSON.stringify({ "Col": ",Closed," + $("#addRGACol").val(), "Condition": ",=," + $("#addRGACondition").val(), "conditionValue": ",N," + $("#addRGAconditionValue").val(), Page: Page }),
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            var Maintain = eval(data);
                            for (var i = 0; i < Maintain.length; i++) {
                                $("#divRGAGrid table tbody").append("<tr>" +
                                "<td class='actioncolumn'><a class='btn btn-link' data-dismiss='modal' onclick='SelectRGA(this)'>選擇</a>" +
                                "<td class='RGATypeType'>" + Maintain[i].RGAType + "</td>" +
                                "<td class='OrderSNameType'>" + Maintain[i].OrderSName + "</td>" +
                                "<td class='RGANoType'>" + Maintain[i].RGANo + "</td>" +
                                "<td class='OrderDateType'>" + Maintain[i].OrderDate + "</td>" +
                                "<td class='CustomerIdType'>" + Maintain[i].CustomerId + "</td>" +
                                "<td class='CustomerNameType'>" + Maintain[i].CustomerName + "</td>" +
                                "<td class='CustomerTypeType'>" + Maintain[i].CustomerType + "</td>" +
                                "<td class='AddressSNameType'>" + Maintain[i].AddressSName + "</td>" +
                                "<td class='ProductNoType'>" + Maintain[i].ProductNo + "</td>" +
                                "<td class='ProductNameType'>" + Maintain[i].ProductName + "</td>" +
                                "<td class='SerialNoType'>" + Maintain[i].SerialNo + "</td>" +
                                "<td class='StatusCodeType'>" + Maintain[i].StatusCode + "</td>" +
                                "<td class='ReturnedType'>" + Maintain[i].Returned + "</td>" +
                                "<td class='RepairmanNameType'>" + Maintain[i].RepairmanName + "</td>" +
                                "<td class='RemarkType'>" + Maintain[i].Remark + "</td>" +
                                "<td class='PCompletionDateType'>" + Maintain[i].PCompletionDate + "</td>" +
                                "</tr>");
                            }
                        }
                    });
                    $("#RGAPage").val(Page);
                }
            }

        });

        $("#btnConfirmedY").click(function () {
            var myDate = new Date();
            var year = myDate.getFullYear();
            var month = myDate.getMonth() + 1;
            var date = myDate.getDate();
            $("#id_sureConfirmDate").val(year + "/" + month + "/" + date);
            $(".sure-modal").modal();
        });
    });

    function SelectOrderType(id) {
        $("#CompletionType").val($(id).closest('tr').find(".OrderTypeType").html());
        $("#ordersname").html($(id).closest('tr').find(".OrderSNameType").html());
        $.ajax({
            url: '@Url.Action("GetOrderTypeNo", "Main", new { Area = "SUPI05" })',
            data: JSON.stringify({ "OrderType": $("#CompletionType").val().trim() }),
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var strData = data.split('-');
                if (strData[0] == "YES") {
                    $('#CompletionNo').val(strData[1]);
                } else {
                    $('#CompletionNo').val(strData[1]);
                }
            }
        })
    };

    function CountSysc(idname) {
        if (document.getElementById("CompletionType").value == "") {
            $("#msg_information").html("單別不能為空！");
            $('.msg-modal-lg').modal();
            $('#QuotationNo').val("");
            return;
        }

        var Regx = /^[0-9]*$/;
        if (!Regx.test(document.getElementById(idname).value)) {
            $("#msg_information").html("單號只能包含数字");
            $('.msg-modal-lg').modal();
            $('#id_PhoneSerNo').val("");
            return;
        }
        $.ajax({
            url: '@Url.Action("CountSysc", "Main", new { Area = "SUPI05" })',
            data: JSON.stringify({ "CodeType": $("#CompletionType").val().trim(), "CodeNumber": document.getElementById(idname).value }),
            type: 'POST',
            async: false,
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var strData = data.split('-');
                if (strData[0] == "NO") {
                    $("#msg_information").html(strData[1]);
                    $('.msg-modal-lg').modal();
                    $('#CompletionNo').val("");
                }
            }
        });
    };

    function SelectCustomer(id) {
        $('#CustomerId').val($(id).closest('tr').find(".CustomerIdType").html());
        $('#CustomerName').html($(id).closest('tr').find(".CustomerNameType").html());
        $('#CustomerType').val($(id).closest('tr').find(".CustomerTypeType").html());
        $('#TaxRate').val($(id).closest('tr').find(".TaxRateType").val());
        $('#AddressSName').val("");
        $('#Address').val("");
        $('#Contact').val($(id).closest('tr').find(".ContactType").html());
        $('#TelNo').val($(id).closest('tr').find(".TelNoType").html());
        $('#FaxNo').val($(id).closest('tr').find(".FaxNoType").val());
        $('#Sales').val($(id).closest('tr').find(".SalesIDType").val());
        $('#SalesName').html($(id).closest('tr').find(".SalesType").html());
    };

    function SelectAddress(id) {
        $("#AddressSName").val($(id).closest('tr').find(".Address1Type").html());
        $("#Address").val($(id).closest('tr').find(".Address2Type").html());
        $('#Contact').val($(id).closest('tr').find(".ContactType").html());
        $('#TelNo').val($(id).closest('tr').find(".TelNoType").html());
        $('#FaxNo').val($(id).closest('tr').find(".FaxNoType").html());
    }

    function SelectContact(id) {
        $('#Contact').val($(id).closest('tr').find(".ContactType").html());
        $('#TelNo').val($(id).closest('tr').find(".TelNoType").html());
        $('#FaxNo').val($(id).closest('tr').find(".FaxNoType").html());
    }

    function SelectRGA(id) {
        $("#SourceOrderType").val($(id).closest('tr').find(".RGATypeType").html());
        $("#SourceOrderNo").val($(id).closest('tr').find(".RGANoType").html());

        $.ajax({
            url: '@Url.Action("GetRGAH", "Main", new { Area = "SERI07" })',
            data: JSON.stringify({ "RGAType": $("#SourceOrderType").val().trim(), "RGANo": $("#SourceOrderNo").val().trim() }),
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $("#CustomerId").val(data.CustomerId);        //品號
                $("#CustomerName").html(data.CustomerName);     //品名
                $("#CustomerType").val(data.CustomerType);        //規格
                $("#AddressSName").val(data.AddressSName);     //單位
                $("#Address").val(data.Address);        //品號
                $("#Contact").val(data.Contact);     //品名
                $("#TelNo").val(data.TelNo);        //規格
                $("#FaxNo").val(data.FaxNo);     //單位
                $("#ProductNo").val(data.ProductNo);        //品號
                $("#ProductName").val(data.ProductName);     //品名
                $("#SerialNo").val(data.SerialNo);        //規格
                $("#AssetNo").val(data.AssetNo);     //單位
                if (data.UnderWarranty == "Y")        //續約
                {
                    document.getElementById('UnderWarranty').checked = true;
                } else {
                    document.getElementById('UnderWarranty').checked = false;
                }
                var Contract = data.ContractType + "-" + data.ContractNo;
                $("#Contract").val(Contract);     //品名
                $("#TestResult").val(data.TestResult);        //規格
                $("#InternalRemark").val(data.InternalRemark);     //單位
            },
            error: function () {
                $("#msg_information").html("來源單不存在！");
                $('.msg-modal-lg').modal();
                $("#CustomerId").val("");        //品號
                $("#CustomerName").html("");     //品名
                $("#CustomerType").val("");
                $("#AddressSName").val("");
                $("#Address").val("");
                $("#Contact").val("");
                $("#TelNo").val("");
                $("#FaxNo").val("");
                $("#ProductNo").val("");
                $("#ProductName").val("");
                $("#SerialNo").val("");
                $("#AssetNo").val("");
                document.getElementById('UnderWarranty').checked = false;
                $("#Contract").val("");
                $("#TestResult").val("");
                $("#InternalRemark").val("");
                return;
            }
        })
    };

    function btnAdd() {
        if (document.getElementById("CompletionType").value == "") {
            $("#msg_information").html("單別不能為空！");
            $('.msg-modal-lg').modal();
            return;
        }
        if (document.getElementById("CompletionNo").value == "") {
            $("#msg_information").html("單號不能為空！");
            $('.msg-modal-lg').modal();
            return;
        }
        if (document.getElementById("id_OrderDate").value == "") {
            $("#msg_information").html("單據日期不能為空！");
            $('.msg-modal-lg').modal();
            return;
        }
        if (document.getElementById("SourceOrderType").value == "") {
            $("#msg_information").html("來源單別不能為空！");
            $('.msg-modal-lg').modal();
            return;
        }
        if (document.getElementById("SourceOrderNo").value == "") {
            $("#msg_information").html("來源單號不能為空！");
            $('.msg-modal-lg').modal();
            return;
        }
        if (document.getElementById("CustomerId").value == "") {
            $("#msg_information").html("客戶代號不能為空！");
            $('.msg-modal-lg').modal();
            return;
        }
        if (document.getElementById("AddressSName").value == "") {
            $("#msg_information").html("地址簡稱不能為空！");
            $('.msg-modal-lg').modal();
            return;
        }
        if (document.getElementById("InternalRemark").value == "") {
            $("#msg_information").html("維修結果不能為空！");
            $('.msg-modal-lg').modal();
            return;
        }
        $.ajax({
            url: '@Url.Action("Add", "Main")',
            data: $('#from-CompletionOrder').serialize(),
            type: 'POST',
            contentType: 'application/x-www-form-urlencoded',
            success: function (data) {
                var strData = data.split('-');
                if (strData[0] == "NO") {
                    $("#msg_information").html(strData[1]);
                    $('.msg-modal-lg').modal();
                } else {
                    window.location.href = '@Url.Action("Index", "Main")';
                }

            }
        })
    };

    function btnAddAgain() {
        if (document.getElementById("CompletionType").value == "") {
            $("#msg_information").html("單別不能為空！");
            $('.msg-modal-lg').modal();
            return;
        }
        if (document.getElementById("CompletionNo").value == "") {
            $("#msg_information").html("單號不能為空！");
            $('.msg-modal-lg').modal();
            return;
        }
        if (document.getElementById("id_OrderDate").value == "") {
            $("#msg_information").html("單據日期不能為空！");
            $('.msg-modal-lg').modal();
            return;
        }
        if (document.getElementById("SourceOrderType").value == "") {
            $("#msg_information").html("來源單別不能為空！");
            $('.msg-modal-lg').modal();
            return;
        }
        if (document.getElementById("SourceOrderNo").value == "") {
            $("#msg_information").html("來源單號不能為空！");
            $('.msg-modal-lg').modal();
            return;
        }
        if (document.getElementById("CustomerId").value == "") {
            $("#msg_information").html("客戶代號不能為空！");
            $('.msg-modal-lg').modal();
            return;
        }
        if (document.getElementById("AddressSName").value == "") {
            $("#msg_information").html("地址簡稱不能為空！");
            $('.msg-modal-lg').modal();
            return;
        }
        if (document.getElementById("InternalRemark").value == "") {
            $("#msg_information").html("維修結果不能為空！");
            $('.msg-modal-lg').modal();
            return;
        }

        $.ajax({
            url: '@Url.Action("Add", "Main")',
            data: $('#from-CompletionOrder').serialize(),
            type: 'POST',
            contentType: 'application/x-www-form-urlencoded',
            success: function (data) {
                var strData = data.split('-');
                if (strData[0] == "NO") {
                    $("#msg_information").html(strData[1]);
                    $('.msg-modal-lg').modal();
                } else {
                    window.location.href = '@Url.Action("CUR", "Main")';
                }

            }
        })
    };

    function btnExit() {
        if (document.getElementById("CustomerId").value == "") {
            $("#msg_information").html("客戶代號不能為空！");
            $('.msg-modal-lg').modal();
            return;
        }
        if (document.getElementById("AddressSName").value == "") {
            $("#msg_information").html("地址簡稱不能為空！");
            $('.msg-modal-lg').modal();
            return;
        }
        if (document.getElementById("InternalRemark").value == "") {
            $("#msg_information").html("維修結果不能為空！");
            $('.msg-modal-lg').modal();
            return;
        }
        $.ajax({
            url: '@Url.Action("Exit", "Main")',
            data: $('#from-CompletionOrder').serialize(),
            type: 'POST',
            contentType: 'application/x-www-form-urlencoded',
            success: function (data) {
                var strData = data.split('-');
                if (strData[0] == "NO") {
                    $("#msg_information").html(strData[1]);
                    $('.msg-modal-lg').modal();
                } else {
                    window.location.href = '@Url.Action("Index", "Main")';
                }

            }
        })
    };

    function btnExitAgain() {
        if (document.getElementById("CustomerId").value == "") {
            $("#msg_information").html("客戶代號不能為空！");
            $('.msg-modal-lg').modal();
            return;
        }
        if (document.getElementById("AddressSName").value == "") {
            $("#msg_information").html("地址簡稱不能為空！");
            $('.msg-modal-lg').modal();
            return;
        }
        if (document.getElementById("InternalRemark").value == "") {
            $("#msg_information").html("維修結果不能為空！");
            $('.msg-modal-lg').modal();
            return;
        }
        $.ajax({
            url: '@Url.Action("Exit", "Main")',
            data: $('#from-CompletionOrder').serialize(),
            type: 'POST',
            contentType: 'application/x-www-form-urlencoded',
            success: function (data) {
                var strData = data.split('-');
                if (strData[0] == "NO") {
                    $("#msg_information").html(strData[1]);
                    $('.msg-modal-lg').modal();
                } else {
                    window.location.href = '@Url.Action("CUR", "Main")';
                }

            }
        })
    };
</script>
<section class="content-header">
    <h1>完工單維護</h1>
</section>
<section class="content">
    <div class="panel panel-default">
        <div class="panel-heading"><i class="fa fa-pencil fa-fw"></i> Application</div>
        <div class="panel-body">
            <form id="from-CompletionOrder" method="post">
                <div class="row">
                    <div class="form-group">
                        <label for="id_CompletionType" class="col-md-3 col-lg-3 control-label">單別</label>
                        <div class="col-md-5 col-lg-5">
                            @if (ViewBag.Type == "Edit" || ViewBag.Type == "Details")
                            {
                                <div class="input-group">
                                    <input type="text" class="form-control" id="CompletionType" name="CompletionType" value="@ViewBag.CompletionType" maxlength="5" readonly />
                                    <span class="input-group-addon" style="cursor:pointer;"><span class="fa fa-hand-pointer-o"></span></span>
                                </div>
                            }
                            else
                            {
                                <div class="input-group">
                                    <input type="text" class="form-control" id="CompletionType" name="CompletionType" value="@ViewBag.CompletionType" maxlength="5" />
                                    <span class="input-group-addon" id="btnCompletionType" style="cursor:pointer;"><span class="fa fa-hand-pointer-o"></span></span>
                                </div>
                            }
                            <span style="display:inline;" id="ordersname">@ViewBag.OrderSName</span>
                        </div>
                        <label for="id_OrderDate" class="col-md-3 col-lg-3 control-label">單據日期</label>
                        <div class="col-md-5 col-lg-5 date" data-date="" data-date-format="yyyy/mm/dd" data-link-field="id_orderdate" data-link-format="yyyy/mm/dd">
                            <div class="input-group">
                                @if (ViewBag.Type == "Edit" || ViewBag.Type == "Details")
                                {
                                    <input type="text" class="form-control" name="OrderDate" readonly="readonly" value="@ViewBag.OrderDate" />
                                }
                                else
                                {
                                    <input type="text" class="form-control" id="id_OrderDate" name="OrderDate" readonly="readonly" value="@ViewBag.OrderDate" />
                                }
                                <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                        <label for="id_Confirmed" class="col-md-3 col-lg-3 control-label">狀態碼</label>
                        <div class="col-md-5 col-lg-5">
                            <input type="text" class="form-control" id="Confirmed" name="Confirmed" value="@ViewBag.Confirmed" readonly />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="id_CompletionNo" class="col-md-3 col-lg-3 control-label">單號</label>
                        <div class="col-md-5 col-lg-5">
                            @if (ViewBag.Type == "Edit" || ViewBag.Type == "Details")
                            {
                                <input type="text" class="form-control" id="CompletionNo" name="CompletionNo" maxlength="11" value="@ViewBag.CompletionNo" onchange="CountSysc(this.id)" readonly />
                            }
                            else
                            {
                                <input type="text" class="form-control" id="CompletionNo" name="CompletionNo" maxlength="11" value="@ViewBag.CompletionNo" onchange="CountSysc(this.id)" />
                            }
                        </div>
                        <label for="id_NoOfPrints" class="col-md-3 col-lg-3 control-label">列印次數</label>
                        <div class="col-md-5 col-lg-5">
                            <input type="text" class="form-control" id="NoOfPrints" name="NoOfPrints" value="@ViewBag.NoOfPrints" readonly />
                        </div>
                        <label for="id_Creator" class="col-md-3 col-lg-3 control-label">建立人員</label>
                        <div class="col-md-5 col-lg-5">
                            <input type="text" class="form-control" id="Creator" name="Creator" value="@ViewBag.Creator" readonly />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="id_SourceOrderNo" class="col-md-3 col-lg-3 control-label">來源單號</label>
                        <div class="col-md-5 col-lg-5">
                            <input type="text" class="form-control" id="SourceOrderType" name="SourceOrderType" style="width: 40%; display: inline;" maxlength="5" value="@ViewBag.SourceOrderType" readonly />
                            <input type="text" class="form-control" id="SourceOrderNo" name="SourceOrderNo" style="width: 55%; display: inline;" maxlength="11" value="@ViewBag.SourceOrderNo" readonly />
                        </div>
                        <label for="id_ConfirmedDate" class="col-md-3 col-lg-3 control-label">完工日期</label>
                        <div class="col-md-5 col-lg-5">
                            <input type="text" class="form-control" id="ConfirmedDate" name="ConfirmedDate" value="@ViewBag.ConfirmedDate" readonly />
                        </div>
                        <label for="id_Confirmor" class="col-md-3 col-lg-3 control-label">完工人員</label>
                        <div class="col-md-5 col-lg-5">
                            <input type="text" class="form-control" id="Confirmor" name="Confirmor" value="@ViewBag.Confirmor" readonly />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="id_Remark" class="col-md-3 col-lg-3 control-label">備註</label>
                        <div class="col-md-21 col-lg-21">
                            @if (ViewBag.Type == "Details")
                            {
                                <textarea class="form-control" id="Remark" name="Remark" cols="40" rows="5" disabled>@ViewBag.Remark</textarea>
                            }
                            else
                            {
                                <textarea class="form-control" id="Remark" name="Remark" cols="40" rows="5">@ViewBag.Remark</textarea>
                            }
                        </div>
                    </div>
                </div>

                <h5>客戶資訊</h5>
                <hr />
                <div class="row">
                    <div class="form-group">
                        <label for="id_CustomerId" class="col-md-3 col-lg-3 control-label">客戶代號</label>
                        <div class="col-md-5 col-lg-5">
                            @if (ViewBag.Type == "Details")
                            {
                                <div class="input-group">
                                    <input type="text" class="form-control" id="CustomerId" name="CustomerId" value="@ViewBag.CustomerId" maxlength="10" readonly />
                                    <span class="input-group-addon" style="cursor:pointer;"><span class="fa fa-hand-pointer-o"></span></span>
                                </div>
                                
                            }
                            else
                            {
                                <div class="input-group">
                                    <input type="text" class="form-control" id="CustomerId" name="CustomerId" value="@ViewBag.CustomerId" maxlength="10"/>
                                    <span class="input-group-addon" id="btnCustomerId" style="cursor:pointer;"><span class="fa fa-hand-pointer-o"></span></span>
                                </div>
                            }
                            <span style="display:inline;" id="CustomerName">@ViewBag.CustomerName</span>
                        </div>
                        <label for="id_Customer" class="col-md-3 col-lg-3 control-label">客戶形態</label>
                        <div class="col-md-5 col-lg-5">
                            <input type="text" class="form-control" id="CustomerType" name="CustomerType" value="@ViewBag.CustomerType" readonly />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="id_AddressSName" class="col-md-3 col-lg-3 control-label">地址簡稱</label>
                        <div class="col-md-5 col-lg-5">
                            @if (ViewBag.Type == "Details")
                            {
                                <div class="input-group">
                                    <input type="text" class="form-control" id="AddressSName" name="AddressSName" value="@ViewBag.AddressSName" maxlength="255" readonly />
                                    <span class="input-group-addon" style="cursor:pointer;"><span class="fa fa-hand-pointer-o"></span></span>
                                </div>
                                
                            }
                            else
                            {
                                <div class="input-group">
                                    <input type="text" class="form-control" id="AddressSName" name="AddressSName" value="@ViewBag.AddressSName" maxlength="255" />
                                    <span class="input-group-addon" id="btnAddressSName" style="cursor:pointer;"><span class="fa fa-hand-pointer-o"></span></span>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="id_Address" class="col-md-3 col-lg-3 control-label">地址</label>
                        <div class="col-md-13 col-lg-13">
                            @if (ViewBag.Type == "Details")
                            {
                                <input type="text" class="form-control" id="Address" name="Address" value="@ViewBag.Address" maxlength="255" readonly />
                            }
                            else
                            {
                                <input type="text" class="form-control" id="Address" name="Address" value="@ViewBag.Address" maxlength="255" />
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="id_Contact" class="col-md-3 col-lg-3 control-label">聯絡人</label>
                        <div class="col-md-5 col-lg-5">
                            @if (ViewBag.Type == "Details")
                            {
                                <div class="input-group">
                                    <input type="text" class="form-control" id="Contact" name="Contact" value="@ViewBag.Contact" maxlength="20" readonly />
                                    <span class="input-group-addon" style="cursor:pointer;"><span class="fa fa-hand-pointer-o"></span></span>
                                </div>
                                
                            }
                            else
                            {
                                <div class="input-group">
                                    <input type="text" class="form-control" id="Contact" name="Contact" value="@ViewBag.Contact" maxlength="20" />
                                    <span class="input-group-addon" id="btnContact" style="cursor:pointer;"><span class="fa fa-hand-pointer-o"></span></span>
                                </div>
                            }
                        </div>
                        <label for="id_TelNo" class="col-md-3 col-lg-3 control-label">電話</label>
                        <div class="col-md-5 col-lg-5">
                            @if (ViewBag.Type == "Details")
                            {
                                <input type="text" class="form-control" id="TelNo" name="TelNo" value="@ViewBag.TelNo" maxlength="20" readonly />
                            }
                            else
                            {
                                <input type="text" class="form-control" id="TelNo" name="TelNo" value="@ViewBag.TelNo" maxlength="20" />
                            }
                        </div>
                        <label for="id_FaxNo" class="col-md-3 col-lg-3 control-label">傳真</label>
                        <div class="col-md-5 col-lg-5">
                            @if (ViewBag.Type == "Details")
                            {
                                <input type="text" class="form-control" id="FaxNo" name="FaxNo" value="@ViewBag.FaxNo" maxlength="20" readonly />
                            }
                            else
                            {
                                <input type="text" class="form-control" id="FaxNo" name="FaxNo" value="@ViewBag.FaxNo" maxlength="20" />
                            }
                        </div>
                    </div>
                </div>

                <h5>完工資訊</h5>
                <hr />
                <div class="row">
                    <div class="form-group">
                        <label for="id_ProductName" class="col-md-3 col-lg-3 control-label">品號</label>
                        <div class="col-md-5 col-lg-5">
                            <input type="text" class="form-control" id="ProductName" name="ProductName" maxlength="11" value="@ViewBag.ProductName" readonly />
                        </div>
                        <label for="id_AssetNo" class="col-md-3 col-lg-3 control-label">資產編號</label>
                        <div class="col-md-5 col-lg-5">
                            <input type="text" class="form-control" id="AssetNo" name="AssetNo" value="@ViewBag.AssetNo" readonly />
                        </div>
                        <label for="id_Contract" class="col-md-3 col-lg-3 control-label">合約單號</label>
                        <div class="col-md-5 col-lg-5">
                            <input type="text" class="form-control" id="Contract" name="Contract" value="@ViewBag.Contract" readonly />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="id_ProductName" class="col-md-3 col-lg-3 control-label">品名</label>
                        <div class="col-md-5 col-lg-5">
                            <input type="text" class="form-control" id="ProductName" name="ProductName" maxlength="11" value="@ViewBag.ProductName" readonly />
                        </div>
                        <label for="id_SerialNo" class="col-md-3 col-lg-3 control-label">序號</label>
                        <div class="col-md-5 col-lg-5">
                            <input type="text" class="form-control" id="SerialNo" name="SerialNo" value="@ViewBag.SerialNo" maxlength="30" readonly />
                        </div>
                        <label for="id_UnderWarranty" class="col-md-3 col-lg-3 control-label">保固內</label>
                        <div class="col-md-5 col-lg-5">
                            @if (@ViewBag.UnderWarranty == "Y")
                            {
                                <input type="checkbox" id="UnderWarranty" name="UnderWarranty" checked disabled />
                            }
                            else
                            {
                                <input type="checkbox" id="UnderWarranty" name="UnderWarranty" disabled />
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="id_TestResult" class="col-md-3 col-lg-3 control-label">檢測結果</label>
                        <div class="col-md-21 col-lg-21">
                            <textarea class="form-control" id="TestResult" name="TestResult" cols="40" rows="5" readonly>@ViewBag.TestResult</textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="id_InternalRemark" class="col-md-3 col-lg-3 control-label">維修結果</label>
                        <div class="col-md-21 col-lg-21">
                            @if (ViewBag.Type == "Details")
                            {
                                <textarea class="form-control" id="InternalRemark" name="InternalRemark" cols="40" rows="5" readonly>@ViewBag.InternalRemark</textarea>
                            }
                            else
                            {
                                <textarea class="form-control" id="InternalRemark" name="InternalRemark" cols="40" rows="5">@ViewBag.InternalRemark</textarea>
                            }
                        </div>
                    </div>
                </div>
                    
                <div class="text-right">
                    @if (@ViewBag.Type == "Edit")
                    {
                        <button type="button" class="btn btn-primary" name="action" value="Edit" onclick="btnExit()">存檔</button>
                        <button type="button" class="btn btn-primary" name="action" value="EditAgain" onclick="btnExitAgain()">存檔並新增</button>
                        <a class="btn btn-primary" href="@Url.Action("Index", "Main", null)">取消</a>
                    }
                    else if (@ViewBag.Type == "Details")
                    {
                        <button type="button" class="btn btn-primary" name="action" value="">串查</button>
                        <button type="button" class="btn btn-primary" name="action" value="">編輯</button>
                        <button type="button" class="btn btn-primary" name="action" value="">確認</button>
                        <button type="button" class="btn btn-primary" name="action" value="">刪除</button>
                        <button type="button" class="btn btn-primary" name="action" value="">複製并新增</button>
                        <button type="button" class="btn btn-primary" name="action" value="">作廢</button>
                        <button type="button" class="btn btn-primary" name="action" value="">列印</button>
                        <a class="btn btn-primary" href="@Url.Action("Index", "Main", null)">返回列表</a>
                    }
                    else
                    {
                        <button type="button" class="btn btn-primary" name="action" value="Save" onclick="btnAdd()">存檔</button>
                        <button type=button class="btn btn-primary" name="action" value="SaveAgain" onclick="btnAddAgain()">存檔並新增</button>
                        <button type="button" class="btn btn-primary" name="action" id="btnCopyOrder">複製前單</button>
                        <a class="btn btn-primary" href="@Url.Action("Index", "Main", null)">取消</a>
                    }

                    @*@if (@ViewBag.Type == "Edit")
                    {
                        <button type="button" class="btn btn-primary" name="action" value="Edit" onclick="btnExit()">存檔</button>
                        <button type="button" class="btn btn-primary" name="action" value="EditAgain" onclick="btnExitAgain()">存檔並新增</button>
                        <a class="btn btn-primary" href="@Url.Action("Index", "Main", null)">取消</a>
                    }
                    else if (@ViewBag.Type == "Details")
                    {
                        <button type="button" class="btn btn-primary" name="action" value="">串查</button>
                        <button type="button" class="btn btn-primary" id="btnConfirmedY" name="action" value="btnConfirmedY" aria-label="Left Align">確認</button>
                        <button type="button" class="btn btn-primary" name="action" value="">刪除</button>
                        <button type="button" class="btn btn-primary" name="action" value="">複製并新增</button>
                        <button type="button" class="btn btn-primary" name="action" value="">作廢</button>
                        <button type="button" class="btn btn-primary" name="action" value="">列印</button>
                        <a class="btn btn-primary" href="@Url.Action("Index", "Main", null)">返回列表</a>
                    }
                    else
                    {
                        <button type="button" class="btn btn-primary" name="action" value="Save" onclick="btnAdd()">存檔</button>
                        <button type=button class="btn btn-primary" name="action" value="SaveAgain" onclick="btnAddAgain()">存檔並新增</button>
                        <button type="button" class="btn btn-primary" name="action" id="btnCopyOrder">複製前單</button>
                        <a class="btn btn-primary" href="@Url.Action("Index", "Main", null)">取消</a>
                    }*@
                    @RenderPage("~/Areas/SERI11/Views/Shared/sure-modal.cshtml")
                </div>
            </form>
        </div>
    </div>
</section>
@RenderPage("../../../../Views/Shared/RecordSelector/delete-dialog.cshtml")
@RenderPage("../../../../Views/Shared/RecordSelector/msg-dialog.cshtml")
@RenderPage("../../../../Views/Shared/RecordSelector/record_selector_OrderCategory.cshtml")
@RenderPage("../../../../Views/Shared/RecordSelector/record_selector_customer.cshtml")
@RenderPage("../../../../Views/Shared/RecordSelector/record_selector_address.cshtml")
@RenderPage("../../../../Views/Shared/RecordSelector/record_selector_contactInfo.cshtml")
@RenderPage("../../../../Views/Shared/RecordSelector/record_selector_RGA.cshtml")
