@using Model

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<script>
    $(document).ready(function () {
        $("#btnNew").click(function () {
            $("#btnSearch").attr({ "disabled": "disabled" });
            $("#btnNew").attr({ "disabled": "disabled" });
            $("#btnModify").attr({ "disabled": "disabled" });
            $("#btnDel").attr({ "disabled": "disabled" });
            $("#btnSave").removeAttr("disabled");
            $("#btnCancel").removeAttr("disabled");

            $("#mode").val("N");
            $("#txtUid").select();
        });

        $("#btnModify").click(function () {
            $("#btnSearch").attr({ "disabled": "disabled" });
            $("#btnNew").attr({ "disabled": "disabled" });
            $("#btnModify").attr({ "disabled": "disabled" });
            $("#btnDel").attr({ "disabled": "disabled" });
            $("#btnSave").removeAttr("disabled");
            $("#btnCancel").removeAttr("disabled");
         
            $("#mode").val("M");
            $("#txtUid").select();
        });

        $("#btnCancel").click(function () {
            try {
                //$("#defaultForm").data('bootstrapValidator').resetForm();
                $("#defaultForm").data('bootstrapValidator').destroy();
                $('#defaultForm').data('bootstrapValidator', null);
            }
            catch (e) {

            }

            $("#btnSearch").removeAttr("disabled");
            $("#btnNew").removeAttr("disabled");
            $("#btnModify").removeAttr("disabled");
            $("#btnDel").removeAttr("disabled");
            $("#btnSave").attr({ "disabled": "disabled" });
            $("#btnCancel").attr({ "disabled": "disabled" });
        
            $("input[type='text']").val("");
            $("#slGroups").val("==請選擇==");

            $("#mode").val("");
            $("#userIdOld").val("");
            $("#groupIdOld").val("");
        });

        $("#btnDel").click(function () {
            if (!confirm("是否確定刪除選中項？")) {
                return false;
            }
            var chks = $("input[name='chk']:checked");
            if (chks.length === 0) {
                alert("請勾選要刪除的項");
                return false;
            }
            return true;
        });

        $("#chkAll").click(function () {
            $("input[name='chk']:checkbox").prop("checked", this.checked);
        });

        $("input[name='chk']:checkbox").click(function () {
            var chks = $("input[name='chk']").not("input[name='chk']:checked");
            if (chks.length > 0) {
                $("#chkAll").prop("checked", false);
            } else {
                $("#chkAll").prop("checked", true);
            }
        });

        $("table>tbody>tr").click(function () {
            $("#txtUid").val($(this).find("td").eq(1).text());
            $("#txtPwd").val($(this).find("td").eq(2).find("input").val());
            $("#txtName").val($(this).find("td").eq(3).text());
            $("#slGroups").val($(this).find("td").eq(4).text());
            $("#userIdOld").val($(this).find("td").eq(1).text());
            $("#groupIdOld").val($(this).find("td").eq(4).text());
            try {
                $("#defaultForm").data('bootstrapValidator').destroy();
                $('#defaultForm').data('bootstrapValidator', null);
            }
            catch (e) {

            }
        });
    });

    function CheckForm() {
        formValidator();
    }

    function formValidator() {
        $("#defaultForm").bootstrapValidator({
            fields: {
                slGroups: {
                    validators: {
                        callback: {
                            message: "請選擇員工群組",
                            callback: function (value, validator) {
                                if ($("#slGroups").val() === "==請選擇==") {
                                    return false;
                                }
                                return true;
                            }
                        }
                    }
                },
                txtUid: {
                    validators: {
                        notEmpty: {
                            message: "員工帳號不能為空"
                        }
                    }
                },
                txtPwd: {
                    validators: {
                        notEmpty: {
                            message: "員工密碼不能為空"
                        }
                    }
                },
                txtName: {
                    validators: {
                        notEmpty: {
                            message: "員工姓名不能為空"
                        }
                    }
                }
            }
        });
    };
</script>
<div class="container-fluid">
    <section class="content-header">
        <h1>員工資料維護作業</h1>
    </section>
    <section class="content">
        @Html.Raw(ViewBag.js)
        @using (Ajax.BeginForm("Index", "Users", new AjaxOptions { HttpMethod = "POST" }, new { id = "defaultForm", @class = "form-horizontal" }))
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-14 col-sm-14 col-md-12">
                            <button class="btn btn-primary" name="action" value="search" id="btnSearch">
                                <i class="fa fa-search" aria-hidden="true"></i> 查詢
                            </button>
                            <button class="btn btn-primary" type="button" id="btnNew">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i> 新增
                            </button>
                            <button class="btn btn-primary" type="button" id="btnModify">
                                <i class="fa fa-edit" aria-hidden="true"></i> 修改
                            </button>
                            <button class="btn btn-primary" name="action" value="delete" id="btnDel">
                                <i class="fa fa-times-circle" aria-hidden="true"></i> 刪除
                            </button>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-4">
                            <button class="btn btn-primary" disabled="disabled" name="action" value="save" id="btnSave" onclick="CheckForm()" type="submit">
                                <i class="fa fa-save" aria-hidden="true"></i> 保存
                            </button>
                            <button class="btn btn-primary" disabled="disabled" type="button" id="btnCancel">
                                <i class="fa fa-rotate-left" aria-hidden="true"></i> 取消
                            </button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="txtUid" class="col-md-3 col-lg-3 control-label text-right">員工帳號:</label>
                        <div class="col-md-5 col-lg-5">
                            <input type="text" class="form-control" id="txtUid" name="txtUid" value="@ViewBag.Uid" tabindex="1" />
                        </div>
                        <label for="txtPwd" class="col-md-3 col-lg-3 control-label text-right">員工密碼:</label>
                        <div class="col-md-5 col-lg-5">
                            <input type="text" class="form-control" id="txtPwd" name="txtPwd" value="@ViewBag.Pwd" tabindex="2" />
                        </div>
                        <label for="txtName" class="col-md-3 col-lg-3 control-label text-right">員工姓名:</label>
                        <div class="col-md-5 col-lg-5">
                            <input type="text" class="form-control" id="txtName" name="txtName" value="@ViewBag.Name" tabindex="3" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="slGroups" class="col-md-3 col-lg-3 control-label text-right">員工群組:</label>
                        <div class="col-md-5 col-lg-5" id="divSel">
                            @Html.DropDownList("slGroups", ViewData["slGroupsDisplay"] as SelectList, new { id = "slGroups", @class = "btn btn-default dropdown-toggle form-control", @tabindex = "4" })
                        </div>
                    </div>
                    <div class="form-group" style="overflow-x: auto">
                        <div id="divGrid">
                            @{
                                <input type="checkbox" id="chkAll" style="position: absolute; margin-left: 8px; margin-top: 13px;" />
                                var webGrid = new WebGrid(source: (IEnumerable<Users>)ViewData["DisplayData"], canPage: false, canSort: false, defaultSort: "UserId", ajaxUpdateContainerId: "divGrid");
                            }
                            @webGrid.GetHtml(
                            tableStyle: "table table-striped table-hover table-border table-responsive",
                            mode: WebGridPagerModes.All, firstText: "第一頁", previousText: "上一頁", nextText: "下一頁", lastText: "最後一頁", numericLinksCount: 10,
                            columns: webGrid.Columns(
                                webGrid.Column(
                                    format:
                                    @<text>
                                        <input type="checkbox" id="chk" name="chk" value="@item.UserId" />
                                    </text>),
                                webGrid.Column(columnName: "UserId", header: "員工帳號"),
                                webGrid.Column(columnName: "Pwd", header: "員工密碼",format:
                                    @<text>
                                        ******
                                        <input type="hidden" value="@item.Pwd"/>
                                    </text>),
                                webGrid.Column(columnName: "UserName", header: "員工姓名"),
                                webGrid.Column(columnName: "GroupID", header: "員工群組")
                                )
                            )
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" name="mode" id="mode" value="@ViewBag.Fail"/>
            <input type="hidden" name="userIdOld" id="userIdOld" value="@ViewBag.UserIdOld"/>
            <input type="hidden" name="groupIdOld" id="groupIdOld" value="@ViewBag.GroupIdOld" />
                                }

        @if (!string.IsNullOrEmpty(@ViewBag.Fail))
        {
            <script type="text/javascript">
                $(function () {
                    if ("@ViewBag.Fail" === "N") {
                        $("#btnSearch").attr({ "disabled": "disabled" });
                        $("#btnNew").attr({ "disabled": "disabled" });
                        $("#btnModify").attr({ "disabled": "disabled" });
                        $("#btnDel").attr({ "disabled": "disabled" });
                        $("#btnSave").removeAttr("disabled");
                        $("#btnCancel").removeAttr("disabled");
                        $("#mode").val("N");
                        $("#txtUid").select();
                    }
                    else if ("@ViewBag.Fail" === "M") {
                        $("#btnSearch").attr({ "disabled": "disabled" });
                        $("#btnNew").attr({ "disabled": "disabled" });
                        $("#btnModify").attr({ "disabled": "disabled" });
                        $("#btnDel").attr({ "disabled": "disabled" });
                        $("#btnSave").removeAttr("disabled");
                        $("#btnCancel").removeAttr("disabled");

                        $("#mode").val("M");
                        $("#txtUid").select();
                    }
                    else if ("@ViewBag.Fail" === "D") {
                        var keys = "@ViewBag.Chk";
                        var array = keys.split(',');
                        $.each(array, function (i, value) {
                            $("input[name='chk'][value='" + value + "']").prop("checked", true);
                        });
                    }
                })
            </script>
        }
    </section>
</div>


