<section class="content-header">
    <h1>原廠零件報價查詢</h1>
</section>
<section class="content">
@using (Ajax.BeginForm("Index", "Main", FormMethod.Post, new AjaxOptions { UpdateTargetId = "DivGrid" }))
{
    <div class="toolbar-container">
        <button type="submit" class="btn btn-primary" id="btnExport" name="action" value="btnExport" aria-label="Left Align">
            <span class="glyphicon glyphicon-export" aria-hidden="true"></span> 匯出
        </button>
    </div>
}
@using (Ajax.BeginForm("Index", "Main", FormMethod.Post, new AjaxOptions { UpdateTargetId = "DivGrid" }))
{
    <div class="basic-search-container form-horizontal">
        <div class="form-group">
            <div class="col-sm-24">
                <label for="id_PartNo" class="control-label">零件品號</label>
                <select class="form-control" style="width: 100px;display:inline;" name="PartNo"></select>
                <input type="text" class="form-control" id="PartNo" name="PartNo" style="width:200px;display:inline;" value="@ViewBag.PartNo" />
                <label for=" id_vendorid" class="control-label">客戶代號</label>
                <select class="form-control" style="width: 100px;display:inline;" name="VendorId"></select>
                <input type="text" class="form-control" id="VendorId" name="VendorId" style="width:200px;display:inline;" value="@ViewBag.VendorId" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-24">
                <label for="id_QuotationDate" class="control-label">報價日期</label>
                <select class="form-control" style="width: 100px;display:inline;" name="QuotationDate"></select>
                <input type="text" class="form-control" id="QuotationDate" name="QuotationDate" style="width:200px;display:inline;" value="@ViewBag.QuotationDate" />
                <button type="submit" class="btn btn-default" id="btnSearch" name="action" value="btnSearch" aria-label="Left Align" style="display: inline-block;">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-link" aria-label="Left Align" data-toggle="modal" data-target=".advanced-search-modal" style="display: inline-block;">
                    進階查詢
                </button>
            </div>
        </div>
    </div>

    var grid = new WebGrid(source: (IEnumerable<BusinessLayer.Models.RFQ_D>)ViewData["RFQ_D"], canPage: false, canSort: false, ajaxUpdateContainerId: "divGrid");


    @grid.GetHtml(
             tableStyle: "table table-striped table-hover rms-table rmaq01-table",
        columns: grid.Columns(
        grid.Column(columnName: "VendorId", header: "客戶代號", style: "VendorId"),
        grid.Column(columnName: "VendorName", header: "客戶名稱", style: "VendorName"),
        grid.Column(columnName: "PartNo", header: "零件品號", style: "PartNo"),
        grid.Column(columnName: "PartName", header: "零件品名", style: "PartName"),
        grid.Column(columnName: "ConfirmedDate", header: "報價日期", style: "ConfirmedDate"),
        grid.Column(columnName: "QTY", header: "數量", style: "QTY"),
        grid.Column(columnName: "UnitPrice", header: "單價", style: "UnitPrice"),
        grid.Column(columnName: "PreferentialPrice", header: "優惠價格", style: "PreferentialPrice"),
        grid.Column(columnName: "RFQType", header: "報價單別", style: "RFQType"),
        grid.Column(columnName: "RFQNo", header: "報價單號", style: "RFQNo"),
        grid.Column(columnName: "SourceOrderType", header: "維修單別", style: "SourceOrderType"),
        grid.Column(columnName: "SourceOrderNo", header: "維修單號", style: "SourceOrderNo"),
        grid.Column(columnName: "ProductNo", header: "品名", style: "ProductNo"),
        grid.Column(columnName: "Remark", header: "備註", style: "Remark")
        )
    )
}
</section>
@RenderPage("../../../../Views/Shared/RecordSelector/delete-dialog.cshtml")
@RenderPage("../../../../Views/Shared/RecordSelector/msg-dialog.cshtml")
@using REGAL.MVC.UI.Bootstrap;
@(Html.REGAL().FileUpload(name: "imageUploader", description: "The maximum file upload size is 500 KB.", cssClass: "modal-vertical-center"))
