<style type="text/css">
    .table .SaleDate {
        width: 85px;
    }
    .table .ProductNo {
        width: 100px;
    } 
    .table .ProductName {
        width: 100px;
    }
    .table .SerialNo {
        width: 100px;
    }
    .table .CustomerName {
        width: 100px;
    }
    .table .SourceOrderNo {
        width: 140px;
    }
    .table .SettingCode {
        width: 85px;
    }
    .table .RoutineService {
        width: 85px;
    }  
</style>

<script type="text/javascript">

    $(document).ready(function () {
        $('#id_SerArrangeOrderType').blur(function () {
            if (document.getElementById("id_OrderType").readOnly == true) {
                return;
            }
            if ($("#id_SerArrangeOrderType").val().trim() != "") {
                $.ajax({
                    url: '@Url.Action("GetOrderTypeName", "Main", new { Area = "CONI01" })',
                    data: JSON.stringify({ "OrderType": $("#id_SerArrangeOrderType").val().trim(), "OrderCategory": "D1" }),
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        $('#ordersname').text(data.OrderSName);
                    },
                    error: function () {
                        $("#msg_information").html("單別不存在！");
                        $('.msg-modal-lg').modal();
                        $("#id_SerArrangeOrderType").val("")
                        $('#ordersname').text("");
                        return;
                    }
                })
            } else {
                $("#id_SerArrangeOrderType").val("")
                $('#ordersname').text("");
            }
        });

        $("#btnWarrantyDate").on("click", function () {
            var chks = $("#divGrid input[name='chk']");
            var SelectInfo = false;
            var TypeInfo = true;
            var strType = "";
            for (var i = 0; i < chks.length; i++) {
                if (chks[i].type == "checkbox") {
                    if (chks[i].checked) {
                        SelectInfo = true;
                        if (strType == "")
                        {
                            strType = $(chks[i]).closest('tr').find(".RoutineService").html();
                        }else
                        {
                            if (strType != $(chks[i]).closest('tr').find(".RoutineService").html())
                            {
                                TypeInfo = false;
                                break;
                            }
                        }

                    }
                }
            }
            if (SelectInfo == false) {
                $("#msg_information").html("請選擇需設定保固項目！");
                $('.msg-modal-lg').modal();
                return;
            }
            if (TypeInfo == false) {
                $("#msg_information").html("請選擇需定保狀態一致的保固項目！");
                $('.msg-modal-lg').modal();
                return;
            }
            $("#warrantyType").val(strType);
            if (strType == "N:不定保")
            {
                document.getElementById("id_SerArrangeOrderType").readOnly = "readonly";
                $("#btnSerArrangeOrderType").attr("disabled","true")
            } else
            {
                document.getElementById("id_SerArrangeOrderType").readOnly = "";
                $("#btnSerArrangeOrderType").removeAttr("disabled")
            }
            $(".warranty-modal").modal();
        });

        $("#chkAll").on("click", function () {
            var isSelect = $("#chkAll").is(":checked");
            var chks = $("#divGrid input[name='chk']");
            for (var i = 0; i < chks.length; i++) {
                if (chks[i].type == "checkbox") {
                    chks[i].checked = isSelect;
                }
            }
        });

        $("#divGrid input[name='chk']").click(function () {
            var chks = $("#divGrid input[name='chk']");
            var allSelect = true;
            for (var i = 0; i < chks.length; i++) {
                if (chks[i].type == "checkbox") {
                    if (!chks[i].checked) {
                        allSelect = false;
                        break;
                    }
                }
            }
            var chkAll = $("#chkAll");
            if (chkAll[0].type == "checkbox") {
                chkAll[0].checked = allSelect;
            }
        });

        $("#submitButton-imageUploader").click(function () {
            var url = $("#id_fileUpload").val();
            if (url.trim() == "") {
                alert('請選擇要上傳的文件');
                return false;
            } else {
                if (url.split(".")[url.split(".").length - 1].toUpperCase() != "CSV") {
                    alert('文件格式不正確');
                    return false;
                }
                $.ajaxFileUpload({
                    url: '@Url.Action("Index", "Main")',
                    type: 'POST',
                    secureuri: false,
                    fileElementId: 'id_fileUpload',//file标签的id
                    dataType: 'json',//返回数据的类型
                    success: function (data) {
                        var serverData = data.split('-');
                        if (serverData[0] == "NO") {
                            alert(serverData[1]);
                        }
                        else {
                            window.location = "@Url.Action("Index", "Main")";
                        }
                    },
                    error: function (data, status, e) {
                        alert(e);
                    }
                });
            }
        });

    });
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function ($scope, $http) {
        $scope.OrderCategoryitems = null;
        $scope.OrderCategoryList = function () {
            $http({
                url: '@Url.Action("SearchOrderType", "Main", new { Area = "CONI01" })',
                params: { Col: ",OrderCategory", Condition: ",=", conditionValue: ",D1", Page: 0 }
            }).success(function (data, status) {
                $scope.OrderCategoryitems = data;
            })
        };
        $scope.SearchOrderCategoryList = function () {
            $http({
                url: '@Url.Action("SearchOrderType", "Main", new { Area = "CONI01" })',
                params: { Col: ",OrderCategory," + $("#addOrderCategoryCol").val(), Condition: ",=," + $("#addOrderCategoryCondition").val(), conditionValue: ",D1," + $("#addOrderCategoryconditionValue").val(), Page: 0 }
            }).success(function (data, status) {
                $scope.OrderCategoryitems = data;
            })
        };
    });
</script>
<section class="content-header">
    <h1>銷貨序號資料維護</h1>
</section>
<section class="content" ng-app="myApp" ng-controller="myCtrl">
    @using (Ajax.BeginForm("Index", "Main", FormMethod.Post, new AjaxOptions { UpdateTargetId = "DivGrid" }))
    {
        <div class="toolbar-container">
            <a class="btn btn-primary" href="@Url.Action("CUR", "Main", null)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 新增</a>

            <button type="button" class="btn btn-primary" style="display:inline;" id="btnWarrantyDate">保固設定</button>
            <button type="button" class="btn btn-primary" aria-label="Left Align" data-toggle="modal" data-target="#imageUploader">
                <span class="glyphicon glyphicon-import" aria-hidden="true"></span> 匯入
            </button>
            <button type="submit" class="btn btn-primary" aria-label="Left Align" name="action" value="btnExport">
                <span class="glyphicon glyphicon-export" aria-hidden="true"></span> 匯出
            </button>
            <input type="hidden" name="strAdvCol" value="@ViewBag.strAdvCol" />
            <input type="hidden" name="strAdvCondition" value="@ViewBag.strAdvCondition" />
            <input type="hidden" name="strAdvValue" value="@ViewBag.strAdvValue" />
        </div>
    }
    @using (Ajax.BeginForm("Index", "Main", FormMethod.Post, new AjaxOptions { UpdateTargetId = "DivGrid" }))
    {
        <div class="basic-search-container form-horizontal">
            <div class="form-group">
                <div class="col-sm-24">
                    <label for="id_asignstatus" class="control-label">狀態</label>
                    <select class="form-control" style="width: 100px;display:inline;" name="SettingCode">
                        @if (@ViewBag.SettingCode == "N")
                        {
                            <option value="N" selected>未設定</option>
                        }
                        else
                        {
                            <option value="N">未設定</option>
                        }
                        @if (@ViewBag.SettingCode == "Y")
                        {
                            <option value="Y" selected>已設定</option>
                        }
                        else
                        {
                            <option value="Y">已設定</option>
                        }
                        @if (@ViewBag.SettingCode == "")
                        {
                            <option value="" selected>全部</option>
                        }
                        else
                        {
                            <option value="">全部</option>
                        }

                    </select>
                    <label for="id_companyid" class="control-label">品號</label>
                    <select class="form-control" style="width: 100px;display:inline;" name="selCond1">
                        @if (ViewBag.selCond1 == "=")
                        {
                            <option value="=" selected>=</option>
                        }
                        else
                        {
                            <option value="=">=</option>
                        }
                        @if (ViewBag.selCond1 == ">")
                        {
                            <option value=">" selected>></option>
                        }
                        else
                        {
                            <option value=">">></option>
                        }
                        @if (ViewBag.selCond1 == ">=")
                        {
                            <option value=">=" selected>>=</option>
                        }
                        else
                        {
                            <option value=">=">>=</option>
                        }
                        @if (ViewBag.selCond1 == "<")
                        {
                            <option value="<" selected><</option>
                        }
                        else
                        {
                            <option value="<"><</option>
                        }
                        @if (ViewBag.selCond1 == "<=")
                        {
                            <option value="<=" selected><=</option>
                        }
                        else
                        {
                            <option value="<="><=</option>
                        }
                        @if (ViewBag.selCond1 == "<>")
                        {
                            <option value="<>" selected><></option>
                        }
                        else
                        {
                            <option value="<>"><></option>
                        }
                        @if (ViewBag.selCond1 == "like%")
                        {
                            <option value="like%" selected>like%</option>
                        }
                        else
                        {
                            <option value="like%">like%</option>
                        }
                        @if (ViewBag.selCond1 == "%like")
                        {
                            <option value="%like" selected>%like</option>
                        }
                        else
                        {
                            <option value="%like">%like</option>
                        }
                        @if (ViewBag.selCond1 == "%like%")
                        {
                            <option value="%like%" selected>%like%</option>
                        }
                        else
                        {
                            <option value="%like%">%like%</option>
                        }
                    </select>
                    <input type="text" class="form-control" id="id_strProductNo" name="strProductNo" style="display: inline-block; width: 200px;" value="@ViewBag.strProductNo" />
                    <label for="id_companyid" class="control-label" style="display:inline-block;">序號</label>
                    <select class="form-control" style="width: 100px;display:inline;" name="selCond2">
                        @if (ViewBag.selCond2 == "=")
                        {
                            <option value="=" selected>=</option>
                        }
                        else
                        {
                            <option value="=">=</option>
                        }
                        @if (ViewBag.selCond2 == ">")
                        {
                            <option value=">" selected>></option>
                        }
                        else
                        {
                            <option value=">">></option>
                        }
                        @if (ViewBag.selCond2 == ">=")
                        {
                            <option value=">=" selected>>=</option>
                        }
                        else
                        {
                            <option value=">=">>=</option>
                        }
                        @if (ViewBag.selCond2 == "<")
                        {
                            <option value="<" selected><</option>
                        }
                        else
                        {
                            <option value="<"><</option>
                        }
                        @if (ViewBag.selCond2 == "<=")
                        {
                            <option value="<=" selected><=</option>
                        }
                        else
                        {
                            <option value="<="><=</option>
                        }
                        @if (ViewBag.selCond2 == "<>")
                        {
                            <option value="<>" selected><></option>
                        }
                        else
                        {
                            <option value="<>"><></option>
                        }
                        @if (ViewBag.selCond2 == "like%")
                        {
                            <option value="like%" selected>like%</option>
                        }
                        else
                        {
                            <option value="like%">like%</option>
                        }
                        @if (ViewBag.selCond2 == "%like")
                        {
                            <option value="%like" selected>%like</option>
                        }
                        else
                        {
                            <option value="%like">%like</option>
                        }
                        @if (ViewBag.selCond2 == "%like%")
                        {
                            <option value="%like%" selected>%like%</option>
                        }
                        else
                        {
                            <option value="%like%">%like%</option>
                        }
                    </select>
                    <input type="text" class="form-control" id="id_strSerialNo" name="strSerialNo" style="display: inline-block; width: 200px;" value="@ViewBag.strSerialNo" />
                    <button type="submit" class="btn btn-default" id="btnSearch" name="action" value="btnSearch" aria-label="Left Align" style="display: inline-block;">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-link" aria-label="Left Align" data-toggle="modal" data-target=".advanced-search-modal" style="display: inline-block;">
                        進階查詢
                    </button>
                </div>
            </div>
        </div>
        <p style="color: red;">@ViewBag.Msg</p>
    <div id="divGrid">
        @{ 
        <input type="checkbox" id="chkAll" style="position: absolute; margin-left: 8px; margin-top: 13px;" />

            var grid = new WebGrid(source: (IEnumerable<BusinessLayer.Models.SaleSerial>)ViewData["SaleSerial"], canPage: false, canSort: false, ajaxUpdateContainerId: "divGrid");


        @grid.GetHtml(
                          tableStyle: "table table-striped table-hover rms-table psmi01-table",
                     columns: grid.Columns(
                         grid.Column(format: @<text>
                <input type="checkbox" id="id_chk" name="chk" value="@item.ProductNo#@item.SerialNo#@item.CustomerId#@item.SaleDate"/>
            </text>, style: "checkcolumn"),
                              grid.Column(columnName: "", header: "動作", style: "column-two-actions", format: @<text>
                <a href="@Url.Action("Edit", "Main", new { ProductNo = @item.ProductNo, SerialNo = @item.SerialNo, CustomerId = @item.CustomerId, SaleDate = @item.SaleDate })">編輯</a>
                @if (@item.SettingCode == "N:未設定")
                {
                    <a onclick="deleteInfo('@Url.Action("Delete", "Main", new { ProductNo = @item.ProductNo, SerialNo = @item.SerialNo, CustomerId = @item.CustomerId, SaleDate = @item.SaleDate })','@item.ProductNo')" href="#">刪除</a>
                }
            </text>, canSort: false),
                     grid.Column(columnName: "SaleDate", header: "銷貨日期", style: "SaleDate"),
                     grid.Column(columnName: "ProductNo", header: "品號", style: "ProductNo", format:
        @<text>
            <a href="@Url.Action("Details", "Main", new { ProductNo = @item.ProductNo, SerialNo = @item.SerialNo, CustomerId = @item.CustomerId, SaleDate = @item.SaleDate })">@item.ProductNo</a>
        </text>),
                     grid.Column(columnName: "ProductName", header: "品名", style: "ProductName"),
                     grid.Column(columnName: "SerialNo", header: "序號", style: "SerialNo"),
                     grid.Column(columnName: "CustomerName", header: "客戶", style: "CustomerName"),
                     grid.Column(columnName: "SourceOrderNo", header: "來源單號", style: "SourceOrderNo", format: @<text> @item.SourceOrderType-@item.SourceOrderNo-@item.SourceOrderItemId</text> ),
                     grid.Column(columnName: "SettingCode", header: "狀態", style: "SettingCode"),
                     grid.Column(columnName: "RoutineService", header: "定保", style: "RoutineService")
                     )
                 )
            }
        </div>
        
        @RenderPage("~/Areas/PSMI01/Views/Shared/warranty-modal.cshtml")
    }
</section>
<input type="hidden" title="module" value="PSMI01" />
@RenderPage("../../../../Views/Shared/RecordSelector/delete-dialog.cshtml")
@RenderPage("../../../../Views/Shared/RecordSelector/msg-dialog.cshtml")
@RenderPage("~/Areas/PSMI01/Views/Shared/advanced-search-modal.cshtml")
@using REGAL.MVC.UI.Bootstrap;
@(Html.REGAL().FileUpload(name: "imageUploader", description: "The maximum file upload size is 500 KB.", cssClass: "modal-vertical-center"))
