@using BusinessLayer.Models;

<script type="text/javascript">
    $(document).ready(function () {
        $('.delete_Customer').on('click', function () {
            if (confirm("是否確定刪除" + $(this).parent().parent().children('td').eq(2).find($("a")).html() + "客戶？")) {
                return true;
            } else {
                return false;
            }
        });
    })
</script>

<section class="content-header">
    <h1>客戶基本資料維護</h1>
</section>
<section class="content">
@Html.Raw(ViewBag.js)
@using (Ajax.BeginForm("Index", "Main", new AjaxOptions {HttpMethod = "POST"}))
{
    <div class="toolbar-container">
        <button type="submit" class="btn btn-primary" id="btnAdd" name="action" value="btnAdd" aria-label="Left Align">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 新增
        </button>
        <button type="button" class="btn btn-primary" aria-label="Left Align" data-toggle="modal" data-target="#importSelect1">
            <span class="glyphicon glyphicon-import" aria-hidden="true"></span> 匯入
        </button>
        <button type="submit" class="btn btn-primary" id="btnExport" name="action" value="btnExport" aria-label="Left Align">
            <span class="glyphicon glyphicon-export" aria-hidden="true"></span> 匯出
        </button>
    </div>
}

<div class="basic-search-container form-horizontal">
<div class="form-group">
<div class="col-sm-24">
@using (Ajax.BeginForm("Index", "Main", new AjaxOptions {HttpMethod = "POST"}, new {@style = "display: inline-block;"}))
{
    <label for="id_customerId" class="control-label">客戶代號</label>
    <select class="form-control" style="width: 100px; display: inline;" id="selectCondition1" name="selectCondition1">
        @if (ViewBag.SelectCondition1 == ">")
        {
            <option value="=">=</option>
            <option value=">" selected="selected">&gt;</option>
            <option value=">=">&gt;=</option>
            <option value="<">&lt;</option>
            <option value="<=">&lt;=</option>
            <option value="<>"><></option>
            <option value="like1">%like</option>
            <option value="like2">like%</option>
            <option value="like3">%like%</option>
        }
        else if (ViewBag.SelectCondition1 == ">=")
        {
            <option value="=">=</option>
            <option value=">">&gt;</option>
            <option value=">=" selected="selected">&gt;=</option>
            <option value="<">&lt;</option>
            <option value="<=">&lt;=</option>
            <option value="<>"><></option>
            <option value="like1">%like</option>
            <option value="like2">like%</option>
            <option value="like3">%like%</option>
        }
        else if (ViewBag.SelectCondition1 == "<")
        {
            <option value="=">=</option>
            <option value=">">&gt;</option>
            <option value=">=">&gt;=</option>
            <option value="<" selected="selected">&lt;</option>
            <option value="<=">&lt;=</option>
            <option value="<>"><></option>
            <option value="like1">%like</option>
            <option value="like2">like%</option>
            <option value="like3">%like%</option>
        }
        else if (ViewBag.SelectCondition1 == "<=")
        {
            <option value="=">=</option>
            <option value=">">&gt;</option>
            <option value=">=">&gt;=</option>
            <option value="<">&lt;</option>
            <option value="<=" selected="selected">&lt;=</option>
            <option value="<>"><></option>
            <option value="like1">%like</option>
            <option value="like2">like%</option>
            <option value="like3">%like%</option>
        }
        else if (ViewBag.SelectCondition1 == "<>")
        {
            <option value="=">=</option>
            <option value=">">&gt;</option>
            <option value=">=">&gt;=</option>
            <option value="<">&lt;</option>
            <option value="<=">&lt;=</option>
            <option value="<>" selected="selected"><></option>
            <option value="like1">%like</option>
            <option value="like2">like%</option>
            <option value="like3">%like%</option>
        }
        else if (ViewBag.SelectCondition1 == "like1")
        {
            <option value="=">=</option>
            <option value=">">&gt;</option>
            <option value=">=">&gt;=</option>
            <option value="<">&lt;</option>
            <option value="<=">&lt;=</option>
            <option value="<>"><></option>
            <option value="like1" selected="selected">%like</option>
            <option value="like2">like%</option>
            <option value="like3">%like%</option>
        }
        else if (ViewBag.SelectCondition1 == "like2")
        {
            <option value="=">=</option>
            <option value=">">&gt;</option>
            <option value=">=">&gt;=</option>
            <option value="<">&lt;</option>
            <option value="<=">&lt;=</option>
            <option value="<>"><></option>
            <option value="like1">%like</option>
            <option value="like2" selected="selected">like%</option>
            <option value="like3">%like%</option>
        }
        else if (ViewBag.SelectCondition1 == "like3")
        {
            <option value="=">=</option>
            <option value=">">&gt;</option>
            <option value=">=">&gt;=</option>
            <option value="<">&lt;</option>
            <option value="<=">&lt;=</option>
            <option value="<>"><></option>
            <option value="like1">%like</option>
            <option value="like2">like%</option>
            <option value="like3" selected="selected">%like%</option>
        }
        else
        {
            <option value="=" selected="selected">=</option>
            <option value=">">&gt;</option>
            <option value=">=">&gt;=</option>
            <option value="<">&lt;</option>
            <option value="<=">&lt;=</option>
            <option value="<>"><></option>
            <option value="like1">%like</option>
            <option value="like2">like%</option>
            <option value="like3">%like%</option>
        }
    </select>
    <input type="text" class="form-control" id="id_customerId" name="customerId" maxlength="10" value="@ViewBag.CustomerId" style="display: inline-block; width: 200px;"/>
    <label for="id_customername" class="control-label">客戶簡稱</label>
    <select class="form-control" style="width: 100px; display: inline;" id="selectCondition2" name="selectCondition2">
        @if (ViewBag.SelectCondition2 == ">")
        {
            <option value="=">=</option>
            <option value=">" selected="selected">&gt;</option>
            <option value=">=">&gt;=</option>
            <option value="<">&lt;</option>
            <option value="<=">&lt;=</option>
            <option value="<>"><></option>
            <option value="like1">%like</option>
            <option value="like2">like%</option>
            <option value="like3">%like%</option>
        }
        else if (ViewBag.SelectCondition2 == ">=")
        {
            <option value="=">=</option>
            <option value=">">&gt;</option>
            <option value=">=" selected="selected">&gt;=</option>
            <option value="<">&lt;</option>
            <option value="<=">&lt;=</option>
            <option value="<>"><></option>
            <option value="like1">%like</option>
            <option value="like2">like%</option>
            <option value="like3">%like%</option>
        }
        else if (ViewBag.SelectCondition2 == "<")
        {
            <option value="=">=</option>
            <option value=">">&gt;</option>
            <option value=">=">&gt;=</option>
            <option value="<" selected="selected">&lt;</option>
            <option value="<=">&lt;=</option>
            <option value="<>"><></option>
            <option value="like1">%like</option>
            <option value="like2">like%</option>
            <option value="like3">%like%</option>
        }
        else if (ViewBag.SelectCondition2 == "<=")
        {
            <option value="=">=</option>
            <option value=">">&gt;</option>
            <option value=">=">&gt;=</option>
            <option value="<">&lt;</option>
            <option value="<=" selected="selected">&lt;=</option>
            <option value="<>"><></option>
            <option value="like1">%like</option>
            <option value="like2">like%</option>
            <option value="like3">%like%</option>
        }
        else if (ViewBag.SelectCondition2 == "like1")
        {
            <option value="=">=</option>
            <option value=">">&gt;</option>
            <option value=">=">&gt;=</option>
            <option value="<">&lt;</option>
            <option value="<=">&lt;=</option>
            <option value="<>"><></option>
            <option value="like1" selected="selected">%like</option>
            <option value="like2">like%</option>
            <option value="like3">%like%</option>
        }
        else if (ViewBag.SelectCondition2 == "like2")
        {
            <option value="=">=</option>
            <option value=">">&gt;</option>
            <option value=">=">&gt;=</option>
            <option value="<">&lt;</option>
            <option value="<=">&lt;=</option>
            <option value="<>"><></option>
            <option value="like1">%like</option>
            <option value="like2" selected="selected">like%</option>
            <option value="like3">%like%</option>
        }
        else if (ViewBag.SelectCondition2 == "like3")
        {
            <option value="=">=</option>
            <option value=">">&gt;</option>
            <option value=">=">&gt;=</option>
            <option value="<">&lt;</option>
            <option value="<=">&lt;=</option>
            <option value="<>"><></option>
            <option value="like1">%like</option>
            <option value="like2">like%</option>
            <option value="like3" selected="selected">%like%</option>
        }
        else
        {
            <option value="=" selected="selected">=</option>
            <option value=">">&gt;</option>
            <option value=">=">&gt;=</option>
            <option value="<">&lt;</option>
            <option value="<=">&lt;=</option>
            <option value="<>"><></option>
            <option value="like1">%like</option>
            <option value="like2">like%</option>
            <option value="like3">%like%</option>
        }
    </select>
    <input type="text" class="form-control" id="id_customername" name="customerName" maxlength="30" value="@ViewBag.CustomerName" style="display: inline-block; width: 200px;"/>
    <button type="submit" class="btn btn-default" id="btnSearch" name="action" value="btnSearch" aria-label="Left Align" style="display: inline-block;">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </button>
}
<button class="btn btn-link" aria-label="Left Align" data-toggle="modal" data-target=".advanced-search-modal" style="display: inline-block;">
    進階查詢
</button>
</div>
</div>
</div>

<div id="divGrid">
    @{
        var webGrid = new WebGrid(source: (IEnumerable<Customer>) ViewData["DisplayData"], canPage: false, canSort: true, defaultSort: "CustomerId", ajaxUpdateContainerId: "divGrid");
    }

    @webGrid.GetHtml(

        tableStyle: "table table-striped table-hover rms-table cmsi09-table",
        mode: WebGridPagerModes.All, firstText: "第一頁", previousText: "上一頁", nextText: "下一頁", lastText: "最後一頁", numericLinksCount: 10,
        columns: webGrid.Columns(
            webGrid.Column(columnName: "", header: "動作", style: "column-two-actions",
                format:
                    @<text>
                        @Html.ActionLink("編輯", "CUR", "Main", new {id = item.CustomerId, type = "Edit"}, null)
                        @Html.ActionLink("刪除", "Delete", "Main", new {id = item.CustomerId}, new {@class = "delete_Customer"})
                     </text>),
            webGrid.Column(columnName: "CustomerId", header: "客戶代號", style: "col-customer-id"),
            webGrid.Column(columnName: "CustomerName", header: "客戶簡稱", style: "col-customer-name",
                format:
                    @<text>
                        <a href="@Url.Action("CUR", "Main", new {id = item.CustomerId, type = "Detail"}, null)">@item.CustomerName</a>
                     </text>),
            webGrid.Column(columnName: "Contact", header: "連絡人", style: "col-contact"),
            webGrid.Column(columnName: "TelNo", header: "電話", style: "col-tel"),
            webGrid.Column(columnName: "SalesName", header: "業務員")
            )
        )
</div>
</section>
<input type="hidden" title="module" value="CMSI09" />
@RenderPage("~/Areas/CMSI09/Views/Shared/advanced-search-modal.cshtml")
@RenderPage("~/Areas/CMSI09/Views/Shared/advanced-import1-modal.cshtml")







