<section class="content-header">
    <h1>發料單維護</h1>
</section>
<section class="content">
    @using (Ajax.BeginForm("Index", "Main", FormMethod.Post, new AjaxOptions { UpdateTargetId = "DivGrid" }))
    {
        <div class="toolbar-container">
            <a class="btn btn-primary" href="@Url.Action("CUR", "Main", null)" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 新增</a>
            <button type="submit" class="btn btn-primary" id="btnExport" name="action" value="btnExport" aria-label="Left Align">
                <span class="glyphicon glyphicon-export" aria-hidden="true"></span> 匯出
            </button>
        </div>
    }
    @using (Ajax.BeginForm("Index", "Main", FormMethod.Post, new AjaxOptions { UpdateTargetId = "DivGrid" }))
    {
        <div class="basic-search-container form-horizontal">
            <div class="form-group">
                <div class="col-sm-24">
                    <label for="id_pickingstatus" class="control-label">發料狀態</label>
                    <select class="form-control" style="width: 100px;display:inline;" name="IsPicking">
                        @if (ViewBag.IsPicking == "N")
                        {
                            <option value="N" selected>未發料</option>
                        }
                        else
                        {
                            <option value="N">未發料</option>
                        }
                        @if (ViewBag.IsPicking == "Y")
                {
                            <option value="Y" selected>已發料</option>
                        }
                        else
                        {
                            <option value="Y">已發料</option>
                        }
                        @if (ViewBag.IsPicking == "")
                {
                            <option value="" selected>全部</option>
                        }
                        else
                        {
                            <option value="">全部</option>
                        }
                    </select>
                    <label for="id_customerid" class="control-label">客戶代號</label>
                    <select class="form-control" style="width: 100px;display:inline;" name="selCond1">
                        @if (ViewBag.selCond1 == "=")
                {
                            <option value="=" selected>=</option>
                        }
                        else
                        {
                            <option value="=">=</option>
                        }
                        @if (ViewBag.selCond1 == ">")
                {
                            <option value=">" selected>></option>
                        }
                        else
                        {
                            <option value=">">></option>
                        }
                        @if (ViewBag.selCond1 == ">=")
                {
                            <option value=">=" selected>>=</option>
                        }
                        else
                        {
                            <option value=">=">>=</option>
                        }
                        @if (ViewBag.selCond1 == "<")
                {
                            <option value="<" selected><</option>
                        }
                        else
                        {
                            <option value="<"><</option>
                        }
                        @if (ViewBag.selCond1 == "<=")
                {
                            <option value="<=" selected><=</option>
                        }
                        else
                        {
                            <option value="<="><=</option>
                        }
                        @if (ViewBag.selCond1 == "<>")
                {
                            <option value="<>" selected><></option>
                        }
                        else
                        {
                            <option value="<>"><></option>
                        }
                        @if (ViewBag.selCond1 == "like%")
                {
                            <option value="like%" selected>like%</option>
                        }
                        else
                        {
                            <option value="like%">like%</option>
                        }
                        @if (ViewBag.selCond1 == "%like")
                {
                            <option value="%like" selected>%like</option>
                        }
                        else
                        {
                            <option value="%like">%like</option>
                        }
                        @if (ViewBag.selCond1 == "%like%")
                {
                            <option value="%like%" selected>%like%</option>
                        }
                        else
                        {
                            <option value="%like%">%like%</option>
                        }
                    </select>
                    <input type="text" class="form-control" id="id_customerid" name="customerid" style="width:200px;display:inline;" value="@ViewBag.CustomerId">
                    <label for="id_exorder" class="control-label">來源單號</label>
                    <select class="form-control" style="width: 100px;display:inline;" name="selCond2">
                        @if (ViewBag.selCond2 == "=")
                {
                            <option value="=" selected>=</option>
                        }
                        else
                        {
                            <option value="=">=</option>
                        }
                        @if (ViewBag.selCond2 == ">")
                {
                            <option value=">" selected>></option>
                        }
                        else
                        {
                            <option value=">">></option>
                        }
                        @if (ViewBag.selCond2 == ">=")
                {
                            <option value=">=" selected>>=</option>
                        }
                        else
                        {
                            <option value=">=">>=</option>
                        }
                        @if (ViewBag.selCond2 == "<")
                {
                            <option value="<" selected><</option>
                        }
                        else
                        {
                            <option value="<"><</option>
                        }
                        @if (ViewBag.selCond2 == "<=")
                {
                            <option value="<=" selected><=</option>
                        }
                        else
                        {
                            <option value="<="><=</option>
                        }
                        @if (ViewBag.selCond2 == "<>")
                {
                            <option value="<>" selected><></option>
                        }
                        else
                        {
                            <option value="<>"><></option>
                        }
                        @if (ViewBag.selCond2 == "like%")
                {
                            <option value="like%" selected>like%</option>
                        }
                        else
                        {
                            <option value="like%">like%</option>
                        }
                        @if (ViewBag.selCond2 == "%like")
                {
                            <option value="%like" selected>%like</option>
                        }
                        else
                        {
                            <option value="%like">%like</option>
                        }
                        @if (ViewBag.selCond2 == "%like%")
                {
                            <option value="%like%" selected>%like%</option>
                        }
                        else
                        {
                            <option value="%like%">%like%</option>
                        }
                    </select>
                    <input type="text" class="form-control" id="id_SupportAplOrderNo" name="id_supportaplorderno" style="width:200px;display:inline;" value="@ViewBag.SupportAplOrderNo">
                    <button type="submit" class="btn btn-default" id="btnSearch" name="action" value="btnSearch" aria-label="Left Align" style="display: inline-block;">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-link" aria-label="Left Align" data-toggle="modal" data-target=".advanced-search-modal" style="display: inline-block;">
                        進階查詢
                    </button>
                </div>
            </div>
        </div>
        var grid = new WebGrid(source: (IEnumerable<BusinessLayer.Models.Picking_H>)ViewData["Picking_H"], canPage: false, canSort: false, ajaxUpdateContainerId: "divGrid");

        @grid.GetHtml(
                 tableStyle: "table table-striped table-hover rms-table supi09-table",
            columns: grid.Columns(
                     grid.Column(header: "編輯", style: "column-one-action", format: @<text>
                    @if (@item.Confirmed == "N.未發料")
                    {
                        <a href="@Url.Action("Edit", "Main", new { PickingOrderType = @item.PickingOrderType, PickingOrderNo = @item.PickingOrderNo })">編輯</a>
                    }
                </text>, canSort: false),
                grid.Column(header: "刪除", style: "column-one-action", format: @<text>
                    <a onclick="deleteInfo('@Url.Action("Delete", "Main", new { PickingOrderType = @item.PickingOrderType, PickingOrderNo = @item.PickingOrderNo })', '@item.PickingOrderNo')" href="#">刪除</a>
                </text>, canSort: false),
                grid.Column(columnName: "PickingOrderType", header: "單別", style: "pickingordertype"),
                grid.Column(columnName: "PickingOrderNo", header: "單號", style: "pickingorderno", format:@<text><a href="@Url.Action("Details", "Main", new { PickingOrderType = @item.PickingOrderType, PickingOrderNo = @item.PickingOrderNo })">@item.PickingOrderNo</a> </text>),
                grid.Column(columnName: "CustomerName", header: "客戶名稱", style: "customername", format:@<text><a href="@Url.Action("CUR", "Main", new { Area = "CMSI09", id = @item.CustomerId, type = "Detail" })">@item.CustomerName</a> </text>),
                grid.Column(columnName: "SupportDeptName", header: "支援單位", style: "supportdeptname"),
                grid.Column(columnName: "RequestDate", header: "需求日期", style: "RequestDate"),
                grid.Column(columnName: "SalesName", header: "業務人員", style: "salesname"),
                grid.Column(columnName: "CreatorName", header: "建立人員", style: "creatorname"),
                grid.Column(columnName: "CustomerType", header: "客戶狀態", style: "customertype"),
                grid.Column(columnName: "SupportAplOrderType", header: "來源單別", style: "supportaplordertype"),
                grid.Column(columnName: "SupportAplOrderNo", header: "來源單號", style: "supportaplorderno")
                )
            )
        <p style="color: red;">@ViewBag.Msg</p>
        @RenderPage("~/Areas/SUPI09/Views/Shared/advanced-search-modal.cshtml")
    }
</section>
<input type="hidden" title="module" value="SUPI09" />
    @RenderPage("../../../../Views/Shared/RecordSelector/delete-dialog.cshtml")

