<style type="text/css">
    .table .actioncolumn {
        width: 85px;
    }

    .table .categoryType {
        width: 120px;
    }
    .table .ProductTypeId {
        width: 180px;
    }    
</style>
<section class="content-header">
    <h1>定保單維護</h1>
</section>
<section class="content">
    @using (Ajax.BeginForm("Index", "Main", FormMethod.Post, new AjaxOptions { UpdateTargetId = "DivGrid" }))
    {
        <div class="toolbar-container">
            <a class="btn btn-primary" href="@Url.Action("CUR", "Main", null)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 新增</a>
            <button type="submit" class="btn btn-primary" aria-label="Left Align" name="action" value="btnExport">
                <span class="glyphicon glyphicon-export" aria-hidden="true"></span> 匯出
            </button>
        </div>
    }
    @using (Ajax.BeginForm("Index", "Main", FormMethod.Post, new AjaxOptions { UpdateTargetId = "DivGrid" }))
    {
        <div class="basic-search-container form-horizontal">
            <div class="form-group">
                <div class="col-sm-24">
                    <label for="id_companyid" class="control-label">單號</label>
                    <select class="form-control" style="width: 100px;display:inline;" name="selCond1">
                        @if (ViewBag.selCond1 == "=")
                        {
                            <option value="=" selected>=</option>
                        }
                        else
                        {
                            <option value="=">=</option>
                        }
                        @if (ViewBag.selCond1 == ">")
                        {
                            <option value=">" selected>></option>
                        }
                        else
                        {
                            <option value=">">></option>
                        }
                        @if (ViewBag.selCond1 == ">=")
                        {
                            <option value=">=" selected>>=</option>
                        }
                        else
                        {
                            <option value=">=">>=</option>
                        }
                        @if (ViewBag.selCond1 == "<")
                        {
                            <option value="<" selected><</option>
                        }
                        else
                        {
                            <option value="<"><</option>
                        }
                        
                        @if (ViewBag.selCond1 == "<=")
                        {
                            <option value="<=" selected><=</option>
                        }
                        else
                        {
                            <option value="<="><=</option>
                        }
                        @if (ViewBag.selCond1 == "<>")
                        {
                            <option value="<>" selected><></option>
                        }
                        else
                        {
                            <option value="<>"><></option>
                        }
                        @if (ViewBag.selCond1 == "like%")
                        {
                            <option value="like%" selected>like%</option>
                        }
                        else
                        {
                            <option value="like%">like%</option>
                        }
                        @if (ViewBag.selCond1 == "%like")
                        {
                            <option value="%like" selected>%like</option>
                        }
                        else
                        {
                            <option value="%like">%like</option>
                        }
                        @if (ViewBag.selCond1 == "%like%")
                        {
                            <option value="%like%" selected>%like%</option>
                        }
                        else
                        {
                            <option value="%like%">%like%</option>
                        }
                    </select>
                    <input type="text" class="form-control" id="id_strRoutineSerOrderNo" name="strRoutineSerOrderNo" style="display: inline-block; width: 200px;" value="@ViewBag.strRoutineSerOrderNo" tabindex="1" />
                    <label for="id_companyid" class="control-label" style="display:inline-block;">客戶代號</label>
                    <select class="form-control" style="width: 100px;display:inline;" name="selCond2">
                        @if (ViewBag.selCond2 == "=")
                        {
                            <option value="=" selected>=</option>
                        }
                        else
                        {
                            <option value="=">=</option>
                        }
                        @if (ViewBag.selCond2 == ">")
                        {
                            <option value=">" selected>></option>
                        }
                        else
                        {
                            <option value=">">></option>
                        }
                        @if (ViewBag.selCond2 == ">=")
                        {
                            <option value=">=" selected>>=</option>
                        }
                        else
                        {
                            <option value=">=">>=</option>
                        }
                        @if (ViewBag.selCond2 == "<")
                        {
                            <option value="<" selected><</option>
                        }
                        else
                        {
                            <option value="<"><</option>
                        }
                           @if (ViewBag.selCond2 == "<=")
                           {
                            <option value="<=" selected><=</option>
                           }
                           else
                           {
                            <option value="<="><=</option>
                           }
                        @if (ViewBag.selCond2 == "<>")
                        {
                            <option value="<>" selected><></option>
                        }
                        else
                        {
                            <option value="<>"><></option>
                        }
                        @if (ViewBag.selCond2 == "like%")
                        {
                            <option value="like%" selected>like%</option>
                        }
                        else
                        {
                            <option value="like%">like%</option>
                        }
                        @if (ViewBag.selCond2 == "%like")
                        {
                            <option value="%like" selected>%like</option>
                        }
                        else
                        {
                            <option value="%like">%like</option>
                        }
                        @if (ViewBag.selCond2 == "%like%")
                        {
                            <option value="%like%" selected>%like%</option>
                        }
                        else
                        {
                            <option value="%like%">%like%</option>
                        }
                    </select>
                    <input type="text" class="form-control" id="id_strCustomerId" name="strCustomerId" style="display: inline-block; width: 200px;" value="@ViewBag.strCustomerId" tabindex="2" />
                    <button type="submit" class="btn btn-default" id="btnSearch" name="action" value="btnSearch" aria-label="Left Align" style="display: inline-block;">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-link" aria-label="Left Align" data-toggle="modal" data-target=".advanced-search-modal" style="display: inline-block;">
                        進階查詢
                    </button>
                </div>
            </div>
        </div>

        var grid = new WebGrid(source: (IEnumerable<BusinessLayer.Models.RoutineService_H>)ViewData["RoutineService_H"], canPage: false, canSort: true, ajaxUpdateContainerId: "divGrid");


        @grid.GetHtml(
             tableStyle: "table table-striped table-hover rms-table pmai04-table",
        columns: grid.Columns(
                 grid.Column(columnName: "", header: "動作", style: "column-three-actions", format: @<text>
                <a href="@Url.Action("Edit", "Main", new { RoutineSerOrderType = @item.RoutineSerOrderType, RoutineSerOrderNo = @item.RoutineSerOrderNo })">編輯</a>
    <a onclick="deleteInfo('@Url.Action("Delete", "Main", new { RoutineSerOrderType = @item.RoutineSerOrderType, RoutineSerOrderNo = @item.RoutineSerOrderNo })','@item.RoutineSerOrderNo')" href="#">刪除</a>
                <a href="@Url.Action("Print", "Main", new { RoutineSerOrderType = @item.RoutineSerOrderType, RoutineSerOrderNo = @item.RoutineSerOrderNo })">列印</a>
            </text>, canSort: false),
        grid.Column(columnName: "RoutineSerOrderType", header: "單別", style: "RoutineSerOrderType"),
        grid.Column(columnName: "RoutineSerOrderNo", header: "單號", style: "RoutineSerOrderNo", format:
        @<text>
            <a href="@Url.Action("Details", "Main", new { RoutineSerOrderType = @item.RoutineSerOrderType, RoutineSerOrderNo = @item.RoutineSerOrderNo })">@item.RoutineSerOrderNo</a>
        </text>),
        grid.Column(columnName: "CustomerName", header: "客戶簡稱", style: "CustomerName"),
        grid.Column(columnName: "CustomerType", header: "客戶型態", style: "CustomerType"),
        grid.Column(columnName: "ProductNo", header: "品號", style: "ProductNo"),
        grid.Column(columnName: "ProductName", header: "品名", style: "ProductName"),
        grid.Column(columnName: "SerialNo", header: "序號", style: "SerialNo"),
        grid.Column(columnName: "ArrangeMonth", header: "保養月份", style: "ArrangeMonth"),
        grid.Column(columnName: "RoutineSerMan", header: "定保人員", style: "RoutineSerMan"),
        grid.Column(columnName: "WarrantySDate", header: "保固起日", style: "WarrantySDate"),
        grid.Column(columnName: "WarrantyEDate", header: "保固迄日", style: "WarrantyEDate"),
        grid.Column(columnName: "ConfirmedDate", header: "完工日期", style: "ConfirmedDate")
        )
    )
        <p style="color: red;">@ViewBag.Msg</p>
        @RenderPage("~/Areas/PMAI04/Views/Shared/advanced-search-modal.cshtml")
    }
</section>
<input type="hidden" title="module" value="PMAI04" />
    @RenderPage("../../../../Views/Shared/RecordSelector/delete-dialog.cshtml")

    @using REGAL.MVC.UI.Bootstrap;
    @(Html.REGAL().FileUpload(name: "imageUploader", description: "The maximum file upload size is 500 KB.", cssClass: "modal-vertical-center"))
