<section class="content-header">
    <h1>送廠歸還單維護</h1>
</section>
<section class="content">
@using (Ajax.BeginForm("Index", "Main", FormMethod.Post, new AjaxOptions { UpdateTargetId = "DivGrid" }))
{
    <div class="toolbar-container">
        <a class="btn btn-primary" href="@Url.Action("CUR", "Main", null)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 新增</a>
        <button type="submit" class="btn btn-primary" id="btnExport" name="action" value="btnExport" aria-label="Left Align">
            <span class="glyphicon glyphicon-export" aria-hidden="true"></span> 匯出
        </button>
    </div>
}
@using (Ajax.BeginForm("Index", "Main", FormMethod.Post, new AjaxOptions { UpdateTargetId = "DivGrid" }))
{
    <div class="basic-search-container form-horizontal">
        <div class="form-group">
            <div class="col-sm-24">
                <label for="id_RMAReturnType" class="control-label">單別</label>
                <select class="form-control" style="width: 100px;display:inline;" name="RMAReturnType"></select>
                <input type="text" class="form-control" id="RMAReturnType" name="RMAReturnType" style="width:200px;display:inline;" value="@ViewBag.RMAReturnType" />
                <label for="id_RMAReturnNo" class="control-label">單號</label>
                <select class="form-control" style="width: 100px;display:inline;" name="RMAReturnNo"></select>
                <input type="text" class="form-control" id="RMAReturnNo" name="RMAReturnNo" style="width:200px;display:inline;" value="@ViewBag.RMAReturnNo">
                <button type="submit" class="btn btn-default" id="btnSearch" name="action" value="btnSearch" aria-label="Left Align" style="display: inline-block;">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-link" aria-label="Left Align" data-toggle="modal" data-target=".advanced-search-modal" style="display: inline-block;">
                    進階查詢
                </button>
            </div>
        </div>
    </div>
    var grid = new WebGrid(source: (IEnumerable<BusinessLayer.Models.RMAReturn_H>)ViewData["RMAReturn_H"], canPage: false, canSort: false, ajaxUpdateContainerId: "divGrid");

    @grid.GetHtml(
          tableStyle: "table table-striped table-hover rms-table rmai06-table",
         columns: grid.Columns(
              grid.Column(columnName: "", header: "動作", style: "column-two-actions", format: @<text>
                <a href="@Url.Action("Edit", "Main", new { RMAReturnType = @item.RMAReturnType, RMAReturnNo = @item.RMAReturnNo })">編輯</a>
                <a href="#" onclick="deleteInfo('@Url.Action("Delete", "Main", new { RMAReturnType = @item.RMAReturnType, RMAReturnNo = @item.RMAReturnNo })','@item.RMAReturnType - @item.RMAReturnNo')">刪除</a>
            </text>, canSort: false),
         grid.Column(columnName: "RMAReturnType", header: "單別", style: "RMAReturnType"),
         grid.Column(columnName: "OrderSName", header: "單據名稱", style: "OrderSName"),
         grid.Column(columnName: "RMAReturnNo", header: "單號", style: "RMAReturnNo", format:
        @<text>
            <a href="@Url.Action("Details", "Main", new { RMAReturnType = @item.RMAReturnType, RMAReturnNo = @item.RMAReturnNo })">@item.RMAReturnNo</a>
        </text>),
        grid.Column(columnName: "VendorName", header: "廠商", style: "VendorName"),
        grid.Column(columnName: "OrderDate", header: "單據日期", style: "OrderDate"),
         grid.Column(columnName: "Confirmed", header: "狀態", style: "Confirmed")
         //grid.Column(columnName: "ConfirmorName", header: "送廠人員", style: "ConfirmorName")
         )
     )
}
</section>
@RenderPage("../../../../Views/Shared/RecordSelector/delete-dialog.cshtml")
@RenderPage("../../../../Views/Shared/RecordSelector/msg-dialog.cshtml")
@using REGAL.MVC.UI.Bootstrap;
@(Html.REGAL().FileUpload(name: "imageUploader", description: "The maximum file upload size is 500 KB.", cssClass: "modal-vertical-center"))
