@using System.Security.Policy
@using System.Web.Mvc.Ajax
<script type="text/javascript">
    $(document).ready(function() {
        $(".selectVendor").click(function() {
            $("#importType").val($(this).attr("id"));
            $("#txtCondition1").val("");
            $("#txtCondition2").val("");
            $.ajax({
                url: '@Url.Action("SearchVendor", "Main")',
                type: "POST",
                datatype: 'JSON',
                data: JSON.stringify({ "id": "", "name": "" }),
                contentType: 'application/json; charset=utf-8',
                success: function(data) {
                    $("#divVendorGrid table tbody").empty();
                    var Maintain = eval(data);
                    for (var i = 0; i < Maintain.length; i++) {
                        $("#divVendorGrid table tbody").append("<tr>" +
                            "<td class='actioncolumn'><a class='btn btn-link' data-dismiss='modal' onclick='SelectVendor(this)'>選擇</a></td>" +
                            "<td class='departmentId'>" + Maintain[i].VendorId + "</td>" +
                            "<td class='departmentName'>" + Maintain[i].VendorName + "</td>" +
                            "</tr>");
                    }
                }
            });
        });
      

        $("#importSelect1_btnImport").click(function () {
            if ($("input[name='importType']:checked").val() == 'A') {
                if ($("#id_vendor1").val() == "") {
                    alert("請先選擇廠商代號");
                    return false;
                }
            }
            if ($("input[name='importType']:checked").val() == 'C') {
                if ($("#id_vendor2").val() == "") {
                    alert("請先選擇廠商代號");
                    return false;
                }
            }
            return true;
        });

        $("#submitButton-imageUploader").click(function () {
            var url = $("#id_fileUpload").val();
            if (url.trim() == "") {
                alert('請選擇要上傳的文件');
                return false;
            } else {
                if (url.split(".")[url.split(".").length - 1].toUpperCase() != "CSV") {
                    alert('文件格式不正確');
                    return false;
                }
                $.ajaxFileUpload({
                    url: "@Url.Action("Index","Main")",
                    secureuri: false,
                    data: { type: $("input[name='importType']:checked").val() },
                    fileElementId: 'id_fileUpload',//file标签的id
                    dataType: 'json',//返回数据的类型
                    success: function (data) {
                        if (data == "1") {
                            //window.location = "../CMSI03/Main";
                            window.location = "@Url.Action("Index","Main")";
                        } else {
                            alert(data);
                        }
                    },
                    error: function (data, status, e) {
                        alert(e);
                    }
                });
            }
        });
    })
</script>
<!-- 模态框（Modal） -->
<div class="modal fade modal-vertical-center" id="importSelect1" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                    匯入選擇
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-inline">
                    <div class="form-group col-md-24">
                        <div class="radio">
                            <label>
                                @Html.RadioButton("importType", "B", true, new { @id = "radBasic" })廠商基本資料
                            </label>
                        </div>  
                    </div>                                      
                </div>
                <div class="form-inline">
                    <div class="form-group col-md-5">
                        <div class="radio">
                            <label>
                                @Html.RadioButton("importType", "C", false, new { @id = "radContact" })廠商聯絡人
                            </label>
                        </div>
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control" id="id_vendor1" name="vendorId1" readonly="readonly" />
                        <span class="input-group-addon selectVendor" style="cursor:pointer;" data-toggle="modal" data-target="#importSelect2" id="C"><span class="fa fa-hand-pointer-o"></span></span>
                    </div>
                    <div class="form-group">
                        <span style="display: inline;" id="spName1"></span>
                        <input type="hidden" id="id_vendorName1" name="vendorName1" />
                    </div>
                </div>
                <div class="form-inline">
                    <div class="form-group col-md-5">
                        <div class="radio">
                            <label>
                                @Html.RadioButton("importType", "A", false, new { @id = "radAddress" })廠商地址
                            </label>
                        </div>
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control" id="id_vendor2" name="vendorId2" readonly="readonly" />
                        <span class="input-group-addon selectVendor" style="cursor:pointer;" data-toggle="modal" data-target="#importSelect2" id="A"><span class="fa fa-hand-pointer-o"></span></span>
                    </div>
                    <div class="form-group">
                        <span style="display: inline;" id="spName2"></span>
                        <input type="hidden" id="id_vendorName2" name="vendorName2" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-primary" id="importSelect1_btnImport" data-toggle="modal" data-target="#imageUploader">
                    <span class="glyphicon glyphicon-import" aria-hidden="true"></span> 匯入
                </button>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="importType" />

@RenderPage("~/Areas/CMSI10/Views/Shared/advanced-import2-modal.cshtml")
@using REGAL.MVC.UI.Bootstrap;
@(Html.REGAL().FileUpload(name: "imageUploader", description: "The maximum file upload size is 500 KB.", cssClass: "modal-vertical-center"))  