<section class="content-header">
    <h1>送廠申請審核作業</h1>
</section>
<section class="content">
@using (Ajax.BeginForm("Index", "Main", FormMethod.Post, new AjaxOptions { UpdateTargetId = "DivGrid" }))
{
    <div class="toolbar-container">
        <a class="btn btn-primary" href="" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>指定結案</a>
        <button type="submit" class="btn btn-primary" id="btnExport" name="action" value="btnExport" aria-label="Left Align">
            <span class="glyphicon glyphicon-export" aria-hidden="true"></span> 匯出
        </button>
    </div>
}
@using (Ajax.BeginForm("Index", "Main", FormMethod.Post, new AjaxOptions { UpdateTargetId = "DivGrid" }))
{
    <div class="basic-search-container form-horizontal">
        <div class="form-group">
            <div class="col-sm-24">
                <label for="id_CustomerId" class="control-label">客戶代號</label>
                <select class="form-control" style="width: 100px;display:inline;" name="selCond1">
                    @if (ViewBag.selCond1 == "=")
                    {
                        <option value="=" selected>=</option>
                    }
                    else
                    {
                        <option value="=">=</option>
                    }
                    else
                    {
                    <option value=">">></option>
                    }
                    @if (ViewBag.selCond1 == "<=")
                    {
                        <option value="<=" selected><=</option>
                    }
                    else
                    {
                        <option value="<="><=</option>
                    }
                    @if (ViewBag.selCond1 == "<")
                    {
                        <option value="<" selected><</option>
                    }
                    else
                    {
                        <option value="<"><</option>
                    }
                    @if (ViewBag.selCond1 == ">")
                    {
                        <option value=">" selected>></option>
                    }
                    else
                    {
                        <option value=">">></option>
                    }
                    @if (ViewBag.selCond1 == ">=")
                    {
                        <option value=">=" selected>>=</option>
                    }
                    else
                    {
                        <option value=">=">>=</option>
                    }
                    @if (ViewBag.selCond1 == "<>")
                    {
                        <option value="<>" selected><></option>
                    }
                    else
                    {
                        <option value="<>"><></option>
                    }
                    @if (ViewBag.selCond1 == "like%")
                    {
                        <option value="like%" selected>like%</option>
                    }
                    else
                    {
                        <option value="like%">like%</option>
                    }
                    @if (ViewBag.selCond1 == "%like")
                    {
                        <option value="%like" selected>%like</option>
                    }
                    else
                    {
                        <option value="%like">%like</option>
                    }
                    @if (ViewBag.selCond1 == "%like%")
                    {
                        <option value="%like%" selected>%like%</option>
                    }
                    else
                    {
                        <option value="%like%">%like%</option>
                    }
                </select>
                <input type="text" class="form-control" id="CustomerId" name="CustomerId" style="width:200px;display:inline;" value="@ViewBag.CustomerId" />
                <label for="id_ReceiveDate" class="control-label">接收日期</label>
                <select class="form-control" style="width: 100px;display:inline;" name="selCond2">
                    @if (ViewBag.selCond2 == "=")
                    {
                        <option value="=" selected>=</option>
                    }
                    else
                    {
                        <option value="=">=</option>
                    }
                    @if (ViewBag.selCond2 == ">")
                    {
                        <option value=">" selected>></option>
                    }
                    else
                    {
                        <option value=">">></option>
                    }
                    @if (ViewBag.selCond2 == ">=")
                    {
                        <option value=">=" selected>>=</option>
                    }
                    else
                    {
                        <option value=">=">>=</option>
                    }
                    @if (ViewBag.selCond2 == "<")
                    {
                        <option value="<" selected><</option>
                    }
                    else
                    {
                        <option value="<"><</option>
                    }
                    else
                    {
                    <option value=">">></option>
                    }
                    @if (ViewBag.selCond2 == "<=")
                    {
                        <option value="<=" selected><=</option>
                    }
                    else
                    {
                        <option value="<="><=</option>
                    }
                    @if (ViewBag.selCond2 == "<>")
                    {
                        <option value="<>" selected><></option>
                    }
                    else
                    {
                        <option value="<>"><></option>
                    }
                    @if (ViewBag.selCond2 == "like%")
                    {
                        <option value="like%" selected>like%</option>
                    }
                    else
                    {
                        <option value="like%">like%</option>
                    }
                    @if (ViewBag.selCond2 == "%like")
                    {
                        <option value="%like" selected>%like</option>
                    }
                    else
                    {
                        <option value="%like">%like</option>
                    }
                    @if (ViewBag.selCond2 == "%like%")
                    {
                        <option value="%like%" selected>%like%</option>
                    }
                    else
                    {
                        <option value="%like%">%like%</option>
                    }
                </select>
                <input type="text" class="form-control" id="ReceiveDate" name="ReceiveDate" style="width:200px;display:inline;" value="@ViewBag.ReceiveDate" />
                <button type="submit" class="btn btn-default" id="btnSearch" name="action" value="btnSearch" aria-label="Left Align" style="display: inline-block;">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-link" aria-label="Left Align" data-toggle="modal" data-target=".advanced-search-modal" style="display: inline-block;">
                    進階查詢
                </button>
            </div>
        </div>
    </div>
    var grid = new WebGrid(source: (IEnumerable<BusinessLayer.Models.RMAApl>)ViewData["RMAApl"], canPage: false, canSort: false, ajaxUpdateContainerId: "divGrid");

    @grid.GetHtml(
          tableStyle: "table table-striped table-hover rms-table rmab02-table",
         columns: grid.Columns(
              grid.Column(columnName: "", header: "動作", style: "column-two-actions", format: @<text>
                <a href="@Url.Action("Edit", "Main", new { RMAAplType = @item.RMAAplType, RMAAplNo = @item.RMAAplNo })">編輯</a>
                <a href="#" onclick="deleteInfo('@Url.Action("Delete", "Main", new { RMAAplType = @item.RMAAplType, RMAAplNo = @item.RMAAplNo })','@item.RMAAplType - @item.RMAAplNo')">刪除</a>
            </text>, canSort: false),
         grid.Column(columnName: "RMAAplType", header: "單別", style: "RMAAplType"),
         grid.Column(columnName: "OrderSName", header: "單據名稱", style: "OrderSName"),
         grid.Column(columnName: "RMAAplNo", header: "單號", style: "RMAAplNo", format:
        @<text>
            <a href="@Url.Action("Details", "Main", new { RMAAplType = @item.RMAAplType, RMAAplNo = @item.RMAAplNo })">@item.RMAAplNo</a>
        </text>),
         grid.Column(columnName: "CustomerName", header: "客戶簡稱", style: "CustomerName"),
         grid.Column(columnName: "ProductNo", header: "品號", style: "ProductNo"),
         grid.Column(columnName: "ProductName", header: "品名", style: "ProductName"),
         grid.Column(columnName: "SerialNo", header: "序號", style: "SerialNo"),
         grid.Column(columnName: "StatusCode", header: "狀態", style: "StatusCode"),
         grid.Column(columnName: "CreatorName", header: "建立人員", style: "CreatorName")
         )
     )
    @RenderPage("~/Areas/RMAB02/Views/Shared/advanced-search-modal.cshtml")
}
</section>
<input type="hidden" title="module" value="RMAB02" />

@RenderPage("../../../../Views/Shared/RecordSelector/delete-dialog.cshtml")
@RenderPage("../../../../Views/Shared/RecordSelector/msg-dialog.cshtml")
@using REGAL.MVC.UI.Bootstrap;
@(Html.REGAL().FileUpload(name: "imageUploader", description: "The maximum file upload size is 500 KB.", cssClass: "modal-vertical-center"))
