<script type="text/javascript">
    function DeleteOrder(id) {
        var OrderType = $(id).closest('tr').find(".asignordertype").html();
        var OrderCategory = $(id).closest('tr').find(".strAssignOrderNo").val();
        var Version = $(id).closest('tr').find(".version").html();
        $("#choose_msg_information").html("是否確定刪除" + OrderCategory + "？");
        $('.choose-msg-modal-lg').modal();
        $(".btnChoose").on("click", function () {
            if ($(this).attr("value") == "True") {
                if (OrderType.trim().length == 0)
                {
                    return;
                }
                $.ajax({
                    url: '@Url.Action("Delete", "Main")',
                    data: JSON.stringify({ "AsignOrderType": OrderType, "AsignOrderNo": OrderCategory, "Version": Version }),
                    type: 'POST',
                    async: false,
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        var strData = data.split('-');
                        if (strData[0] == "OK") {
                            $(id).parents('tr:first').remove();
                        } else {
                            OrderType = "";
                            OrderCategory = "";
                            Version = "";
                            $("#msg_information").html(strData[1]);
                            $('.msg-modal-lg').modal();
                        }
                    }
                })
            }
        })
    }
</script>
<section class="content-header">
    <h1>維修變更單維護</h1>
</section>
<section class="content">
    @using (Ajax.BeginForm("Index", "Main", FormMethod.Post, new AjaxOptions { UpdateTargetId = "DivGrid" }))
    {
        <div class="toolbar-container">
            <a class="btn btn-primary" href="@Url.Action("CUR", "Main", null)" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 新增</a>
            <button type="submit" class="btn btn-primary" id="btnExport" name="action" value="btnExport" aria-label="Left Align">
                <span class="glyphicon glyphicon-export" aria-hidden="true"></span> 匯出
            </button>
        </div>
    }
    @using (Ajax.BeginForm("Index", "Main", FormMethod.Post, new AjaxOptions { UpdateTargetId = "DivGrid" }))
    {
        <div class="basic-search-container form-horizontal">
            <div class="form-group">
                <div class="col-sm-24">
                    <label for="id_orderno" class="control-label">單號</label>
                    <select class="form-control" style="width: 100px;display:inline;" name="selCond1">
                        @if (ViewBag.selCond1 == "=")
                        {
                            <option value="=" selected>=</option>
                        }
                        else
                        {
                            <option value="=">=</option>
                        }
                        @if (ViewBag.selCond1 == ">")
                        {
                            <option value=">" selected>></option>
                        }
                        else
                        {
                            <option value=">">></option>
                        }
                        @if (ViewBag.selCond1 == ">=")
                        {
                            <option value=">=" selected>>=</option>
                        }
                        else
                        {
                            <option value=">=">>=</option>
                        }
                        @if (ViewBag.selCond1 == "<")
                        {
                            <option value="<" selected><</option>
                        }
                        else
                        {
                            <option value="<"><</option>
                        }
                        @if (ViewBag.selCond1 == ">=")
                        {
                            <option value=">=" selected>>=</option>
                        }
                        else
                        {
                            <option value=">=">>=</option>
                        }
                        @if (ViewBag.selCond1 == "<>")
                        {
                            <option value="<>" selected><></option>
                        }
                        else
                        {
                            <option value="<>"><></option>
                        }
                        @if (ViewBag.selCond1 == "like%")
                        {
                            <option value="like%" selected>like%</option>
                        }
                        else
                        {
                            <option value="like%">like%</option>
                        }
                        @if (ViewBag.selCond1 == "%like")
                        {
                            <option value="%like" selected>%like</option>
                        }
                        else
                        {
                            <option value="%like">%like</option>
                        }
                        @if (ViewBag.selCond1 == "%like%")
                        {
                            <option value="%like%" selected>%like%</option>
                        }
                        else
                        {
                            <option value="%like%">%like%</option>
                        }
                    </select>
                    <input type="text" class="form-control" id="id_AsignOrderNo" name="AsignOrderNo" style="width:200px;display:inline;" value="@ViewBag.AsignOrderNo" />
                    <label for="id_customerid" class="control-label">客戶代號</label>
                    <select class="form-control" style="width: 100px;display:inline;" name="selCond2">
                        @if (ViewBag.selCond2 == "=")
                        {
                            <option value="=" selected>=</option>
                        }
                        else
                        {
                            <option value="=">=</option>
                        }
                        @if (ViewBag.selCond2 == ">")
                        {
                            <option value=">" selected>></option>
                        }
                        else
                        {
                            <option value=">">></option>
                        }
                        @if (ViewBag.selCond2 == ">=")
                        {
                            <option value=">=" selected>>=</option>
                        }
                        else
                        {
                            <option value=">=">>=</option>
                        }
                        @if (ViewBag.selCond2 == "<")
                        {
                            <option value="<" selected><</option>
                        }
                        else
                        {
                            <option value="<"><</option>
                        }
                        @if (ViewBag.selCond2 == ">=")
                        {
                            <option value=">=" selected>>=</option>
                        }
                        else
                        {
                            <option value=">=">>=</option>
                        }
                        @if (ViewBag.selCond2 == "<>")
                        {
                            <option value="<>" selected><></option>
                        }
                        else
                        {
                            <option value="<>"><></option>
                        }
                        @if (ViewBag.selCond2 == "like%")
                        {
                            <option value="like%" selected>like%</option>
                        }
                        else
                        {
                            <option value="like%">like%</option>
                        }
                        @if (ViewBag.selCond2 == "%like")
                        {
                            <option value="%like" selected>%like</option>
                        }
                        else
                        {
                            <option value="%like">%like</option>
                        }
                        @if (ViewBag.selCond2 == "%like%")
                        {
                            <option value="%like%" selected>%like%</option>
                        }
                        else
                        {
                            <option value="%like%">%like%</option>
                        }
                    </select>
                    <input type="text" class="form-control" id="id_customerid" name="customerid" style="width:200px;display:inline;" value="@ViewBag.CustomerId">
                    <button type="submit" class="btn btn-default" id="btnSearch" name="action" value="btnSearch" aria-label="Left Align" style="display: inline-block;">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-link" aria-label="Left Align" data-toggle="modal" data-target=".advanced-search-modal" style="display: inline-block;">
                        進階查詢
                    </button>
                </div>
                
            </div>
        </div>
        var grid = new WebGrid(source: (IEnumerable<BusinessLayer.Models.RGAChange_H>)ViewData["RGAChange_H"], canPage: false, canSort: true, ajaxUpdateContainerId: "divGrid");


        @grid.GetHtml(
                         tableStyle: "table table-striped table-hover rms-table seri07-table",
                    columns: grid.Columns(
                             grid.Column(columnName: "", header: "動作", style: "column-three-actions", format: @<text>
                            <a href="@Url.Action("Edit", "Main", new { RGAType = @item.RGAType, RGANo = @item.RGANo })">編輯</a>
                            <a onclick="DeleteOrder(this)" href="#">刪除</a>
                        </text>, canSort: false),
                            grid.Column(columnName: "RGAType", header: "單別", style: "RGAType"),
                            grid.Column(columnName: "RGANo", header: "單號", style: "RGANo", format:@<text><a href="@Url.Action("Details", "Main", new { RGAType = @item.RGAType, RGANo = @item.RGANo })">@item.RGANo</a></text>),
                            grid.Column(columnName: "Version", header: "版次", style: "version"),
                            grid.Column(columnName: "OrderDate", header: "單據日期", style: "orderdate"),
                            grid.Column(columnName: "NewCustomerId", header: "客戶名稱", style: "NewCustomerId"),
                            grid.Column(columnName: "NewAddressSName", header: "客戶地址", style: "NewAddressSName"),
                            grid.Column(columnName: "NewProductNo", header: "品號", style: "NewProductNo"),
                            grid.Column(columnName: "NewProductName", header: "品名", style: "NewProductName"),
                            grid.Column(columnName: "NewSerialNo", header: "序號", style: "NewSerialNo"),
                            grid.Column(columnName: "Confirmed", header: "狀態碼", style: "Confirmed"),
                            grid.Column(columnName: "Repairman", header: "維修人員", style: "Repairman"),
                            grid.Column(columnName: "NewRemark", header: "備註", style: "NewRemark")
                            )
                        )
        <p style="color: red;">@ViewBag.Msg</p>
        @RenderPage("~/Areas/SUPI07/Views/Shared/advanced-search-modal.cshtml")
    }
</section>
<input type="hidden" title="module" value="SUPI07" />
@RenderPage("../../../../Views/Shared/RecordSelector/delete-dialog.cshtml")
@RenderPage("../../../../Views/Shared/RecordSelector/msg-dialog.cshtml")
@RenderPage("../../../../Views/Shared/RecordSelector/choose-msg-dialog.cshtml")
